openapi: 3.0.2
info:
  title: Spot REST API
  description: 访问市场数据、管理账户，并在 Binance 现货市场交易。
  version: 1.0.0
  termsOfService: https://www.binance.com/en/terms
  contact:
    name: Binance API Support
    url: https://www.binance.com/en/support
x-product-type: rest-api
x-rate-limits-guide: products/spot/rest-api#访问限制
x-security-guide: products/spot/rest-api#请求鉴权类型
x-api-key-guide: https://www.binance.com/cn/support/faq/detail/360002502072
externalDocs:
  description: Spot docs
  url: https://developers.binance.com/en/docs/products/spot
tags:
  - name: general
    x-displayName: 通用
  - name: market
    x-displayName: 行情
  - name: trade
    x-displayName: 交易
  - name: account
    x-displayName: 账户
servers:
  - url: https://api.binance.com
  - url: https://api-gcp.binance.com
  - url: https://api1.binance.com
  - url: https://api2.binance.com
  - url: https://api3.binance.com
  - url: https://api4.binance.com
  - url: https://data-api.binance.vision
  - url: https://testnet.binance.vision
  - url: https://api1.testnet.binance.vision
paths:
  /api/v3/account/commission:
    get:
      summary: 查询佣金费率
      description: 获取当前账户的佣金费率。
      tags:
        - account
      operationId: accountCommission
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/account#account-commission
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/AccountApi/accountCommission.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/account_api/account_commission.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Account/account_commission.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/account/AccountCommissionExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/AccountAPI/AccountCommission/AccountCommission.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/account/AccountCommissionExample.php
      x-ip-weight: 20
      x-security-type: USER_DATA
      x-signed: true
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: BTCUSDT
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1770736694138
            format: int64
          description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      x-parameters-notes: '**数据源:** 数据库'
      responses:
        '200':
          description: 查询佣金费率
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    example: BTCUSDT
                  standardCommission:
                    type: object
                    properties:
                      maker:
                        type: string
                        example: '0.00000010'
                      taker:
                        type: string
                        example: '0.00000020'
                      buyer:
                        type: string
                        example: '0.00000030'
                      seller:
                        type: string
                        example: '0.00000040'
                    description: 订单交易的标准佣金率。
                  specialCommission:
                    type: object
                    properties:
                      maker:
                        type: string
                        example: '0.01000000'
                      taker:
                        type: string
                        example: '0.02000000'
                      buyer:
                        type: string
                        example: '0.03000000'
                      seller:
                        type: string
                        example: '0.04000000'
                    description: 订单交易的特殊佣金率。
                  taxCommission:
                    type: object
                    properties:
                      maker:
                        type: string
                        example: '0.00000112'
                      taker:
                        type: string
                        example: '0.00000114'
                      buyer:
                        type: string
                        example: '0.00000118'
                      seller:
                        type: string
                        example: '0.00000116'
                    description: 订单交易的税率。
                  discount:
                    type: object
                    properties:
                      enabledForAccount:
                        type: boolean
                        example: true
                      enabledForSymbol:
                        type: boolean
                        example: true
                      discountAsset:
                        type: string
                        example: BNB
                      discount:
                        type: string
                        example: '0.75000000'
                        description: 当用BNB支付佣金时，在标准佣金上按此比率打折
                    description: 使用BNB支付时的佣金折扣。
  /api/v3/allOrderList:
    get:
      summary: 查询所有订单列表
      description: |-
        根据提供的可选参数检索所有的订单列表。

        请注意，`startTime`和`endTime`之间的时间不能超过 24 小时。
      tags:
        - account
      operationId: allOrderList
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/account#all-order-list
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/AccountApi/allOrderList.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/account_api/all_order_list.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Account/all_order_list.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/account/AllOrderListExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/AccountAPI/AllOrderList/AllOrderList.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/account/AllOrderListExample.php
      x-ip-weight: 20
      x-security-type: USER_DATA
      x-signed: true
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
        - name: fromId
          in: query
          required: false
          description: 提供该项后, startTime 和 endTime 都不可提供
          schema:
            type: integer
            format: int64
            example: 1
        - name: startTime
          in: query
          required: false
          schema:
            type: integer
            format: int64
            example: 1735693200000
        - name: endTime
          in: query
          required: false
          schema:
            type: integer
            format: int64
            example: 1735693200000
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            example: 1
            default: 500
            maximum: 1000
        - name: recvWindow
          in: query
          required: false
          description: 支持最多三位小数的精度（例如 6000.346），以便可以指定微秒。
          schema:
            type: number
            format: float
            example: 5000
            maximum: 60000
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1770736694138
            format: int64
          description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      x-parameters-notes: '**数据源**: 数据库'
      responses:
        '200':
          description: 查询所有订单列表
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    orderListId:
                      type: integer
                      format: int64
                      example: 29
                    contingencyType:
                      type: string
                      example: OCO
                    listStatusType:
                      type: string
                      example: EXEC_STARTED
                    listOrderStatus:
                      type: string
                      example: EXECUTING
                    listClientOrderId:
                      type: string
                      example: amEEAXryFzFwYF1FeRpUoZ
                    transactionTime:
                      type: integer
                      format: int64
                      example: 1565245913483
                    symbol:
                      type: string
                      example: LTCBTC
                    orders:
                      type: array
                      items:
                        type: object
                        properties:
                          symbol:
                            type: string
                            example: LTCBTC
                          orderId:
                            type: integer
                            format: int64
                            example: 4
                          clientOrderId:
                            type: string
                            example: oD7aesZqjEGlZrbtRpy5zB
  /api/v3/allOrders:
    get:
      summary: All 订单
      description: 获取all 账户 订单; active, canceled, 或 filled.
      tags:
        - account
      operationId: allOrders
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/account#all-orders
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/AccountApi/allOrders.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/account_api/all_orders.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Account/all_orders.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/account/AllOrdersExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/AccountAPI/AllOrders/AllOrders.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/account/AllOrdersExample.php
      x-ip-weight: 20
      x-security-type: USER_DATA
      x-signed: true
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: LTCBTC
        - name: orderId
          in: query
          required: false
          schema:
            type: integer
            format: int64
            example: 1
        - name: startTime
          in: query
          required: false
          schema:
            type: integer
            format: int64
            example: 1735693200000
        - name: endTime
          in: query
          required: false
          schema:
            type: integer
            format: int64
            example: 1735693200000
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            example: 1
            default: 500
            maximum: 1000
        - name: recvWindow
          in: query
          required: false
          description: 最大值为 `60000` 毫秒。 <br> 支持最多三位小数的精度（例如 6000.346），以便可以指定微秒。
          schema:
            type: number
            format: float
            example: 5000
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1770736694138
            format: int64
          description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      x-parameters-notes: |-
        **数据源**: 数据库

        - **注意:** * 如设置 `orderId` , 订单量将 >= `orderId`。否则将返回最新订单。
        - 一些历史订单 `cummulativeQuoteQty` < 0, 是指数据此时不存在。
        - 如果设置 `startTime` 和 `endTime`, `orderId` 就不需要设置。
        - `startTime`和`endTime`之间的时间不能超过 24 小时。 **数据源:** 数据库
      responses:
        '200':
          description: All 订单
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      example: LTCBTC
                    orderId:
                      type: integer
                      format: int64
                      example: 1
                    orderListId:
                      type: integer
                      format: int64
                      example: -1
                      description: 除非此单是订单列表的一部分, 否则此值为 -1
                    clientOrderId:
                      type: string
                      example: myOrder1
                    price:
                      type: string
                      example: '0.1'
                    origQty:
                      type: string
                      example: '1.0'
                    executedQty:
                      type: string
                      example: '0.0'
                    cummulativeQuoteQty:
                      type: string
                      example: '0.0'
                    status:
                      type: string
                      example: NEW
                    timeInForce:
                      type: string
                      example: GTC
                    type:
                      type: string
                      example: LIMIT
                    side:
                      type: string
                      example: BUY
                    stopPrice:
                      type: string
                      example: '0.00000000'
                      description: 出现在 STOP_LOSS, TAKE_PROFIT, STOP_LOSS_LIMIT 和 TAKE_PROFIT_LIMIT 订单中。
                    icebergQty:
                      type: string
                      example: '0.00000000'
                      description: 仅在请求中发送了 icebergQty 参数时出现。
                    time:
                      type: integer
                      format: int64
                      example: 1499827319559
                    updateTime:
                      type: integer
                      format: int64
                      example: 1499827319559
                    isWorking:
                      type: boolean
                      example: true
                    origQuoteOrderQty:
                      type: string
                      example: '0.000000'
                    workingTime:
                      type: integer
                      format: int64
                      example: 1499827319559
                    selfTradePreventionMode:
                      type: string
                      example: NONE
                    preventedMatchId:
                      type: integer
                      format: int64
                      example: 0
                      description: 仅在因 STP 导致订单失效时出现。
                    preventedQuantity:
                      type: string
                      example: '1.200000'
                      description: 因 STP 导致订单失效的数量。
                    strategyId:
                      type: integer
                      format: int64
                      example: 1
                      description: 仅在下单时提供了 strategyId 参数时出现。
                    strategyType:
                      type: integer
                      format: int64
                      example: 1000000
                      description: 仅在下单时提供了 strategyType 参数时出现。
                    trailingDelta:
                      type: integer
                      format: int64
                      example: 10
                      description: 订单激活前所需的价格变动。
                    trailingTime:
                      type: integer
                      format: int64
                      example: -1
                      description: 追踪单被激活和跟踪价格变化的时间。
                    usedSor:
                      type: boolean
                      example: true
                      description: 用于确定订单是否使用SOR的字段。
                    workingFloor:
                      type: string
                      example: SOR
                      description: 用以定义订单是通过 SOR 还是由订单簿成交的。
                    pegPriceType:
                      type: string
                      example: PRIMARY_PEG
                      description: 挂钩价格类型。仅用于挂钩订单。
                    pegOffsetType:
                      type: string
                      example: PRICE_LEVEL
                      description: 挂钩价格偏移类型。如若需要，仅用于挂钩订单。
                    pegOffsetValue:
                      type: integer
                      format: int64
                      example: 5
                      description: 挂钩价格偏移值。如若需要，仅用于挂钩订单。
                    peggedPrice:
                      type: string
                      example: '87523.83710000'
                      description: 订单对应的当前挂钩价格。一旦确定，仅用于挂钩订单。
                    expiryReason:
                      type: string
                      example: INSUFFICIENT_LIQUIDITY
                      description: 订单过期的原因。当订单过期时出现。
  /api/v3/account:
    get:
      summary: 账户信息
      description: 获取当前账户信息。
      tags:
        - account
      operationId: getAccount
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/account#get-account
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/AccountApi/getAccount.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/account_api/get_account.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Account/get_account.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/account/GetAccountExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/AccountAPI/GetAccount/GetAccount.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/account/GetAccountExample.php
      x-ip-weight: 20
      x-security-type: USER_DATA
      x-signed: true
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
        - name: omitZeroBalances
          in: query
          required: false
          description: 如果`true`，将隐藏所有零余额。
          schema:
            type: boolean
            example: false
            default: false
        - name: recvWindow
          in: query
          required: false
          description: 支持最多三位小数的精度（例如 6000.346），以便可以指定微秒。
          schema:
            type: number
            format: float
            example: 5000
            maximum: 60000
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1770736694138
            format: int64
          description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      x-parameters-notes: '**数据源:** 缓存 => 数据库'
      responses:
        '200':
          description: 账户信息
          content:
            application/json:
              schema:
                type: object
                properties:
                  makerCommission:
                    type: integer
                    format: int64
                    example: 15
                  takerCommission:
                    type: integer
                    format: int64
                    example: 15
                  buyerCommission:
                    type: integer
                    format: int64
                    example: 0
                  sellerCommission:
                    type: integer
                    format: int64
                    example: 0
                  commissionRates:
                    type: object
                    properties:
                      maker:
                        type: string
                        example: '0.00150000'
                      taker:
                        type: string
                        example: '0.00150000'
                      buyer:
                        type: string
                        example: '0.00000000'
                      seller:
                        type: string
                        example: '0.00000000'
                  canTrade:
                    type: boolean
                    example: true
                  canWithdraw:
                    type: boolean
                    example: true
                  canDeposit:
                    type: boolean
                    example: true
                  brokered:
                    type: boolean
                    example: false
                  requireSelfTradePrevention:
                    type: boolean
                    example: false
                  preventSor:
                    type: boolean
                    example: false
                  updateTime:
                    type: integer
                    format: int64
                    example: 123456789
                  accountType:
                    type: string
                    example: SPOT
                  balances:
                    type: array
                    items:
                      type: object
                      properties:
                        asset:
                          type: string
                          example: BTC
                        free:
                          type: string
                          example: '4723846.89208129'
                        locked:
                          type: string
                          example: '0.00000000'
                  permissions:
                    type: array
                    items:
                      type: string
                      example: SPOT
                  uid:
                    type: integer
                    format: int64
                    example: 354937868
  /api/v3/openOrders:
    get:
      summary: 查看账户当前挂单
      description: 请小心使用不带symbol参数的调用
      tags:
        - account
      operationId: getOpenOrders
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/account#get-open-orders
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/AccountApi/getOpenOrders.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/account_api/get_open_orders.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Account/get_open_orders.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/account/GetOpenOrdersExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/AccountAPI/GetOpenOrders/GetOpenOrders.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/account/GetOpenOrdersExample.php
      x-security-type: USER_DATA
      x-signed: true
      x-weight: 6 for a single symbol; 80 when the symbol parameter is omitted
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
        - name: symbol
          in: query
          required: false
          schema:
            type: string
            example: LTCBTC
        - name: recvWindow
          in: query
          required: false
          description: 支持最多三位小数的精度（例如 6000.346），以便可以指定微秒。
          schema:
            type: number
            format: float
            example: 5000
            maximum: 60000
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1770736694138
            format: int64
          description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      x-parameters-notes: |-
        **数据源:** 缓存 => 数据库

        - 不带symbol参数，会返回所有交易对的挂单
      responses:
        '200':
          description: 查看账户当前挂单
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      example: LTCBTC
                    orderId:
                      type: integer
                      format: int64
                      example: 1
                    orderListId:
                      type: integer
                      format: int64
                      example: -1
                      description: 除非此单是订单列表的一部分, 否则此值为 -1
                    clientOrderId:
                      type: string
                      example: myOrder1
                    price:
                      type: string
                      example: '0.1'
                    origQty:
                      type: string
                      example: '1.0'
                    executedQty:
                      type: string
                      example: '0.0'
                    origQuoteOrderQty:
                      type: string
                      example: '0.000000'
                    cummulativeQuoteQty:
                      type: string
                      example: '0.0'
                    status:
                      type: string
                      example: NEW
                    timeInForce:
                      type: string
                      example: GTC
                    type:
                      type: string
                      example: LIMIT
                    side:
                      type: string
                      example: BUY
                    stopPrice:
                      type: string
                      example: '0.00000000'
                      description: 出现在 STOP_LOSS, TAKE_PROFIT, STOP_LOSS_LIMIT 和 TAKE_PROFIT_LIMIT 订单中。
                    icebergQty:
                      type: string
                      example: '0.00000000'
                      description: 仅在请求中发送了 icebergQty 参数时出现。
                    time:
                      type: integer
                      format: int64
                      example: 1499827319559
                    updateTime:
                      type: integer
                      format: int64
                      example: 1499827319559
                    isWorking:
                      type: boolean
                      example: true
                    workingTime:
                      type: integer
                      format: int64
                      example: 1499827319559
                    selfTradePreventionMode:
                      type: string
                      example: NONE
                    preventedMatchId:
                      type: integer
                      format: int64
                      example: 0
                      description: 仅在因 STP 导致订单失效时出现。
                    preventedQuantity:
                      type: string
                      example: '1.200000'
                      description: 因 STP 导致订单失效的数量。
                    strategyId:
                      type: integer
                      format: int64
                      example: 1
                      description: 仅在下单时提供了 strategyId 参数时出现。
                    strategyType:
                      type: integer
                      format: int64
                      example: 1000000
                      description: 仅在下单时提供了 strategyType 参数时出现。
                    trailingDelta:
                      type: integer
                      format: int64
                      example: 10
                      description: 订单激活前所需的价格变动。
                    trailingTime:
                      type: integer
                      format: int64
                      example: -1
                      description: 追踪单被激活和跟踪价格变化的时间。
                    usedSor:
                      type: boolean
                      example: true
                      description: 用于确定订单是否使用SOR的字段。
                    workingFloor:
                      type: string
                      example: SOR
                      description: 用以定义订单是通过 SOR 还是由订单簿成交的。
                    pegPriceType:
                      type: string
                      example: PRIMARY_PEG
                      description: 挂钩价格类型。仅用于挂钩订单。
                    pegOffsetType:
                      type: string
                      example: PRICE_LEVEL
                      description: 挂钩价格偏移类型。如若需要，仅用于挂钩订单。
                    pegOffsetValue:
                      type: integer
                      format: int64
                      example: 5
                      description: 挂钩价格偏移值。如若需要，仅用于挂钩订单。
                    peggedPrice:
                      type: string
                      example: '87523.83710000'
                      description: 订单对应的当前挂钩价格。一旦确定，仅用于挂钩订单。
                    expiryReason:
                      type: string
                      example: INSUFFICIENT_LIQUIDITY
                      description: 订单过期的原因。当订单过期时出现。
    delete:
      summary: 撤销单一交易对的所有挂单
      description: 撤销单一交易对下所有挂单。这也包括了来自订单列表的挂单。
      tags:
        - trade
      operationId: deleteOpenOrders
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/trade#delete-open-orders
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/TradeApi/deleteOpenOrders.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/trade_api/delete_open_orders.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Trade/delete_open_orders.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/trade/DeleteOpenOrdersExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/TradeAPI/DeleteOpenOrders/DeleteOpenOrders.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/trade/DeleteOpenOrdersExample.php
      x-ip-weight: 1
      x-security-type: TRADE
      x-signed: true
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: BNBUSDT
        - name: recvWindow
          in: query
          required: false
          description: 支持最多三位小数的精度（例如 6000.346），以便可以指定微秒。
          schema:
            type: number
            format: float
            example: 5000
            maximum: 60000
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1770736694138
            format: int64
          description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      x-parameters-notes: '**数据源:** 撮合引擎'
      responses:
        '200':
          description: 撤销单一交易对的所有挂单
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      example: BTCUSDT
                    origClientOrderId:
                      type: string
                      example: E6APeyTJvkMvLMYMqu1KQ4
                    orderId:
                      type: integer
                      format: int64
                      example: 11
                    orderListId:
                      type: integer
                      format: int64
                      example: -1
                    clientOrderId:
                      type: string
                      example: pXLV6Hz6mprAcVYpVMTGgx
                    transactTime:
                      type: integer
                      format: int64
                      example: 1684804350068
                    price:
                      type: string
                      example: '0.089853'
                    origQty:
                      type: string
                      example: '0.178622'
                    executedQty:
                      type: string
                      example: '0.000000'
                    origQuoteOrderQty:
                      type: string
                      example: '0.000000'
                    cummulativeQuoteQty:
                      type: string
                      example: '0.000000'
                    status:
                      type: string
                      example: CANCELED
                    timeInForce:
                      type: string
                      example: GTC
                    type:
                      type: string
                      example: LIMIT
                    side:
                      type: string
                      example: BUY
                    selfTradePreventionMode:
                      type: string
                      example: NONE
  /api/v3/order:
    get:
      summary: 查询订单
      description: 查询订单状态
      tags:
        - account
      operationId: getOrder
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/account#get-order
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/AccountApi/getOrder.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/account_api/get_order.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Account/get_order.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/account/GetOrderExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/AccountAPI/GetOrder/GetOrder.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/account/GetOrderExample.php
      x-ip-weight: 4
      x-security-type: USER_DATA
      x-signed: true
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: LTCBTC
        - name: orderId
          in: query
          required: false
          schema:
            type: integer
            format: int64
            example: 1
        - name: origClientOrderId
          in: query
          required: false
          schema:
            type: string
            example: myOrder1
        - name: recvWindow
          in: query
          required: false
          description: 支持最多三位小数的精度（例如 6000.346），以便可以指定微秒。
          schema:
            type: number
            format: float
            example: 5000
            maximum: 60000
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1770736694138
            format: int64
          description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      x-parameters-notes: |-
        **数据源:** 缓存 => 数据库

        - 至少需要发送 `orderId` 与 `origClientOrderId`中的一个。
        - 当同时提供 `orderId` 和 `origClientOrderId` 两个参数时，系统首先将会使用 `orderId` 来搜索订单。然后， 查找结果中的 `origClientOrderId` 的值将会被用来验证订单。如果两个条件都不满足，则请求将被拒绝。
        - 某些历史订单的 `cummulativeQuoteQty` 会 < 0, 表示当前暂无该数据。
      responses:
        '200':
          description: 查询订单
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    example: LTCBTC
                    description: symbol.
                  orderId:
                    type: integer
                    format: int64
                    example: 1
                    description: order Id.
                  orderListId:
                    type: integer
                    format: int64
                    example: -1
                    description: 除非此单是订单列表的一部分, 否则此值为 -1
                  clientOrderId:
                    type: string
                    example: myOrder1
                    description: client Order Id.
                  price:
                    type: string
                    example: '0.1'
                    description: price.
                  origQty:
                    type: string
                    example: '1.0'
                    description: orig Qty.
                  executedQty:
                    type: string
                    example: '0.0'
                    description: executed Qty.
                  origQuoteOrderQty:
                    type: string
                    example: '0.000000'
                    description: orig Quote Order Qty.
                  cummulativeQuoteQty:
                    type: string
                    example: '0.0'
                    description: cummulative Quote Qty.
                  status:
                    type: string
                    example: NEW
                    description: status.
                  timeInForce:
                    type: string
                    example: GTC
                    description: time In Force.
                  type:
                    type: string
                    example: LIMIT
                    description: type.
                  side:
                    type: string
                    example: BUY
                    description: side.
                  stopPrice:
                    type: string
                    example: '0.00000000'
                    description: 出现在 STOP_LOSS, TAKE_PROFIT, STOP_LOSS_LIMIT 和 TAKE_PROFIT_LIMIT 订单中。
                  icebergQty:
                    type: string
                    example: '0.00000000'
                    description: 仅在请求中发送了 icebergQty 参数时出现。
                  time:
                    type: integer
                    format: int64
                    example: 1499827319559
                    description: time.
                  updateTime:
                    type: integer
                    format: int64
                    example: 1499827319559
                    description: update Time.
                  isWorking:
                    type: boolean
                    example: true
                    description: is Working.
                  workingTime:
                    type: integer
                    format: int64
                    example: 1499827319559
                    description: working Time.
                  selfTradePreventionMode:
                    type: string
                    example: NONE
                    description: self Trade Prevention Mode.
                  preventedMatchId:
                    type: integer
                    format: int64
                    example: 0
                    description: 仅在因 STP 导致订单失效时出现。
                  preventedQuantity:
                    type: string
                    example: '1.200000'
                    description: 因 STP 导致订单失效的数量。
                  strategyId:
                    type: integer
                    format: int64
                    example: 1
                    description: 仅在下单时提供了 strategyId 参数时出现。
                  strategyType:
                    type: integer
                    format: int64
                    example: 1000000
                    description: 仅在下单时提供了 strategyType 参数时出现。
                  trailingDelta:
                    type: integer
                    format: int64
                    example: 10
                    description: 订单激活前所需的价格变动。
                  trailingTime:
                    type: integer
                    format: int64
                    example: -1
                    description: 追踪单被激活和跟踪价格变化的时间。
                  usedSor:
                    type: boolean
                    example: true
                    description: 用于确定订单是否使用SOR的字段。
                  workingFloor:
                    type: string
                    example: SOR
                    description: 用以定义订单是通过 SOR 还是由订单簿成交的。
                  pegPriceType:
                    type: string
                    example: PRIMARY_PEG
                    description: 挂钩价格类型。仅用于挂钩订单。
                  pegOffsetType:
                    type: string
                    example: PRICE_LEVEL
                    description: 挂钩价格偏移类型。如若需要，仅用于挂钩订单。
                  pegOffsetValue:
                    type: integer
                    format: int64
                    example: 5
                    description: 挂钩价格偏移值。如若需要，仅用于挂钩订单。
                  peggedPrice:
                    type: string
                    example: '87523.83710000'
                    description: 订单对应的当前挂钩价格。一旦确定，仅用于挂钩订单。
                  expiryReason:
                    type: string
                    example: INSUFFICIENT_LIQUIDITY
                    description: 订单过期的原因。当订单过期时出现。
    delete:
      summary: 撤销订单
      description: 撤销订单.
      tags:
        - trade
      operationId: deleteOrder
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/trade#delete-order
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/TradeApi/deleteOrder.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/trade_api/delete_order.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Trade/delete_order.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/trade/DeleteOrderExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/TradeAPI/DeleteOrder/DeleteOrder.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/trade/DeleteOrderExample.php
      x-ip-weight: 1
      x-security-type: TRADE
      x-signed: true
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: BNBUSDT
        - name: orderId
          in: query
          required: false
          schema:
            type: integer
            format: int64
            example: 1
        - name: origClientOrderId
          in: query
          required: false
          schema:
            type: string
            example: myOrder1
        - name: newClientOrderId
          in: query
          required: false
          description: 用户自定义的本次撤销操作的ID(注意不是被撤销的订单的自定义ID)。如无指定会自动赋值。
          schema:
            type: string
            example: cancelMyOrder1
        - name: cancelRestrictions
          in: query
          required: false
          schema:
            type: string
            enum:
              - ONLY_NEW
              - ONLY_PARTIALLY_FILLED
            example: ONLY_NEW
          description: '支持的值: <br>`ONLY_NEW` - 如果订单状态为 `NEW`，撤销将成功。<br> `ONLY_PARTIALLY_FILLED` - 如果订单状态为 `PARTIALLY_FILLED`，撤销将成功。'
        - name: recvWindow
          in: query
          required: false
          description: 支持最多三位小数的精度（例如 6000.346），以便可以指定微秒。
          schema:
            type: number
            format: float
            example: 5000
            maximum: 60000
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1770736694138
            format: int64
          description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      x-parameters-notes: |-
        **数据源:** 撮合引擎

        - `orderId` 与 `origClientOrderId` 必须至少发送一个。
        - 当同时提供 `orderId` 和 `origClientOrderId` 两个参数时，系统首先将会使用 `orderId` 来搜索订单。然后， 查找结果中的 `origClientOrderId` 的值将会被用来验证订单。如果两个条件都不满足，则请求将被拒绝。
      responses:
        '200':
          description: 撤销订单
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  symbol:
                    type: string
                    example: LTCBTC
                  orderId:
                    type: integer
                    format: int64
                    example: 4
                  orderListId:
                    type: integer
                    format: int64
                    example: -1
                    description: 除非此单是订单列表的一部分, 否则此值为 -1
                  origClientOrderId:
                    type: string
                    example: myOrder1
                  clientOrderId:
                    type: string
                    example: cancelMyOrder1
                  transactTime:
                    type: integer
                    format: int64
                    example: 1684804350068
                  price:
                    type: string
                    example: '2.00000000'
                  origQty:
                    type: string
                    example: '1.00000000'
                  executedQty:
                    type: string
                    example: '0.00000000'
                  origQuoteOrderQty:
                    type: string
                    example: '0.000000'
                  cummulativeQuoteQty:
                    type: string
                    example: '0.00000000'
                  status:
                    type: string
                    example: CANCELED
                  timeInForce:
                    type: string
                    example: GTC
                  type:
                    type: string
                    example: LIMIT
                  side:
                    type: string
                    example: BUY
                  selfTradePreventionMode:
                    type: string
                    example: NONE
                  icebergQty:
                    type: string
                    example: '0.00000000'
                    description: 冰山订单数量。仅当请求中发送了 `icebergQty` 参数时返回。
                  preventedMatchId:
                    type: integer
                    format: int64
                    example: 0
                    description: 与 `symbol` 搭配时可用于查询 prevented match。仅当订单因 STP 过期时返回。
                  preventedQuantity:
                    type: string
                    example: '1.200000'
                    description: 因 STP 过期的订单数量。仅当订单因 STP 过期时返回。
                  stopPrice:
                    type: string
                    example: '23500.00000000'
                    description: 算法订单触发价格。适用于 `STOP_LOSS`、`TAKE_PROFIT`、`STOP_LOSS_LIMIT` 和 `TAKE_PROFIT_LIMIT` 订单。
                  strategyId:
                    type: integer
                    format: int64
                    example: 37463720
                    description: 可用于标记订单策略中的订单。仅当请求中传入该参数时返回。
                  strategyType:
                    type: integer
                    format: int64
                    example: 1000000
                    description: 可用于标记使用订单策略的订单。仅当请求中传入该参数时返回。
                  trailingDelta:
                    type: integer
                    format: int64
                    example: 10
                    description: 订单激活前所需的价格变动幅度。适用于追踪止损订单。
                  trailingTime:
                    type: integer
                    format: int64
                    example: -1
                    description: 追踪订单激活并开始跟踪价格变化的时间。仅适用于追踪止损订单。
                  usedSor:
                    type: boolean
                    example: true
                    description: 表示订单是否使用了 SOR。仅在使用 SOR 下单时返回。
                  workingFloor:
                    type: string
                    example: SOR
                    description: 表示订单由 SOR 撮合还是由提交到的订单簿撮合。仅在使用 SOR 下单时返回。
                  pegPriceType:
                    type: string
                    example: PRIMARY_PEG
                    description: Peg 价格类型。仅适用于 pegged 订单。
                  pegOffsetType:
                    type: string
                    example: PRICE_LEVEL
                    description: Peg 价格偏移类型。仅适用于请求了该字段的 pegged 订单。
                  pegOffsetValue:
                    type: integer
                    format: int64
                    example: 5
                    description: Peg 价格偏移值。仅适用于请求了该字段的 pegged 订单。
                  peggedPrice:
                    type: string
                    example: '87523.83710000'
                    description: 订单当前 peg 到的价格。仅适用于已确定 peg 价格的订单。
                  expiryReason:
                    type: string
                    example: INSUFFICIENT_LIQUIDITY
                    description: 订单过期原因。仅当订单已过期时返回。
    post:
      summary: 下单
      description: 这个请求会把1个订单添加到 `EXCHANGE_MAX_ORDERS` 过滤器和 `MAX_NUM_ORDERS` 过滤器中。
      tags:
        - trade
      operationId: newOrder
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/trade#new-order
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/TradeApi/newOrder.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/trade_api/new_order.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Trade/new_order.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/trade/NewOrderExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/TradeAPI/NewOrder/NewOrder.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/trade/NewOrderExample.php
      x-ip-weight: 1
      x-order-weight: 1
      x-security-type: TRADE
      x-signed: true
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
      x-parameters-notes: |-
        **数据源:** 撮合引擎

        根据 order `type`的不同，某些参数 有强制要求，具体如下:

        Type | 强制要求的参数 | 其他信息
        ------------ | ------------ | ------------
        `LIMIT` | `timeInForce`, `quantity`, `price`
        `MARKET` | `quantity` |  市价买卖单可用`quantity`参数来设置`base asset`数量.<br/> 例如：BTCUSDT 市价单，BTC 买卖数量取决于`quantity`参数. <br/><br/>市价买卖单可用`quoteOrderQty`参数来设置`quote asset`数量. 正确的`quantity`取决于市场的流动性与`quoteOrderQty`<br/> 例如: 市价 `BUY` BTCUSDT，单子会基于`quoteOrderQty`- USDT 的数量，购买 BTC.<br/> 市价 `SELL` BTCUSDT，单子会卖出 BTC 来满足`quoteOrderQty`- USDT 的数量.
        `STOP_LOSS` | `quantity`, `stopPrice`, `trailingDelta` | 条件满足后会下`MARKET`单子. (例如：达到`stopPrice`或`trailingDelta`被启动)
        `STOP_LOSS_LIMIT` | `timeInForce`, `quantity`,  `price`, `stopPrice`, `trailingDelta`
        `TAKE_PROFIT` | `quantity`, `stopPrice`, `trailingDelta` | 条件满足后会下`MARKET`单子. (例如：达到`stopPrice`或`trailingDelta`被启动)
        `TAKE_PROFIT_LIMIT` | `timeInForce`, `quantity`, `price`, `stopPrice`, `trailingDelta`
        `LIMIT_MAKER` | `quantity`, `price` | 订单大部分情况下与普通的限价单没有区别，但是如果在当前价格会立即吃对手单并成交则下单会被拒绝。因此使用这个订单类型可以保证订单一定是挂单方，不会成为吃单方。


        关于挂钩订单参数的注意事项：
        * 这些参数仅适用于 `LIMIT`， `LIMIT_MAKER`， `STOP_LOSS_LIMIT` 和 `TAKE_PROFIT_LIMIT` 订单。
        * 如果使用了 `pegPriceType`， 那么 `price` 字段将是可选的。 否则，`price` 字段依旧是必须的。
        * `pegPriceType=PRIMARY_PEG` 就是主要挂钩（`primary`），这是订单簿上与您的订单同一方向的最佳价格。
        * `pegPriceType=MARKET_PEG` 就是市场挂钩（`market`），这是订单簿上与您的订单相反方向的最佳价格。
        * 可以通过使用 `pegOffsetType` 和 `pegOffsetValue` 来获取最佳价格以外的价格水平。 这两个参数必须一起使用。

        其他:
        * 任何`LIMIT`或`LIMIT_MAKER`只要填`icebergQty`参数都可以下冰上订单。
        * 冰山订单的 `timeInForce`必须设置为`GTC`。
        * `STOP_LOSS`, `STOP_LOSS_LIMIT`, `TAKE_PROFIT_LIMIT` 与 `TAKE_PROFIT` 单子都能同时填上`trailingDelta`与`stopPrice`。
        * 填上`quoteOrderQty`的市价单不会触犯过滤器的`LOT_SIZE`限制。订单的`quantity`会尽量满足`quoteOrderQty`的数量。

        条件单的触发价格必须:
        * 比下单时当前市价高: `STOP_LOSS` `BUY`, `TAKE_PROFIT` `SELL`
        * 比下单时当前市价低: `STOP_LOSS` `SELL`, `TAKE_PROFIT` `BUY`
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - symbol
                - side
                - type
                - timestamp
              properties:
                symbol:
                  type: string
                  example: BNBUSDT
                side:
                  type: string
                  enum:
                    - BUY
                    - SELL
                  example: BUY
                  description: 详见枚举定义：[订单方向](/products/spot/enums#side)
                type:
                  type: string
                  enum:
                    - MARKET
                    - LIMIT
                    - STOP_LOSS
                    - STOP_LOSS_LIMIT
                    - TAKE_PROFIT
                    - TAKE_PROFIT_LIMIT
                    - LIMIT_MAKER
                  example: MARKET
                  description: 详见枚举定义：[订单类型](/products/spot/enums#ordertypes)
                timeInForce:
                  type: string
                  enum:
                    - GTC
                    - IOC
                    - FOK
                  example: GTC
                  description: 详见枚举定义：[生效时间](/products/spot/enums#timeinforce)
                quantity:
                  type: number
                  format: float
                  example: 1
                quoteOrderQty:
                  type: number
                  format: float
                  example: 1
                price:
                  type: number
                  format: float
                  example: 400
                newClientOrderId:
                  type: string
                  example: myOrder1
                  description: 用户自定义的orderid，如空缺系统会自动赋值。
                strategyId:
                  type: integer
                  format: int64
                  example: 1
                strategyType:
                  type: integer
                  example: 1
                  minimum: 1000000
                  description: 不能低于 `1000000`。
                stopPrice:
                  type: number
                  format: float
                  example: 1
                  description: 仅 `STOP_LOSS`, `STOP_LOSS_LIMIT`, `TAKE_PROFIT`, `TAKE_PROFIT_LIMIT` 需要此参数。
                trailingDelta:
                  type: integer
                  format: int64
                  example: 1
                  description: 参见 追踪止盈止损(Trailing Stop)订单常见问题
                icebergQty:
                  type: number
                  format: float
                  example: 1
                  description: 仅有限价单(包括条件限价单与限价做事单)可以使用该参数，含义为创建冰山订单并指定冰山订单的数量。
                newOrderRespType:
                  type: string
                  example: ACK
                  enum:
                    - ACK
                    - RESULT
                    - FULL
                  description: '`MARKET` 与 `LIMIT` 订单默认为`FULL`, 其他默认为`ACK`。'
                selfTradePreventionMode:
                  type: string
                  enum:
                    - NONE
                    - EXPIRE_TAKER
                    - EXPIRE_MAKER
                    - EXPIRE_BOTH
                    - DECREMENT
                    - TRANSFER
                  example: NONE
                  description: 允许的 ENUM 取决于交易对的配置。
                pegPriceType:
                  type: string
                  enum:
                    - PRIMARY_PEG
                    - MARKET_PEG
                  example: PRIMARY_PEG
                  description: 参阅 关于挂钩订单参数的注意事项
                pegOffsetValue:
                  type: integer
                  example: 1
                  maximum: 100
                  description: 用于挂钩的价格水平（最大值：100）。参阅 关于挂钩订单参数的注意事项
                pegOffsetType:
                  type: string
                  enum:
                    - PRICE_LEVEL
                  example: PRICE_LEVEL
                  description: 仅支持 `PRICE_LEVEL`。参阅 关于挂钩订单参数的注意事项
                recvWindow:
                  type: number
                  format: float
                  example: 5000
                  maximum: 60000
                  description: 最大值为 `60000` 毫秒。 <br> 支持最多三位小数的精度（例如 6000.346），以便可以指定微秒。
                timestamp:
                  type: integer
                  example: 1770736694138
                  format: int64
                  description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      responses:
        '200':
          description: 下单
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    example: BTCUSDT
                  orderId:
                    type: integer
                    format: int64
                    example: 28
                  orderListId:
                    type: integer
                    format: int64
                    example: -1
                    description: 除非此单是订单列表的一部分, 否则此值为 -1
                  clientOrderId:
                    type: string
                    example: 6gCrw2kRUAF9CvJDGP16IP
                  transactTime:
                    type: integer
                    format: int64
                    example: 1507725176595
                  price:
                    type: string
                    example: 1
                  origQty:
                    type: string
                    example: 10
                  executedQty:
                    type: string
                    example: 10
                  origQuoteOrderQty:
                    type: string
                    example: 0
                  cummulativeQuoteQty:
                    type: string
                    example: 10
                  status:
                    type: string
                    example: FILLED
                  timeInForce:
                    type: string
                    example: GTC
                  type:
                    type: string
                    example: MARKET
                  side:
                    type: string
                    example: SELL
                  workingTime:
                    type: integer
                    format: int64
                    example: 1507725176595
                  selfTradePreventionMode:
                    type: string
                    example: NONE
                  fills:
                    type: array
                    items:
                      type: object
                      properties:
                        price:
                          type: string
                          example: 4000
                        qty:
                          type: string
                          example: 1
                        commission:
                          type: string
                          example: 4
                        commissionAsset:
                          type: string
                          example: USDT
                        tradeId:
                          type: integer
                          format: int64
                          example: 56
  /api/v3/orderList:
    get:
      summary: 查询订单列表
      description: 根据提供的可选参数检索特定的订单列表。
      tags:
        - account
      operationId: getOrderList
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/account#get-order-list
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/AccountApi/getOrderList.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/account_api/get_order_list.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Account/get_order_list.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/account/GetOrderListExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/AccountAPI/GetOrderList/GetOrderList.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/account/GetOrderListExample.php
      x-ip-weight: 4
      x-security-type: USER_DATA
      x-signed: true
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
        - name: orderListId
          in: query
          required: false
          description: 通过 `orderListId` 获取订单列表。必须提供 `orderListId` 或 `origClientOrderId`。
          schema:
            type: integer
            format: int64
            example: 27
        - name: origClientOrderId
          in: query
          required: false
          schema:
            type: string
            example: 1
          description: 通过 `listClientOrderId` 查询订单列表。`orderListId` 或 `origClientOrderId` 必须被提供。
        - name: recvWindow
          in: query
          required: false
          description: 支持最多三位小数的精度（例如 6000.346），以便可以指定微秒。
          schema:
            type: number
            format: float
            example: 5000
            maximum: 60000
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1770736694138
            format: int64
          description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      x-parameters-notes: '**数据源**: 数据库'
      responses:
        '200':
          description: 查询订单列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderListId:
                    type: integer
                    format: int64
                    example: 27
                  contingencyType:
                    type: string
                    example: OCO
                  listStatusType:
                    type: string
                    example: EXEC_STARTED
                  listOrderStatus:
                    type: string
                    example: EXECUTING
                  listClientOrderId:
                    type: string
                    example: h2USkA5YQpaXHPIrkd96xE
                  transactionTime:
                    type: integer
                    format: int64
                    example: 1565245656253
                  symbol:
                    type: string
                    example: LTCBTC
                  orders:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                          example: LTCBTC
                        orderId:
                          type: integer
                          format: int64
                          example: 4
                        clientOrderId:
                          type: string
                          example: qD1gy3kc3Gx0rihm9Y3xwS
    delete:
      summary: 取消订单列表
      description: 取消整个订单列表。
      tags:
        - trade
      operationId: deleteOrderList
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/trade#delete-order-list
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/TradeApi/deleteOrderList.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/trade_api/delete_order_list.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Trade/delete_order_list.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/trade/DeleteOrderListExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/TradeAPI/DeleteOrderList/DeleteOrderList.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/trade/DeleteOrderListExample.php
      x-ip-weight: 1
      x-security-type: TRADE
      x-signed: true
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: BNBUSDT
        - name: orderListId
          in: query
          required: false
          description: '`orderListId` 或 `listClientOrderId` 必须被提供'
          schema:
            type: integer
            format: int64
            example: 1
        - name: listClientOrderId
          in: query
          required: false
          description: '`orderListId` 或 `listClientOrderId` 必须被提供'
          schema:
            type: string
            example: C3wyj4WVEktd7u9aVBRXcN
        - name: newClientOrderId
          in: query
          required: false
          description: 用户自定义的本次撤销操作的ID(注意不是被撤销的订单的自定义ID)。如无指定会自动赋值。
          schema:
            type: string
            example: cancelMyOrder1
        - name: recvWindow
          in: query
          required: false
          description: 支持最多三位小数的精度（例如 6000.346），以便可以指定微秒。
          schema:
            type: number
            format: float
            example: 5000
            maximum: 60000
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1770736694138
            format: int64
          description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      x-parameters-notes: |-
        **数据源:** 撮合引擎

        **其他注意点:**
          - 取消订单列表中的单个订单将取消整个订单列表.
          - 当同时提供 orderListId 和 listClientOrderId 两个参数时，系统首先将会使用 orderListId 来搜索订单。然后， 查找结果中的 listClientOrderId 的值将会被用来验证订单。如果两个条件都不满足，则请求将被拒绝。
      responses:
        '200':
          description: 取消订单列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderListId:
                    type: integer
                    format: int64
                    example: 0
                  contingencyType:
                    type: string
                    example: OCO
                  listStatusType:
                    type: string
                    example: ALL_DONE
                  listOrderStatus:
                    type: string
                    example: ALL_DONE
                  listClientOrderId:
                    type: string
                    example: C3wyj4WVEktd7u9aVBRXcN
                  transactionTime:
                    type: integer
                    format: int64
                    example: 1574040868128
                  symbol:
                    type: string
                    example: LTCBTC
                  orders:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                          example: LTCBTC
                        orderId:
                          type: integer
                          format: int64
                          example: 2
                        clientOrderId:
                          type: string
                          example: pO9ufTiFGg3nw2fOdgeOXa
                  orderReports:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                          example: LTCBTC
                        origClientOrderId:
                          type: string
                          example: pO9ufTiFGg3nw2fOdgeOXa
                        orderId:
                          type: integer
                          format: int64
                          example: 2
                        orderListId:
                          type: integer
                          format: int64
                          example: 0
                        clientOrderId:
                          type: string
                          example: unfWT8ig8i0uj6lPuYLez6
                        transactTime:
                          type: integer
                          format: int64
                          example: 1688005070874
                        price:
                          type: string
                          example: '1.00000000'
                        origQty:
                          type: string
                          example: '10.00000000'
                        executedQty:
                          type: string
                          example: '0.00000000'
                        origQuoteOrderQty:
                          type: string
                          example: '0.000000'
                        cummulativeQuoteQty:
                          type: string
                          example: '0.00000000'
                        status:
                          type: string
                          example: CANCELED
                        timeInForce:
                          type: string
                          example: GTC
                        type:
                          type: string
                          example: STOP_LOSS_LIMIT
                        side:
                          type: string
                          example: SELL
                        icebergQty:
                          type: string
                          example: '0.00000000'
                          description: 仅在请求中发送了 icebergQty 参数时出现。
                        preventedMatchId:
                          type: integer
                          format: int64
                          example: 0
                          description: 仅在因 STP 导致订单失效时出现。
                        preventedQuantity:
                          type: string
                          example: '1.200000'
                          description: 因 STP 导致订单失效的数量。
                        stopPrice:
                          type: string
                          example: '0.00000000'
                          description: 出现在 STOP_LOSS, TAKE_PROFIT, STOP_LOSS_LIMIT 和 TAKE_PROFIT_LIMIT 订单中。
                        strategyId:
                          type: integer
                          format: int64
                          example: 1
                          description: 仅在下单时提供了 strategyId 参数时出现。
                        strategyType:
                          type: integer
                          format: int64
                          example: 1000000
                          description: 仅在下单时提供了 strategyType 参数时出现。
                        trailingDelta:
                          type: integer
                          format: int64
                          example: 10
                          description: 订单激活前所需的价格变动。
                        trailingTime:
                          type: integer
                          format: int64
                          example: -1
                          description: 追踪单被激活和跟踪价格变化的时间。
                        usedSor:
                          type: boolean
                          example: true
                          description: 用于确定订单是否使用SOR的字段。
                        workingFloor:
                          type: string
                          example: SOR
                          description: 用以定义订单是通过 SOR 还是由订单簿成交的。
                        pegPriceType:
                          type: string
                          example: PRIMARY_PEG
                          description: 挂钩价格类型。仅用于挂钩订单。
                        pegOffsetType:
                          type: string
                          example: PRICE_LEVEL
                          description: 挂钩价格偏移类型。如若需要，仅用于挂钩订单。
                        pegOffsetValue:
                          type: integer
                          format: int64
                          example: 5
                          description: 挂钩价格偏移值。如若需要，仅用于挂钩订单。
                        peggedPrice:
                          type: string
                          example: '87523.83710000'
                          description: 订单对应的当前挂钩价格。一旦确定，仅用于挂钩订单。
                        expiryReason:
                          type: string
                          example: INSUFFICIENT_LIQUIDITY
                          description: 订单过期的原因。当订单过期时出现。
  /api/v3/myAllocations:
    get:
      summary: 查询分配结果
      description: 检索由 SOR 订单生成引起的分配结果。
      tags:
        - account
      operationId: myAllocations
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/account#my-allocations
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/AccountApi/myAllocations.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/account_api/my_allocations.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Account/my_allocations.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/account/MyAllocationsExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/AccountAPI/MyAllocations/MyAllocations.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/account/MyAllocationsExample.php
      x-ip-weight: 20
      x-security-type: USER_DATA
      x-signed: true
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: BTCUSDT
        - name: startTime
          in: query
          required: false
          schema:
            type: integer
            format: int64
            example: 1735693200000
        - name: endTime
          in: query
          required: false
          schema:
            type: integer
            format: int64
            example: 1735693200000
        - name: fromAllocationId
          in: query
          required: false
          schema:
            type: integer
            example: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            example: 1
            default: 500
            maximum: 1000
        - name: orderId
          in: query
          required: false
          schema:
            type: integer
            format: int64
            example: 1
        - name: recvWindow
          in: query
          required: false
          description: 支持最多三位小数的精度（例如 6000.346），以便可以指定微秒。
          schema:
            type: number
            format: float
            example: 5000
            maximum: 60000
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1770736694138
            format: int64
          description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      x-parameters-notes: |-
        **数据源:** 数据库

        支持的参数组合:

        参数                                  | 响应 |
        ------------------------------------------- | -------- |
        `symbol`                                    | 按从最旧到最新排序的分配 |
        `symbol` + `startTime`                      | 从 `startTime` 开始的最旧的分配 |
        `symbol` + `endTime`                        | 到 `endTime` 为止的最新的分配 |
        `symbol` + `startTime` + `endTime`          | 在指定时间范围内的分配 |
        `symbol` + `fromAllocationId`               | 从指定 `AllocationId` 开始的分配  |
        `symbol` + `orderId`                        | 按从最旧到最新排序并和特定订单关联的分配 |
        `symbol` + `orderId` + `fromAllocationId`   | 从指定 `AllocationId` 开始并和特定订单关联的分配 |

        **注意:** `startTime` 和 `endTime` 之间的时间不能超过 24 小时。
      responses:
        '200':
          description: 查询分配结果
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      example: BTCUSDT
                    allocationId:
                      type: integer
                      format: int64
                      example: 0
                    allocationType:
                      type: string
                      example: SOR
                    orderId:
                      type: integer
                      format: int64
                      example: 1
                    orderListId:
                      type: integer
                      format: int64
                      example: -1
                    price:
                      type: string
                      example: '1.00000000'
                    qty:
                      type: string
                      example: '5.00000000'
                    quoteQty:
                      type: string
                      example: '5.00000000'
                    commission:
                      type: string
                      example: '0.00000000'
                    commissionAsset:
                      type: string
                      example: BTC
                    time:
                      type: integer
                      format: int64
                      example: 1687506878118
                    isBuyer:
                      type: boolean
                      example: true
                    isMaker:
                      type: boolean
                      example: false
                    isAllocator:
                      type: boolean
                      example: false
  /api/v3/myFilters:
    get:
      summary: 查询相关过滤器
      description: 用于检索一个账户上指定交易对的 列表。这是唯一一个目前会显示账户是否应用了 `MAX_ASSET` 过滤器的端点。
      tags:
        - account
      operationId: myFilters
      externalDocs:
        url: https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/account#my-filters
      x-connectors-examples:
        ts: https://raw.githubusercontent.com/binance/binance-connector-js/master/clients/spot/examples/rest-api/AccountApi/myFilters.ts
        rust: https://raw.githubusercontent.com/binance/binance-connector-rust/main/examples/spot/rest_api/account_api/my_filters.rs
        python: https://raw.githubusercontent.com/binance/binance-connector-python/master/clients/spot/examples/rest_api/Account/my_filters.py
        java: https://raw.githubusercontent.com/binance/binance-connector-java/master/examples/spot/src/main/java/com/binance/connector/client/spot/rest/account/MyFiltersExample.java
        go: https://raw.githubusercontent.com/binance/binance-connector-go/main/clients/spot/examples/restapi/AccountAPI/MyFilters/MyFilters.go
        php: https://raw.githubusercontent.com/binance/binance-connector-php/master/examples/spot/account/MyFiltersExample.php
      x-ip-weight: 40
      x-security-type: USER_DATA
      x-signed: true
      parameters:
        - name: X-MBX-APIKEY
          in: header
          required: true
          description: 访问此接口需要 API Key，并且必须在请求头中携带。关于如何创建 API Key，请参考：https://www.binance.com/cn/support/faq/detail/360002502072。
          schema:
            type: string
            example: API_KEY
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: BNBUSDT
        - name: recvWindow
          in: query
          required: false
          description: 支持最多三位小数的精度（例如 6000.346），以便可以指定微秒。
          schema:
            type: number
            format: float
            example: 5000
            maximum: 60000
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1770736694138
            format: int64
          description: 用于请求签名的 Unix 时间戳，单位为毫秒. 该值必须反映客户端当前时间，并会在签名接口中由服务器进行校验.
      x-parameters-notes: '**数据源:** 缓存'
      responses:
        '200':
          description: 查询相关过滤器
          content:
            application/json:
              schema:
                type: object
                properties:
                  exchangeFilters:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: EXCHANGE_MAX_NUM_ORDERS
                            maxNumOrders:
                              type: integer
                              format: int64
                              example: 1000
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: EXCHANGE_MAX_NUM_ALGO_ORDERS
                            maxNumAlgoOrders:
                              type: integer
                              format: int64
                              example: 200
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: EXCHANGE_MAX_NUM_ICEBERG_ORDERS
                            maxNumIcebergOrders:
                              type: integer
                              format: int64
                              example: 10
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: EXCHANGE_MAX_NUM_ORDER_LISTS
                            maxNumOrderLists:
                              type: integer
                              format: int64
                              example: 20
                      discriminator:
                        propertyName: filterType
                        mapping:
                          EXCHANGE_MAX_NUM_ORDERS: '#/components/schemas/ExchangeMaxNumOrdersFilter'
                          EXCHANGE_MAX_NUM_ALGO_ORDERS: '#/components/schemas/ExchangeMaxNumAlgoOrdersFilter'
                          EXCHANGE_MAX_NUM_ICEBERG_ORDERS: '#/components/schemas/ExchangeMaxNumIcebergOrdersFilter'
                          EXCHANGE_MAX_NUM_ORDER_LISTS: '#/components/schemas/ExchangeMaxNumOrderListsFilter'
                  symbolFilters:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: PRICE_FILTER
                            priceExponent:
                              type: integer
                              example: 8
                            minPrice:
                              type: string
                              example: '0.00000100'
                            maxPrice:
                              type: string
                              example: '100000.00000000'
                            tickSize:
                              type: string
                              example: '0.00000100'
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: PERCENT_PRICE
                            multiplierExponent:
                              type: integer
                              example: 4
                            multiplierUp:
                              type: string
                              example: '1.3000'
                            multiplierDown:
                              type: string
                              example: '0.7000'
                            avgPriceMins:
                              type: integer
                              example: 5
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: PERCENT_PRICE_BY_SIDE
                            multiplierExponent:
                              type: integer
                              example: 4
                            bidMultiplierUp:
                              type: string
                              example: '1.2000'
                            bidMultiplierDown:
                              type: string
                              example: '0.8000'
                            askMultiplierUp:
                              type: string
                              example: '1.2000'
                            askMultiplierDown:
                              type: string
                              example: '0.8000'
                            avgPriceMins:
                              type: integer
                              example: 5
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: LOT_SIZE
                            qtyExponent:
                              type: integer
                              example: 8
                            minQty:
                              type: string
                              example: '0.00010000'
                            maxQty:
                              type: string
                              example: '100000.00000000'
                            stepSize:
                              type: string
                              example: '0.00010000'
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: MIN_NOTIONAL
                            priceExponent:
                              type: integer
                              example: 8
                            minNotional:
                              type: string
                              example: '10.00000000'
                            applyToMarket:
                              type: boolean
                              example: true
                            avgPriceMins:
                              type: integer
                              example: 5
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: NOTIONAL
                            priceExponent:
                              type: integer
                              example: 8
                            minNotional:
                              type: string
                              example: '10.00000000'
                            applyMinToMarket:
                              type: boolean
                              example: true
                            maxNotional:
                              type: string
                              example: '100000.00000000'
                            applyMaxToMarket:
                              type: boolean
                              example: false
                            avgPriceMins:
                              type: integer
                              example: 5
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: ICEBERG_PARTS
                            limit:
                              type: integer
                              format: int64
                              example: 10
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: MARKET_LOT_SIZE
                            qtyExponent:
                              type: integer
                              example: 8
                            minQty:
                              type: string
                              example: '0.00000000'
                            maxQty:
                              type: string
                              example: '1000.00000000'
                            stepSize:
                              type: string
                              example: '0.00000000'
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: MAX_NUM_ORDERS
                            maxNumOrders:
                              type: integer
                              format: int64
                              example: 200
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: MAX_NUM_ALGO_ORDERS
                            maxNumAlgoOrders:
                              type: integer
                              format: int64
                              example: 10
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: MAX_NUM_ICEBERG_ORDERS
                            maxNumIcebergOrders:
                              type: integer
                              format: int64
                              example: 5
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: MAX_POSITION
                            qtyExponent:
                              type: integer
                              example: 8
                            maxPosition:
                              type: string
                              example: '100.00000000'
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: TRAILING_DELTA
                            minTrailingAboveDelta:
                              type: integer
                              format: int64
                              example: 10
                            maxTrailingAboveDelta:
                              type: integer
                              format: int64
                              example: 2000
                            minTrailingBelowDelta:
                              type: integer
                              format: int64
                              example: 10
                            maxTrailingBelowDelta:
                              type: integer
                              format: int64
                              example: 2000
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: T_PLUS_SELL
                            endTime:
                              type: integer
                              format: int64
                              example: 1741672924895
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: MAX_NUM_ORDER_LISTS
                            maxNumOrderLists:
                              type: integer
                              format: int64
                              example: 20
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: MAX_NUM_ORDER_AMENDS
                            maxNumOrderAmends:
                              type: integer
                              format: int64
                              example: 10
                      discriminator:
                        propertyName: filterType
                        mapping:
                          PRICE_FILTER: '#/components/schemas/PriceFilter'
                          PERCENT_PRICE: '#/components/schemas/PercentPriceFilter'
                          PERCENT_PRICE_BY_SIDE: '#/components/schemas/PercentPriceBySideFilter'
                          LOT_SIZE: '#/components/schemas/LotSizeFilter'
                          MIN_NOTIONAL: '#/components/schemas/MinNotionalFilter'
                          NOTIONAL: '#/components/schemas/NotionalFilter'
                          ICEBERG_PARTS: '#/components/schemas/IcebergPartsFilter'
                          MARKET_LOT_SIZE: '#/components/schemas/MarketLotSizeFilter'
                          MAX_NUM_ORDERS: '#/components/schemas/MaxNumOrdersFilter'
                          MAX_NUM_ALGO_ORDERS: '#/components/schemas/MaxNumAlgoOrdersFilter'
                          MAX_NUM_ICEBERG_ORDERS: '#/components/schemas/MaxNumIcebergOrdersFilter'
                          MAX_POSITION: '#/components/schemas/MaxPositionFilter'
                          TRAILING_DELTA: '#/components/schemas/TrailingDeltaFilter'
                          T_PLUS_SELL: '#/components/schemas/TPlusSellFilter'
                          MAX_NUM_ORDER_LISTS: '#/components/schemas/MaxNumOrderListsFilter'
                          MAX_NUM_ORDER_AMENDS: '#/components/schemas/MaxNumOrderAmendsFilter'
                  assetFilters:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            filterType:
                              type: string
                              example: MAX_ASSET
                            qtyExponent:
                              type: integer
                              example: 8
                            limit:
                              type: string
                              example: '100.00000000'
                            asset:
                              type: string
                              example: BNB
[...]
