{"openapi":"3.0.0","info":{"title":"REST API","version":"1.1.0","description":""},"servers":[{"url":"https://api.kraken.com","description":"Production Server"}],"security":[{"API-Key":[],"API-Sign":[]}],"tags":[{"name":"Portfolios"},{"name":"Transfers"},{"name":"Tasks"}],"paths":{"/0/private/ListCustodyVaults":{"post":{"tags":["Portfolios"],"summary":"List vaults","description":"Retrieve all vaults within the custody domain.","operationId":"listCustodyVaults","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/listCustodyVaults"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/listCustodyVaults-2"}}},"description":""}}}},"/0/private/GetCustodyVault":{"post":{"tags":["Portfolios"],"summary":"Get vault information by id","description":"Retrieve information and balances for a specific vault.","operationId":"getCustodyVault","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["nonce"],"properties":{"nonce":{"$ref":"#/components/schemas/nonce"}}}}}},"parameters":[{"$ref":"#/components/parameters/vaultId"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/getCustodyVault"}}},"description":""}}}},"/0/private/DepositMethods":{"post":{"tags":["Portfolios"],"summary":"Get deposit methods","description":"Retrieve the available deposit funding methods for depositing a specific asset. The deposit method is required to retrieve deposit addresses using the [Get Deposit Addresses API](/docs/custody-api/deposit-addresses).","operationId":"depositMethods","parameters":[{"$ref":"#/components/parameters/xVaultId"}],"requestBody":{"required":true,"$ref":"#/components/requestBodies/depositMethods"},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/depositMethods"}}},"description":""}}}},"/0/private/DepositAddresses":{"post":{"tags":["Portfolios"],"summary":"Get deposit addresses","description":"Retrieve (or generate a new) deposit addresses for a particular asset and funding method. Use the [Get Deposit Methods API](/docs/custody-api/deposit-methods) to identify the appropriate deposit method.","operationId":"depositAddresses","parameters":[{"$ref":"#/components/parameters/xVaultId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/depositAddresses"}}}},"responses":{"default":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/depositAddresses-2"}}}}}}},"/0/private/GetCustodyBalance":{"post":{"tags":["Portfolios"],"summary":"Get custody balance","description":"Retrieve the balance for each asset held in the specified vault.","operationId":"getCustodyBalance","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/getCustodyBalance"}}}},"responses":{"default":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/getCustodyBalance-2"}}}}}}},"/0/private/ListCustodyTransactions":{"post":{"tags":["Portfolios"],"summary":"List custody transactions","description":"Retrieve the transaction history for a specified vault.","operationId":"listCustodyTransactions","parameters":[{"$ref":"#/components/parameters/vaultId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/listCustodyTransactions"}}}},"responses":{"200":{"description":"Transactions retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listCustodyTransactions-2"}}}}}}},"/0/private/GetCustodyTransaction":{"post":{"tags":["Portfolios"],"summary":"Get transaction by id","description":"Get transaction by id","operationId":"getCustodyTransaction","parameters":[{"$ref":"#/components/parameters/transactionId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/getCustodyTransaction"}}}},"responses":{"200":{"description":"Transaction retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/getCustodyTransaction-2"}}}}}}},"/0/private/WithdrawMethods":{"post":{"tags":["Transfers"],"summary":"Get withdraw methods","description":"Retrieve a list of withdrawal methods available for a specified vault.","operationId":"withdrawMethods","parameters":[{"$ref":"#/components/parameters/xVaultId"}],"requestBody":{"required":true,"$ref":"#/components/requestBodies/withdrawMethods"},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/withdrawMethods"}}},"description":""}}}},"/0/private/WithdrawAddresses":{"post":{"tags":["Transfers"],"summary":"Get withdraw addresses","description":"Retrieve a list of withdrawal addresses for a specified vault.","operationId":"withdrawAddresses","parameters":[{"$ref":"#/components/parameters/xVaultId"},{"in":"query","name":"preferred_asset_name","deprecated":false,"schema":{"description":"The preferred asset name to use","default":"alt","type":"string","enum":["new","alt"]},"style":"form","allowEmptyValue":false}],"requestBody":{"$ref":"#/components/requestBodies/withdrawAddresses"},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/withdrawAddresses"}}},"description":""}}}},"/0/private/ListCustodyTasks":{"post":{"tags":["Tasks"],"summary":"List tasks","description":"Retrieve review tasks that match the specified filter criteria.","operationId":"listCustodyTasks","requestBody":{"$ref":"#/components/requestBodies/listCustodyTasks"},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/listCustodyTasks"}}},"description":""}}}},"/0/private/GetCustodyTask":{"post":{"tags":["Tasks"],"summary":"Get task by id","description":"Retrieve details for a specific task.","operationId":"getCustodyTask","parameters":[{"in":"query","name":"id","required":true,"deprecated":false,"schema":{"description":"Approval or task ID","type":"string","pattern":"^(T[A-Z2-7]{13}|[0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})$","minLength":14,"maxLength":36},"style":"form","allowEmptyValue":false,"description":"Approval or task ID"}],"requestBody":{"required":true,"$ref":"#/components/requestBodies/getCustodyTask"},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/getCustodyTask"}}},"description":""}}}},"/0/private/ListCustodyActivities":{"post":{"tags":["Tasks"],"summary":"List activities","description":"Retrieve all activities that match the specified filter criteria.","operationId":"listCustodyTasksActivities","requestBody":{"$ref":"#/components/requestBodies/listCustodyTasksActivities"},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/listCustodyTasksActivities"}}},"description":""}}}},"/0/private/GetCustodyActivity":{"post":{"tags":["Tasks"],"summary":"Get activity by id","description":"Retrieve details for a specific task activity.","operationId":"getCustodyActivity","parameters":[{"in":"query","name":"id","required":true,"deprecated":false,"schema":{"description":"Activity ID","type":"string","pattern":"^A[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14},"style":"form","allowEmptyValue":false,"description":"Activity ID"}],"requestBody":{"required":true,"$ref":"#/components/requestBodies/getCustodyActivity"},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/getCustodyActivity"}}},"description":""}}}}},"components":{"securitySchemes":{"API-Key":{"type":"apiKey","description":"The \"API-Key\" header should contain your API key.","name":"API-Key","in":"header"},"API-Sign":{"type":"apiKey","description":"Authenticated requests should be signed with the \"API-Sign\" header, using a signature generated with your private key, nonce, encoded payload, and URI path.","name":"API-Sign","in":"header"}},"schemas":{"KWebErrors":{"type":"array","items":{"description":"General API error.","type":"object","properties":{"severity":{"description":"API error severity.","type":"string","enum":["E","W"]},"errorClass":{"type":"string"},"type":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"}},"required":["errorClass","severity","type"]}},"nonce":{"description":"Nonce used in construction of `API-Sign` header","type":"integer","format":"int64"},"pagination":{"description":"Define which items will get returned","default":{"limit":100,"offset":0},"type":"object","properties":{"limit":{"description":"Number of records to retrieve","type":"integer","format":"uint32","minimum":1,"maximum":1000},"offset":{"description":"Result Offset","type":"integer","format":"uint32","minimum":0}},"required":["limit","offset"]},"orderDirection":{"description":"Ordering direction\n- `asc`: Return items in ascending order (first to last)\n- `desc`: Return items in descending order (last to first)\n","default":"desc","type":"string","enum":["asc","desc"]},"listCustodyVaults":{"type":"object","required":["nonce"],"properties":{"nonce":{"$ref":"#/components/schemas/nonce"},"resolve_policies":{"description":"If set to true, the response includes information about the feature policies enabled for the vault.","nullable":true,"default":null,"type":"boolean"},"filters":{"example":{"and":[]},"description":"Specify a subset of filter items. All filter objects are `AND` combined. Inside a filter object all properties are `OR` combined.","default":{"and":[]},"oneOf":[{"description":"All elements are combined with `AND`.","type":"object","title":"and","properties":{"and":{"type":"array","items":{"description":"Filtering expressions with or expressions","oneOf":[{"description":"All elements are combined with `OR`.","type":"object","title":"or","properties":{"or":{"type":"array","items":{"oneOf":[{"title":"id","description":"Filter by id","oneOf":[{"title":"equals","description":"Field must match the filter exactly.","type":"object","properties":{"type":{"type":"string","enum":["equals"]},"values":{"description":"Exact values to match against","type":"array","items":{"description":"VaultId","type":"string","pattern":"^V[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14}},"by":{"type":"string","enum":["id"]}},"required":["by","type","values"]}]},{"title":"name","description":"Filter by name","oneOf":[{"title":"equals","description":"Field must match the filter exactly.","type":"object","properties":{"type":{"type":"string","enum":["equals"]},"values":{"description":"Exact value to match","type":"array","items":{"type":"string"}},"case":{"description":"Case-sensitive matching behavior\n\n- `insensitive`: Filter items with case-insensitive matching\n- `sensitive`: Filter items with case-sensitive matching","default":"insensitive","type":"string","enum":["insensitive","sensitive"]},"by":{"type":"string","enum":["name"]}},"required":["by","type","values"]},{"title":"starts_with","description":"Field must start with this filter","type":"object","properties":{"type":{"type":"string","enum":["starts_with"]},"values":{"description":"Value the column must start with","type":"array","items":{"type":"string"}},"case":{"description":"Case-sensitive matching behavior\n\n- `insensitive`: Filter items with case-insensitive matching\n- `sensitive`: Filter items with case-sensitive matching","default":"insensitive","type":"string","enum":["insensitive","sensitive"]},"by":{"type":"string","enum":["name"]}},"required":["by","type","values"]},{"title":"contains","description":"Field must contain this filter","type":"object","properties":{"type":{"type":"string","enum":["contains"]},"values":{"description":"Value the columns must contain","type":"array","items":{"type":"string"}},"case":{"description":"Case-sensitive matching behavior\n\n- `insensitive`: Filter items with case-insensitive matching\n- `sensitive`: Filter items with case-sensitive matching","default":"insensitive","type":"string","enum":["insensitive","sensitive"]},"by":{"type":"string","enum":["name"]}},"required":["by","type","values"]}]},{"title":"default_approvals","description":"Filter by default_approvals","oneOf":[{"title":"equals","description":"Field must match the filter exactly.","type":"object","properties":{"type":{"type":"string","enum":["equals"]},"values":{"type":"array","items":{"type":"integer","format":"uint32","minimum":0}},"by":{"type":"string","enum":["default_approvals"]}},"required":["by","type","values"]},{"title":"in","description":"A range uses closed intervals `[left, right]` with `left <= column <= right`.  Not providing a `left` will result a left-unbounded intervals `(−∞, right]` and respectively not providing `right` will result in a right-unbounded interval `[left, ∞)`.","type":"object","properties":{"type":{"type":"string","enum":["in"]},"left":{"nullable":true,"type":"integer","format":"uint32","minimum":0},"right":{"nullable":true,"type":"integer","format":"uint32","minimum":0},"by":{"type":"string","enum":["default_approvals"]}},"required":["by","type"]}]},{"title":"created_at","description":"Filter by created_at","oneOf":[{"title":"equals","description":"Field must match the filter exactly.","type":"object","properties":{"type":{"type":"string","enum":["equals"]},"values":{"type":"array","items":{"title":"UnixTimestamp","description":"Unix timestamp in seconds","type":"string","maxLength":13}},"by":{"type":"string","enum":["created_at"]}},"required":["by","type","values"]},{"title":"in","description":"A range uses closed intervals `[left, right]` with `left <= column <= right`.  Not providing a `left` will result a left-unbounded intervals `(−∞, right]` and respectively not providing `right` will result in a right-unbounded interval `[left, ∞)`.","type":"object","properties":{"type":{"type":"string","enum":["in"]},"left":{"nullable":true,"title":"UnixTimestamp","description":"Unix timestamp in seconds","type":"string","maxLength":13},"right":{"nullable":true,"title":"UnixTimestamp","description":"Unix timestamp in seconds","type":"string","maxLength":13},"by":{"type":"string","enum":["created_at"]}},"required":["by","type"]}]},{"title":"updated_at","description":"Filter by updated_at","oneOf":[{"title":"equals","description":"Field must match the filter exactly.","type":"object","properties":{"type":{"type":"string","enum":["equals"]},"values":{"type":"array","items":{"title":"UnixTimestamp","description":"Unix timestamp in seconds","type":"string","maxLength":13}},"by":{"type":"string","enum":["updated_at"]}},"required":["by","type","values"]},{"title":"in","description":"A range uses closed intervals `[left, right]` with `left <= column <= right`.  Not providing a `left` will result a left-unbounded intervals `(−∞, right]` and respectively not providing `right` will result in a right-unbounded interval `[left, ∞)`.","type":"object","properties":{"type":{"type":"string","enum":["in"]},"left":{"nullable":true,"title":"UnixTimestamp","description":"Unix timestamp in seconds","type":"string","maxLength":13},"right":{"nullable":true,"title":"UnixTimestamp","description":"Unix timestamp in seconds","type":"string","maxLength":13},"by":{"type":"string","enum":["updated_at"]}},"required":["by","type"]}]},{"title":"member","description":"Filter by member","oneOf":[{"title":"equals","description":"Field must match the filter exactly.","type":"object","properties":{"type":{"type":"string","enum":["equals"]},"values":{"description":"Exact values to match against","type":"array","items":{"description":"IBAN","type":"string","minLength":14,"maxLength":42}},"by":{"type":"string","enum":["member"]}},"required":["by","type","values"]}]}]}}},"required":["or"]}]}}},"required":["and"]}]},"pagination":{"$ref":"#/components/schemas/pagination"},"orderings":{"example":[{"by":"id","direction":"desc"}],"description":"Specify how to order the returned items. If a column in the `orderings` list contains `null` values, these are always sorted to the end.","default":[{"by":"id","direction":"desc"}],"type":"array","items":{"description":"Result ordering","type":"object","properties":{"by":{"enum":["id","name","created_at","updated_at"],"description":"Column to order by"},"direction":{"$ref":"#/components/schemas/orderDirection"}},"required":["by"]}}}},"listCustodyVaults-2":{"type":"object","properties":{"result":{"nullable":true,"example":[{"id":"VW44KPQC4C62K6","name":"My Vault 1","description":"My vault description","created_at":"1710877421","updated_at":"1710877421","balance_fiat":"1000.0000","balance_diff":"1.25","available_balance_fiat":"1000.0000","count_assets":3,"status":"created","iiban":"AA88 N84G AET3 RAOA","deposit_lock_rekeying_only":false,"otc_enabled":true}],"type":"array","items":{"description":"Metadata of a vault","type":"object","properties":{"id":{"example":"VN2F7NJJWKJHI2","description":"An ID uniquely identifying the vault","type":"string","pattern":"^V[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14},"created_at":{"title":"UnixTimestamp","description":"Vault creation time","type":"string","maxLength":13},"updated_at":{"title":"UnixTimestamp","description":"Last time an attribute of the vault was changed","type":"string","maxLength":13},"count_assets":{"description":"Count of the number of unique assets for a vault","type":"integer","format":"uint32","minimum":0},"status":{"type":"string","enum":["pending","created","failed","disabled"],"description":"Vault status:\n\n- `pending`: The HSM vault is still initializing\n- `created`: The HSM vault has been created\n- `failed`: The HSM vault creation has failed\n- `disabled`: The underlying account has been disabled"},"iiban":{"description":"The IIBAN of the vault.","type":"string","minLength":14,"maxLength":42},"deposit_lock_rekeying_only":{"nullable":true,"type":"boolean"},"name":{"description":"Vault name","type":"string","pattern":"^[a-zA-Z0-9\\s\\/-]+$","minLength":1,"maxLength":32},"description":{"nullable":true,"description":"A description of the vault","type":"string","maxLength":1024},"balance_fiat":{"nullable":true,"example":"1.23","description":"Total balance in fiat currency","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"balance_diff":{"nullable":true,"example":"1.23","description":"Balance percentage daily change relative to midnight's total balance","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"available_balance_fiat":{"nullable":true,"example":"1.23","description":"Available balance in fiat currency","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"otc_enabled":{"description":"The setting of the OTC policy linked to the vault","type":"boolean"}},"required":["count_assets","created_at","id","iiban","name","status","updated_at"]}},"errors":{"$ref":"#/components/schemas/KWebErrors"},"start":{"type":"integer","format":"uint64","minimum":0},"total":{"type":"integer","format":"uint64","minimum":0}}},"getCustodyVault":{"type":"object","properties":{"result":{"nullable":true,"example":{"id":"VW44KPQC4C62K6","name":"My Vault 1","description":"My vault description","created_at":"1710877421","updated_at":"1710877421","balance_fiat":"1000.0000","balance_diff":"1.25","available_balance_fiat":"1000.0000","count_assets":3,"asset_details":[{"asset":"BTC","current_usd_price":"7.00","available_balance":{"current_usd_value":"20.0","quantity":"0.00000500"},"total_balance":{"current_usd_value":"5.00","quantity":"0.00001000"}}],"status":"created","iiban":"AA88 N84G AET3 RAOA","deposit_lock_rekeying_only":false},"description":"Metadata of a vault","type":"object","properties":{"id":{"example":"VN2F7NJJWKJHI2","description":"An ID uniquely identifying the vault","type":"string","pattern":"^V[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14},"created_at":{"title":"UnixTimestamp","description":"Vault creation time","type":"string","maxLength":13},"updated_at":{"title":"UnixTimestamp","description":"Last time an attribute of the vault was changed","type":"string","maxLength":13},"count_assets":{"description":"Count of the number of unique assets for a vault","type":"integer","format":"uint32","minimum":0},"asset_details":{"description":"A list of the assets in this vault","type":"array","items":{"type":"object","properties":{"asset":{"description":"The asset as ISO x-iso-4217-a3","type":"string","minLength":1,"maxLength":16},"current_usd_price":{"nullable":true,"example":"1.23","description":"Current USD price of the asset","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"available_balance":{"description":"Available amount of a crypto-asset","type":"object","properties":{"current_usd_value":{"nullable":true,"example":"1.23","description":"Current USD value of the asset","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"quantity":{"example":"1.23","description":"Asset quantity","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["quantity"]},"total_balance":{"description":"Total amount of a crypto-asset","type":"object","properties":{"current_usd_value":{"nullable":true,"example":"1.23","description":"Current USD value of the asset","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"quantity":{"example":"1.23","description":"Asset quantity","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["quantity"]}},"required":["asset","available_balance","total_balance"]}},"status":{"type":"string","enum":["pending","created","failed","disabled"],"description":"Vault status:\n\n- `pending`: The HSM vault is still initializing\n- `created`: The HSM vault has been created\n- `failed`: The HSM vault creation has failed\n- `disabled`: The underlying account has been disabled"},"iiban":{"description":"The IIBAN of the vault.","type":"string","minLength":14,"maxLength":42},"deposit_lock_rekeying_only":{"nullable":true,"type":"boolean"},"name":{"description":"Vault name","type":"string","pattern":"^[a-zA-Z0-9\\s\\/-]+$","minLength":1,"maxLength":32},"description":{"nullable":true,"description":"A description of the vault","type":"string","maxLength":1024},"balance_fiat":{"nullable":true,"example":"1.23","description":"Total balance in fiat currency","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"balance_diff":{"nullable":true,"example":"1.23","description":"Balance percentage daily change relative to midnight's total balance","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"available_balance_fiat":{"nullable":true,"example":"1.23","description":"Available balance in fiat currency","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["asset_details","count_assets","created_at","id","iiban","name","status","updated_at"]},"errors":{"$ref":"#/components/schemas/KWebErrors"}},"required":["errors"]},"depositMethods":{"type":"object","properties":{"result":{"nullable":true,"type":"array","items":{"type":"object","properties":{"method":{"type":"string","description":"Name of deposit method"},"limit":{"description":"Maximum net amount that can be deposited right now, or false if no limit","oneOf":[{"type":"string","title":"string"},{"type":"boolean","title":"boolean"}]},"fee":{"description":"Amount of fees that will be paid","type":"string"},"fee-percentage":{"nullable":true,"type":"string"},"address-setup-fee":{"nullable":true,"description":"Whether or not method has an address setup fee","type":"string"},"gen-address":{"nullable":true,"description":"Whether new addresses can be generated for this method.","type":"boolean"},"minimum":{"nullable":true,"description":"Minimum net amount that can be deposited right now","type":"string"}}}},"error":{"type":"array","items":{"description":"General API error.","type":"object","properties":{"severity":{"description":"API error severity.","type":"string","enum":["E","W"]},"errorClass":{"type":"string"},"type":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"}},"required":["errorClass","severity","type"]}}},"required":["error"]},"depositAddresses":{"type":"object","properties":{"nonce":{"$ref":"#/components/schemas/nonce"},"aclass":{"default":"currency","type":"string","enum":["currency","forex","equity","equitypair","nft","volume"]},"asset":{"type":"string","minLength":1,"maxLength":16},"method":{"description":"Name of the deposit method","type":"string"},"new":{"description":"Whether or not to generate a new address","type":"boolean","default":false}},"required":["asset","method","nonce"]},"depositAddresses-2":{"type":"object","properties":{"error":{"type":"array","items":{"description":"General API error.","type":"object","properties":{"severity":{"description":"API error severity.","type":"string","enum":["E","W"]},"errorClass":{"type":"string"},"type":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"}},"required":["errorClass","severity","type"]}},"result":{"nullable":true,"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"expiretm":{"default":0,"type":"string"},"memo":{"nullable":true,"type":"string"},"new":{"nullable":true,"type":"boolean"},"tag":{"nullable":true,"type":"string"}},"required":["address"]}}},"required":["error"]},"getCustodyBalance":{"type":"object","required":["nonce","vault_id"],"properties":{"nonce":{"$ref":"#/components/schemas/nonce"},"vault_id":{"description":"The vault ID to retrieve balances for.","example":"VN2F7NJJWKJHI2","type":"string","pattern":"^V[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14}}},"getCustodyBalance-2":{"type":"object","properties":{"error":{"type":"array","items":{"description":"General API error.","type":"object","properties":{"severity":{"description":"API error severity.","type":"string","enum":["E","W"]},"errorClass":{"type":"string"},"type":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"}},"required":["errorClass","severity","type"]}},"result":{"nullable":true,"description":"Balance breakdown by asset.","type":"object","properties":{"asset":{"type":"object","properties":{"balance":{"description":"Total balance amount for an asset.","type":"string"},"hold_trade":{"description":"Total held amount for an asset.","type":"string"}},"required":["balance","hold_trade"]}}}},"required":["error"]},"listCustodyTransactions":{"type":"object","required":["nonce"],"properties":{"nonce":{"$ref":"#/components/schemas/nonce"},"page_size":{"nullable":true,"description":"Page size. If not specified a default value of 25 will be used instead.","type":"integer","format":"uint64","minimum":0},"quote":{"nullable":true,"description":"Quote amounts and fees in main transaction details in this currency (the quoting is a best effort job of getting the closest rate to the time of the transaction) by default the quoted fields are `None`\n\nQuoting isn't always available, when its not a `None` will be returned as well.","type":"object","properties":{"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["asset","class"]},"preferred_asset_name":{"nullable":true,"description":"Preferred asset name","type":"string"},"sorting":{"nullable":true,"description":"Sorting. If not specified, items will be sorted descending.","type":"object","properties":{"order":{"nullable":true,"description":"Sort order","type":"string","enum":["descending","ascending"]}}},"cursor":{"nullable":true,"description":"Continue paginating with a cursor","type":"string"},"types":{"nullable":true,"description":"List of transaction types to filter by.","type":"array","items":{"type":"string","enum":["unspecified","deposit","withdrawal","trade","margin","adjustment","rollover","interest","credit","transfer","transfer_peer_to_peer","settle","dividend","nft_trade","reward","nft_creator_fee","nft_rebate","nft_airdrop","simple_order","simple_order_with_deposit","simple_order_failed","custom_simple_order","custom_simple_order_with_deposit","custom_simple_order_failed","recurring_simple_order","recurring_simple_order_with_deposit","recurring_simple_order_failed","simple_order_opposite_side","reserved_fee","fee_sweep","ic_settlement","fee_sweep_dlt","reward_sweep","reward_sweep_old","interest_sweep","conversion","dust_sweep","futures_transfer","custody_transfer","deposit_action","withdrawal_action","legacy_staking_allocation","legacy_staking_deallocation","legacy_staking_reward","earn_legacy_migration","block_trade","equity_trade","equity_acats","earn_staking_allocation","earn_staking_deallocation","earn_staking_reward","earn_staking_auto_allocation","earn_oir_allocation","earn_oir_deallocation","earn_oir_reward","earn_oir_auto_allocation","earn_base_reward","earn_base_auto_allocation","earn_base_auto_deallocation","custody_staking","custody_unstaking","custody_staking_reward","custody_staking_reward_aggregated","credit_rollover","airdrop","earn_oir_auto_deallocation","earn_staking_auto_deallocation","bridge_deposit","bridge_simple_order","simple_order_deposit_action","otc_buy","otc_sell","bundle_trade","equity_fee","equity_journal","corporate_action","user_account_transfer","earn_restaking","subscription","custody_otc_loan_pledge","custody_otc_collateral_liquidation","paytag_transfer","paylink_transfer","paytag_request_transfer","paylink_request_transfer","kard_transfer","krak_card","custody_otc_loan_release","fpsl_reward","fcm_trade","boost","fcm_misc"]}},"ids":{"nullable":true,"description":"Portfolio IDs filter","type":"array","items":{"description":"A portfolio transaction ID","type":"string"}},"assets":{"nullable":true,"description":"Assets filter","type":"array","items":{"type":"object","properties":{"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["asset","class"]}},"ref_ids":{"nullable":true,"description":"Ref ids filter","type":"array","items":{"description":"Filter for a given reference id","type":"object","properties":{"type":{"description":"Type of `ref_id`","type":"string","enum":["funding","trade","adjustment","transfer","custody_transfer","nft_transaction","nft_id","equity_trade","legacy_staking_reward","legacy_staking","earn_ledger","earn_strategy","simple_trade","simple_order_quote","legacy_custody_transaction"]},"ref_id":{"description":"Ref id value","type":"string"}},"required":["ref_id","type"]}}}},"listCustodyTransactions-2":{"type":"object","required":["errors"],"properties":{"result":{"nullable":true,"example":{"transactions":[{"id":"TXURLTG-FFGYT-X7F73S","time":"2025-07-04T19:21:24.734Z","type":"custody_otc_loan_pledge","category":"custody","area":"custody","status":"successful","ref_id":"TSGOQO3-RE57R-6QY57X","ref_id2":"TSGOQO3-RE57R-6QY57X"}],"stats":{"transactions_seen":100},"next_cursor":"ABCDEF"},"type":"object","properties":{"transactions":{"description":"Transactions list","type":"array","items":{"type":"object","properties":{"details":{"nullable":true,"description":"Transaction details","oneOf":[{"title":"simple_order","description":"Details for ptl like transactions ex: `Ptl`","type":"object","properties":{"type":{"type":"string","enum":["simple_order"],"description":"Details for ptl like transactions ex: `Ptl`"},"core":{"description":"SimpleOrder-like transaction details","type":"object","properties":{"quote_id":{"description":"Simple order quote id","type":"string"},"trade_type":{"description":"What type the trade is from the user's perspective (no actual trades here)","type":"string","enum":["unspecified","buy","sell","convert"]},"parent_transaction":{"nullable":true,"description":"Parent transaction id","type":"string"},"funding_fee":{"nullable":true,"description":"Funding fee","type":"object","properties":{"amount":{"example":"1.23","description":"Amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"quoted_funding_fee":{"nullable":true,"description":"Quoted funding fee","type":"object","properties":{"amount":{"example":"1.23","description":"Amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"xstock_inventory_counterparty":{"nullable":true,"description":"Payward entity (PDLS or PEDSL-CY) counterparty of the quote.","type":"string","enum":["unspecified","pdsl","pedsl_cy"]}},"required":["quote_id","trade_type"]}},"required":["core","type"]},{"title":"simple_order_failed","description":"Details for ptl-failed like transactions ex: `PtlInstantFailed`","type":"object","properties":{"type":{"type":"string","enum":["simple_order_failed"],"description":"Details for ptl-failed like transactions ex: `PtlInstantFailed`"},"core":{"description":"Failed Simple Order-like transaction details","type":"object","properties":{"receive_asset":{"description":"Receive asset","type":"object","properties":{"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["asset","class"]},"spend_asset":{"description":"Spend asset","type":"object","properties":{"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["asset","class"]},"trade_type":{"description":"What type the trade is from the user's perspective (no actual trades here)","type":"string","enum":["unspecified","buy","sell","convert"]},"failure_reason":{"description":"Failure reason","type":"string","enum":["other","insufficient_funds","card_issue","user_account_issue"]}},"required":["failure_reason","receive_asset","spend_asset","trade_type"]}},"required":["core","type"]},{"title":"simple_order_deposit_action","description":"Details for a deposit action for a simple order like transaction","type":"object","properties":{"type":{"type":"string","enum":["simple_order_deposit_action"],"description":"Details for a deposit action for a simple order like transaction"},"core":{"description":"Simple ordre deposit action","type":"object","properties":{"simple_order_transaction":{"description":"Transaction reference","type":"string"},"funding_reference":{"description":"Funding reference","type":"string"}},"required":["funding_reference","simple_order_transaction"]}},"required":["core","type"]},{"title":"dust_sweep","description":"Details for dust-sweep transactions","type":"object","properties":{"type":{"type":"string","enum":["dust_sweep"],"description":"Details for dust-sweep transactions"},"core":{"description":"Sweep-like transaction details","type":"object","properties":{"quote_id":{"description":"Simple order quote id","type":"string"},"spend_asset_count":{"description":"How many spend assets were used","type":"integer","format":"uint64","minimum":0}},"required":["quote_id","spend_asset_count"]}},"required":["core","type"]},{"title":"boost","description":"Details for boost transactions","type":"object","properties":{"type":{"type":"string","enum":["boost"],"description":"Details for boost transactions"},"core":{"description":"Sweep-like transaction details","type":"object","properties":{"quote_id":{"description":"Simple order quote id","type":"string"},"spend_asset_count":{"description":"How many spend assets were used","type":"integer","format":"uint64","minimum":0}},"required":["quote_id","spend_asset_count"]}},"required":["core","type"]},{"title":"funding","description":"Details for funding like transactions ex: `Deposit`","type":"object","properties":{"type":{"type":"string","enum":["funding"],"description":"Details for funding like transactions ex: `Deposit`"},"core":{"description":"Funding-like transaction details","type":"object","properties":{"funding_reference":{"description":"Funding reference","type":"string"},"state":{"description":"State","oneOf":[{"type":"object","properties":{"deposit":{"description":"A state of a deposit","type":"object","properties":{"status":{"description":"Status","type":"string","enum":["unspecified","settled","success","failure","returned"]},"status_details":{"description":"Status details","type":"string","enum":["unspecified","held","returned"]}},"required":["status","status_details"]}},"required":["deposit"]},{"type":"object","properties":{"withdrawal":{"type":"string","enum":["unspecified","initial","pending","success","failure"]}},"required":["withdrawal"]}]},"hold_status":{"nullable":true,"description":"Holding","type":"string","enum":["held","not_held"]},"received_time":{"nullable":true,"description":"Received time","type":"string"},"crypto_transaction_id":{"nullable":true,"description":"Crypto (On-chain) transaction id","type":"string"},"address_verification_status":{"nullable":true,"description":"Address verification status","type":"string","enum":["unspecified","verified","not_verified"]},"address_verification_eligibility_id":{"nullable":true,"description":"Address verification eligibility id","type":"string"},"custody":{"nullable":true,"description":"Custody details","type":"object","properties":{"last_updated":{"nullable":true,"description":"RFC 3339 date time format. Some examples of this format: 1985-04-12T23:20:50.52Z 1996-12-19T16:39:57-08:00","type":"string"},"task":{"nullable":true,"description":"Details about a custody task","type":"object","properties":{"approval_id":{"description":"Underlying approval ID of the custody task","type":"string"},"task_id":{"nullable":true,"example":"TN2F7NJJWKJHI2","description":"Custody task ID. The task ID is deprecated in favor of the approval ID.","type":"string","pattern":"^T[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14},"initiator":{"nullable":true,"description":"Details about the task's initiator","type":"object","properties":{"iiban":{"description":"The user's identifying IIBAN","type":"string","minLength":14,"maxLength":42},"name":{"nullable":true,"description":"The user full name","type":"string"},"role":{"description":"Role that the custody user holds in the organization.","type":"string"}},"required":["iiban","role"]}},"required":["approval_id"]}}},"pre_auto_convert_asset":{"nullable":true,"description":"Pre-auto convert asset","type":"object","properties":{"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["asset","class"]}},"required":["funding_reference","state"]}},"required":["core","type"]},{"title":"funding_action","description":"Details for funding action like transactions ex: `DepositAction`","type":"object","properties":{"type":{"type":"string","enum":["funding_action"],"description":"Details for funding action like transactions ex: `DepositAction`"},"core":{"description":"Funding action-like transaction details","type":"object","properties":{"funding_transaction":{"description":"Funding transaction reference","type":"string"},"funding_reference":{"description":"Funding reference","type":"string"}},"required":["funding_reference","funding_transaction"]}},"required":["core","type"]},{"title":"trade","description":"Details for trade like transactions ex: `Trade`","type":"object","properties":{"type":{"type":"string","enum":["trade"],"description":"Details for trade like transactions ex: `Trade`"},"core":{"description":"Trade details","type":"object","properties":{"side":{"description":"Side/direction of the trade","type":"string","enum":["unspecified","buy","sell"]},"uses_margin":{"description":"Uses margin Note: Only denotes if the SMV2 shorts wallet is used in the trade, so it is only relevant for smv2","type":"boolean"}},"required":["side","uses_margin"]}},"required":["core","type"]},{"title":"kard","description":"Details for kard transactions","type":"object","properties":{"type":{"type":"string","enum":["krak_card"]},"core":{"description":"Kard transaction details","type":"object","properties":{"status":{"description":"Status","type":"string","enum":["unspecified","authorized","rejected","success","reversed","refunded","partially_refunded","expired","disputed","dispute_won_refund","dispute_won_partial_refund","dispute_lost"]},"metadata":{"description":"Metadata","type":"object","properties":{"logo_url":{"nullable":true,"description":"Url for logo of a merchant","type":"string"},"merchant":{"nullable":true,"description":"Merchant name","type":"string"},"category":{"nullable":true,"description":"Category of a transaction (subscription, etc)","type":"string"},"transaction_source":{"nullable":true,"description":"Transaction source","type":"string"},"mcc":{"nullable":true,"description":"Merchant category code","type":"string"},"city":{"nullable":true,"description":"City where the transaction took place","type":"string"},"state":{"nullable":true,"description":"State where the transaction took place","type":"string"},"country_code":{"nullable":true,"description":"Country where the transaction took place","type":"string"},"last_4_digits":{"nullable":true,"description":"Last 4 numbers of PAN","type":"string"},"transaction_id":{"nullable":true,"description":"Monavate transaction id","type":"string"},"liquidated_assets":{"nullable":true,"description":"Present if assets were liquidated via PTL","type":"array","items":{"oneOf":[{"type":"string"}]}}}}},"required":["metadata","status"]}},"required":["core","type"]},{"title":"transfer","description":"Details for transfer like transactions ex: `Transfer`","type":"object","properties":{"type":{"type":"string","enum":["transfer"],"description":"Details for transfer like transactions ex: `Transfer`"},"core":{"description":"Transfer-like transaction details","type":"object","properties":{"subtype":{"nullable":true,"description":"Subtype","type":"string","enum":["unspecified","domain","spot_from_futures","spot_to_futures","vault_to_spot","spot_to_vault","vault_to_vault","vault_to_trading","trading_to_vault"]},"custody":{"nullable":true,"description":"Custody details","type":"object","properties":{"last_updated":{"nullable":true,"description":"RFC 3339 date time format. Some examples of this format: 1985-04-12T23:20:50.52Z 1996-12-19T16:39:57-08:00","type":"string"},"task":{"nullable":true,"description":"Details about a custody task","type":"object","properties":{"approval_id":{"description":"Underlying approval ID of the custody task","type":"string"},"task_id":{"nullable":true,"example":"TN2F7NJJWKJHI2","description":"Custody task ID. The task ID is deprecated in favor of the approval ID.","type":"string","pattern":"^T[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14},"initiator":{"nullable":true,"description":"Details about the task's initiator","type":"object","properties":{"iiban":{"description":"The user's identifying IIBAN","type":"string","minLength":14,"maxLength":42},"name":{"nullable":true,"description":"The user full name","type":"string"},"role":{"description":"Role that the custody user holds in the organization.","type":"string"}},"required":["iiban","role"]}},"required":["approval_id"]}}}}}},"required":["core","type"]},{"title":"legacy_staking","description":"Details for legacy staking like transactions ex: `LegacyStakingAllocation`","type":"object","properties":{"type":{"type":"string","enum":["legacy_staking"],"description":"Details for legacy staking like transactions ex: `LegacyStakingAllocation`"},"core":{"description":"Legacy staking transaction details","type":"object","properties":{"side":{"description":"Side","type":"string","enum":["unspecified","spot","staking"]}},"required":["side"]}},"required":["core","type"]},{"title":"earn_allocation","description":"Details for earn allocation transactions","type":"object","properties":{"type":{"type":"string","enum":["earn_allocation"],"description":"Details for earn allocation transactions"},"core":{"description":"Earn allocation transaction details","type":"object","properties":{"strategy_id":{"description":"Strategy id","type":"string"},"request_id":{"description":"Request id","type":"string"},"status":{"nullable":true,"description":"Status of bonding","type":"string","enum":["unspecified","in_progress","done"]},"lock_type":{"description":"Lock type","type":"string","enum":["unspecified","flex","bonded","timed","instant","custody","hybrid"]},"bonding_seconds":{"nullable":true,"description":"Bonding seconds","type":"integer","format":"uint32","minimum":0}},"required":["lock_type","request_id","strategy_id"]}},"required":["core","type"]},{"title":"earn_deallocation","description":"Details for earn deallocation transactions","type":"object","properties":{"type":{"type":"string","enum":["earn_deallocation"],"description":"Details for earn deallocation transactions"},"core":{"description":"Earn de-allocation transaction details","type":"object","properties":{"strategy_id":{"description":"Strategy id","type":"string"},"request_id":{"description":"Request id","type":"string"},"status":{"nullable":true,"description":"Status of unbonding","type":"string","enum":["unspecified","in_progress","done"]},"lock_type":{"description":"Lock type","type":"string","enum":["unspecified","flex","bonded","timed","instant","custody","hybrid"]},"unbonding_seconds":{"nullable":true,"description":"Unbonding seconds","type":"integer","format":"uint32","minimum":0}},"required":["lock_type","request_id","strategy_id"]}},"required":["core","type"]},{"title":"earn_reward","description":"Details for earn reward transactions","type":"object","properties":{"type":{"type":"string","enum":["earn_reward"],"description":"Details for earn reward transactions"},"core":{"description":"Earn reward transaction details","type":"object","properties":{"strategy_id":{"description":"Strategy id","type":"string"},"reward_id":{"description":"Reward id","type":"string"},"reward_info":{"description":"Reward info","type":"string","enum":["unspecified","airdrop","flex","bonded","timed","instant"]}},"required":["reward_id","reward_info","strategy_id"]}},"required":["core","type"]},{"title":"earn_auto_allocation","description":"Details for earn auto allocation transactions","type":"object","properties":{"type":{"type":"string","enum":["earn_auto_allocation"],"description":"Details for earn auto allocation transactions"},"core":{"description":"Earn auto allocation transaction details","type":"object","properties":{"strategy_id":{"description":"Strategy id","type":"string"}},"required":["strategy_id"]}},"required":["core","type"]},{"title":"custody_staking","description":"Details for custody staking","type":"object","properties":{"type":{"type":"string","enum":["custody_staking"],"description":"Details for custody staking"},"core":{"description":"Custody un/staking transaction details","type":"object","properties":{"strategy_id":{"description":"Strategy id","type":"string"},"request_id":{"description":"Request id","type":"string"},"status":{"nullable":true,"description":"Status of un/bonding","oneOf":[{"type":"string","enum":["unspecified","in_progress","done"]},{"type":"object","properties":{"failed":{"type":"object","properties":{"reason":{"type":"string"}},"required":["reason"]}},"required":["failed"]}]},"custody":{"description":"Custody details","type":"object","properties":{"last_updated":{"nullable":true,"description":"RFC 3339 date time format. Some examples of this format: 1985-04-12T23:20:50.52Z 1996-12-19T16:39:57-08:00","type":"string"},"task":{"nullable":true,"description":"Details about a custody task","type":"object","properties":{"approval_id":{"description":"Underlying approval ID of the custody task","type":"string"},"task_id":{"nullable":true,"example":"TN2F7NJJWKJHI2","description":"Custody task ID. The task ID is deprecated in favor of the approval ID.","type":"string","pattern":"^T[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14},"initiator":{"nullable":true,"description":"Details about the task's initiator","type":"object","properties":{"iiban":{"description":"The user's identifying IIBAN","type":"string","minLength":14,"maxLength":42},"name":{"nullable":true,"description":"The user full name","type":"string"},"role":{"description":"Role that the custody user holds in the organization.","type":"string"}},"required":["iiban","role"]}},"required":["approval_id"]}}}},"required":["custody","request_id","strategy_id"]}},"required":["core","type"]},{"title":"custody_unstaking","description":"Details for custody unstaking","type":"object","properties":{"type":{"type":"string","enum":["custody_unstaking"],"description":"Details for custody unstaking"},"core":{"description":"Custody un/staking transaction details","type":"object","properties":{"strategy_id":{"description":"Strategy id","type":"string"},"request_id":{"description":"Request id","type":"string"},"status":{"nullable":true,"description":"Status of un/bonding","oneOf":[{"type":"string","enum":["unspecified","in_progress","done"]},{"type":"object","properties":{"failed":{"type":"object","properties":{"reason":{"type":"string"}},"required":["reason"]}},"required":["failed"]}]},"custody":{"description":"Custody details","type":"object","properties":{"last_updated":{"nullable":true,"description":"RFC 3339 date time format. Some examples of this format: 1985-04-12T23:20:50.52Z 1996-12-19T16:39:57-08:00","type":"string"},"task":{"nullable":true,"description":"Details about a custody task","type":"object","properties":{"approval_id":{"description":"Underlying approval ID of the custody task","type":"string"},"task_id":{"nullable":true,"example":"TN2F7NJJWKJHI2","description":"Custody task ID. The task ID is deprecated in favor of the approval ID.","type":"string","pattern":"^T[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14},"initiator":{"nullable":true,"description":"Details about the task's initiator","type":"object","properties":{"iiban":{"description":"The user's identifying IIBAN","type":"string","minLength":14,"maxLength":42},"name":{"nullable":true,"description":"The user full name","type":"string"},"role":{"description":"Role that the custody user holds in the organization.","type":"string"}},"required":["iiban","role"]}},"required":["approval_id"]}}}},"required":["custody","request_id","strategy_id"]}},"required":["core","type"]},{"title":"custody_staking_reward","description":"Details for custody staking reward","type":"object","properties":{"type":{"type":"string","enum":["custody_staking_reward"],"description":"Details for custody staking reward"},"core":{"description":"Earn reward transaction details","type":"object","properties":{"strategy_id":{"description":"Strategy id","type":"string"},"reward_id":{"description":"Reward id","type":"string"},"custody":{"description":"Custody details","type":"object","properties":{"last_updated":{"nullable":true,"description":"RFC 3339 date time format. Some examples of this format: 1985-04-12T23:20:50.52Z 1996-12-19T16:39:57-08:00","type":"string"},"task":{"nullable":true,"description":"Details about a custody task","type":"object","properties":{"approval_id":{"description":"Underlying approval ID of the custody task","type":"string"},"task_id":{"nullable":true,"example":"TN2F7NJJWKJHI2","description":"Custody task ID. The task ID is deprecated in favor of the approval ID.","type":"string","pattern":"^T[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14},"initiator":{"nullable":true,"description":"Details about the task's initiator","type":"object","properties":{"iiban":{"description":"The user's identifying IIBAN","type":"string","minLength":14,"maxLength":42},"name":{"nullable":true,"description":"The user full name","type":"string"},"role":{"description":"Role that the custody user holds in the organization.","type":"string"}},"required":["iiban","role"]}},"required":["approval_id"]}}}},"required":["custody","reward_id","strategy_id"]}},"required":["core","type"]},{"title":"custody_staking_reward_aggregated","description":"Details for custody staking reward aggregatred","type":"object","properties":{"type":{"type":"string","enum":["custody_staking_reward_aggregated"],"description":"Details for custody staking reward aggregatred"},"core":{"description":"Earn reward transaction details","type":"object","properties":{"strategy_id":{"description":"Strategy id","type":"string"},"reward_id":{"description":"Reward id","type":"string"},"custody":{"description":"Custody details","type":"object","properties":{"last_updated":{"nullable":true,"description":"RFC 3339 date time format. Some examples of this format: 1985-04-12T23:20:50.52Z 1996-12-19T16:39:57-08:00","type":"string"},"task":{"nullable":true,"description":"Details about a custody task","type":"object","properties":{"approval_id":{"description":"Underlying approval ID of the custody task","type":"string"},"task_id":{"nullable":true,"example":"TN2F7NJJWKJHI2","description":"Custody task ID. The task ID is deprecated in favor of the approval ID.","type":"string","pattern":"^T[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14},"initiator":{"nullable":true,"description":"Details about the task's initiator","type":"object","properties":{"iiban":{"description":"The user's identifying IIBAN","type":"string","minLength":14,"maxLength":42},"name":{"nullable":true,"description":"The user full name","type":"string"},"role":{"description":"Role that the custody user holds in the organization.","type":"string"}},"required":["iiban","role"]}},"required":["approval_id"]}}}},"required":["custody","reward_id","strategy_id"]}},"required":["core","type"]},{"title":"custody_transfer","description":"Details for custody transfer","type":"object","properties":{"type":{"type":"string","enum":["custody_transfer"],"description":"Details for custody transfer"},"core":{"type":"object","properties":{"side":{"description":"Side","type":"string","enum":["unspecified","sent","received"]},"flow":{"description":"Flow","type":"string","enum":["unspecified","vault_to_spot","spot_to_vault"]},"status":{"description":"Status","type":"string","enum":["unspecified","initial","pending","success","failed"]},"source":{"nullable":true,"description":"Source iban","type":"string","minLength":14,"maxLength":42},"destination":{"nullable":true,"description":"Destination iban","type":"string","minLength":14,"maxLength":42},"crypto_transaction_id":{"nullable":true,"description":"Crypto transaction id","type":"string"},"max_on_chain_fee":{"nullable":true,"description":"Max on chain fee (for crypto transfers)","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"quoted_max_on_chain_fee":{"nullable":true,"description":"Quoted max on chain fee (for crypto transfers)","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"custody":{"nullable":true,"description":"Custody meta data","type":"object","properties":{"last_updated":{"nullable":true,"description":"RFC 3339 date time format. Some examples of this format: 1985-04-12T23:20:50.52Z 1996-12-19T16:39:57-08:00","type":"string"},"task":{"nullable":true,"description":"Details about a custody task","type":"object","properties":{"approval_id":{"description":"Underlying approval ID of the custody task","type":"string"},"task_id":{"nullable":true,"example":"TN2F7NJJWKJHI2","description":"Custody task ID. The task ID is deprecated in favor of the approval ID.","type":"string","pattern":"^T[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14},"initiator":{"nullable":true,"description":"Details about the task's initiator","type":"object","properties":{"iiban":{"description":"The user's identifying IIBAN","type":"string","minLength":14,"maxLength":42},"name":{"nullable":true,"description":"The user full name","type":"string"},"role":{"description":"Role that the custody user holds in the organization.","type":"string"}},"required":["iiban","role"]}},"required":["approval_id"]}}}},"required":["flow","side","status"]}},"required":["core","type"]},{"title":"bridge_simple_order","description":"Details for simple order","type":"object","properties":{"type":{"type":"string","enum":["bridge_simple_order"],"description":"Details for simple order"},"core":{"description":"BridgeSimpleOrder-like transaction details","type":"object","properties":{"quote_id":{"description":"Simple order quote id","type":"string"},"funding_transaction":{"description":"Bridge funding transaction id","type":"string"},"trade_type":{"description":"What type the trade is from the user's perspective (no actual trades here)","type":"string","enum":["unspecified","buy","sell","convert"]}},"required":["funding_transaction","quote_id","trade_type"]}},"required":["core","type"]},{"title":"transfer_peer_to_peer","description":"Details for peer to peer transfer","type":"object","properties":{"type":{"type":"string","enum":["transfer_peer_to_peer"],"description":"Details for peer to peer transfer"},"core":{"description":"TransferPeerToPeer-like transaction details","type":"object","properties":{"side":{"description":"Side","type":"string","enum":["unspecified","sent","received"]},"is_cancellable":{"description":"Is cancellable","type":"boolean"},"status":{"description":"Status","type":"string","enum":["unspecified","in_progress","pending_email_verification","success","failed","cancelled","expired"]},"metadata":{"description":"Metadata","type":"object","properties":{"note":{"nullable":true,"description":"Note","type":"string"},"sender":{"nullable":true,"description":"Sender","type":"object","properties":{"iiban":{"nullable":true,"description":"Iiban","type":"string"},"name":{"nullable":true,"description":"Friendly name","type":"string"}}},"recipient":{"nullable":true,"description":"Recipient","type":"object","properties":{"iiban":{"nullable":true,"description":"Iiban","type":"string"},"name":{"nullable":true,"description":"Friendly name","type":"string"}}}}}},"required":["is_cancellable","metadata","side","status"]}},"required":["core","type"]},{"title":"otc_trade","description":"Details for an OTC transaction","type":"object","properties":{"type":{"type":"string","enum":["otc_trade"],"description":"Details for an OTC transaction"},"core":{"type":"object","properties":{"quote_id":{"description":"Unique OTC trade identifier","type":"string"},"trade_id":{"nullable":true,"description":"Trade ID associated with the settled OTC trade","type":"string"},"time":{"description":"Initiation time of the OTC trade","type":"string"},"max_on_chain_fee":{"nullable":true,"description":"Max on chain fee (for crypto transfers)","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"quoted_max_on_chain_fee":{"nullable":true,"description":"Quoted max on chain fee (for crypto transfers)","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"price":{"description":"OTC trade exchange rate represented in terms of the quote asset","type":"string"},"base":{"description":"The base asset of the OTC transaction","type":"object","properties":{"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["asset","class"]},"quote":{"description":"The quote asset of the OTC transaction","type":"object","properties":{"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["asset","class"]},"vault_to_trading_ref_id":{"nullable":true,"description":"Vault to trading ref id","type":"string"},"trading_to_vault_ref_id":{"nullable":true,"description":"Trading to vault ref id","type":"string"},"custody":{"nullable":true,"description":"Custody meta data","type":"object","properties":{"last_updated":{"nullable":true,"description":"RFC 3339 date time format. Some examples of this format: 1985-04-12T23:20:50.52Z 1996-12-19T16:39:57-08:00","type":"string"},"initiator":{"nullable":true,"description":"Details about the transactions's initiator","type":"object","properties":{"iiban":{"description":"The user's identifying IIBAN","type":"string","minLength":14,"maxLength":42},"name":{"nullable":true,"description":"The user full name","type":"string"},"role":{"description":"Role that the custody user holds in the organization.","type":"string"}},"required":["iiban","role"]}}}},"required":["base","price","quote","quote_id","time"]}},"required":["core","type"]},{"title":"bundle_trade","description":"Details for a `BundleTrade` transaction","type":"object","properties":{"type":{"type":"string","enum":["bundle_trade"],"description":"Details for a `BundleTrade` transaction"},"core":{"description":"Bundle trade-like transaction details","type":"object","properties":{"side":{"description":"Side/operation of the trade","type":"string","enum":["unknown","buy","sell","rebalance","dissolve","recurring_buy"]},"quote_id":{"description":"Simple order bulk quote id","type":"string"},"bundle":{"description":"Bundle details","type":"object","properties":{"id":{"description":"Id","type":"string"},"name":{"nullable":true,"description":"Name","type":"string"}},"required":["id"]}},"required":["bundle","quote_id","side"]}},"required":["core","type"]},{"title":"user_account_transfer","description":"Details for a User account transfer","type":"object","properties":{"type":{"type":"string","enum":["user_account_transfer"],"description":"Details for a User account transfer"},"core":{"description":"Details for a user account transfer","type":"object","properties":{"side":{"description":"Side","type":"string","enum":["unspecified","sent","received"]},"metadata":{"description":"Metadata","type":"object","properties":{"counterparty":{"title":"PublicAccountId","description":"Counterparty","type":"string","minLength":16,"maxLength":19}},"required":["counterparty"]}},"required":["metadata","side"]}},"required":["core","type"]},{"title":"cash_dividend","description":"Details for dividend","type":"object","properties":{"type":{"type":"string","enum":["cash_dividend"],"description":"Details for dividend"},"core":{"type":"object","properties":{"trigger_asset":{"nullable":true,"type":"object","properties":{"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["asset","class"]},"per_share_amount":{"nullable":true,"type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"net_amount":{"nullable":true,"type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]}}}},"required":["core","type"]},{"title":"earn_restaking","description":"Details for a earn restaking transaction","type":"object","properties":{"type":{"type":"string","enum":["earn_restaking"],"description":"Details for a earn restaking transaction"},"core":{"type":"object","properties":{"strategy_id":{"type":"string"},"request_id":{"type":"string"},"lock_type":{"description":"Lock type of earn transaction","type":"string","enum":["unspecified","flex","bonded","timed","instant","custody","hybrid"]},"bonding_seconds":{"nullable":true,"type":"integer","format":"uint32","minimum":0}},"required":["lock_type","request_id","strategy_id"]}},"required":["core","type"]},{"title":"equity_fee","description":"Details for a equity fee","type":"object","properties":{"type":{"type":"string","enum":["equity_fee"],"description":"Details for a equity fee"},"core":{"type":"object","properties":{"fee_type":{"type":"string","enum":["unspecified","regulatory","trading_activity","consolidated_audit_trail","american_depositary_receipts","margin_interest","voluntary_corporate_action_fee","acats"]},"origin_timestamp":{"nullable":true,"description":"RFC 3339 date time format. Some examples of this format: 1985-04-12T23:20:50.52Z 1996-12-19T16:39:57-08:00","type":"string"},"net_amount":{"nullable":true,"type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]}},"required":["fee_type"]}},"required":["core","type"]},{"title":"equity_journal","description":"Details for a equity journal","type":"object","properties":{"type":{"type":"string","enum":["equity_journal"],"description":"Details for a equity journal"},"core":{"type":"object","properties":{"journal_type":{"type":"string","enum":["unspecified","jit_settlement","rounding_issue"]}},"required":["journal_type"]}},"required":["core","type"]},{"title":"conversion","description":"Details for a conversion transaction","type":"object","properties":{"type":{"type":"string","enum":["conversion"],"description":"Details for a conversion transaction"},"core":{"type":"object","properties":{"reason":{"nullable":true,"type":"string","enum":["unspecified","delisting"]}}}},"required":["core","type"]},{"title":"corporate_action","description":"Corporate Action","type":"object","properties":{"type":{"type":"string","enum":["corporate_action"],"description":"Corporate Action"},"core":{"type":"object","properties":{"action_type":{"type":"string","enum":["split","merger","name_change","spinoff","worthless_removal","unspecified"]},"split_direction":{"nullable":true,"type":"string","enum":["forward","reverse","unspecified"]},"activity_status":{"nullable":true,"type":"string","enum":["executed","canceled","correct","unspecified"]},"merger_type":{"nullable":true,"type":"string","enum":["cash","stock","stock_cash"]},"merger_acquirer_amount":{"nullable":true,"description":"An amount in the denoted asset","type":"object","properties":{"amount":{"example":"1.23","description":"Amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"merger_target_amount":{"nullable":true,"description":"An amount in the denoted asset","type":"object","properties":{"amount":{"example":"1.23","description":"Amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"merger_cash_amount":{"nullable":true,"description":"An amount in the denoted asset","type":"object","properties":{"amount":{"example":"1.23","description":"Amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"name_change_type":{"nullable":true,"type":"string","enum":["cusip","symbol_and_cusip","unspecified"]},"spinoff_old_amount":{"nullable":true,"description":"An amount in the denoted asset","type":"object","properties":{"amount":{"example":"1.23","description":"Amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"spinoff_new_amount":{"nullable":true,"description":"An amount in the denoted asset","type":"object","properties":{"amount":{"example":"1.23","description":"Amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"worthless_removal_amount":{"nullable":true,"description":"An amount in the denoted asset","type":"object","properties":{"amount":{"example":"1.23","description":"Amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]}},"required":["action_type"]}},"required":["core","type"]},{"title":"unknown","description":"Unknown","type":"object","properties":{"type":{"type":"string","enum":["unknown"],"description":"Unknown"}},"required":["type"]}]},"custody_extended":{"nullable":true,"description":"Transaction extension","oneOf":[{"description":"Base fields for transaction extension output (includes `ref_id_2`, used for retrieval)","type":"object","properties":{"custody_type":{"type":"string","enum":["pledge_collateral"]},"loan_id":{"type":"string"},"ref_id_2":{"type":"integer","format":"int64"},"approval_id":{"nullable":true,"type":"string"},"internal_transaction_id":{"nullable":true,"type":"string"},"transaction_hash":{"nullable":true,"type":"string"}},"required":["custody_type","loan_id","ref_id_2"]},{"description":"Base fields for transaction extension output (includes `ref_id_2`, used for retrieval)","type":"object","properties":{"custody_type":{"type":"string","enum":["reward_withdrawal"]},"ref_id_2":{"type":"integer","format":"int64"},"approval_id":{"nullable":true,"type":"string"},"internal_transaction_id":{"nullable":true,"type":"string"},"transaction_hash":{"nullable":true,"type":"string"}},"required":["custody_type","ref_id_2"]},{"description":"Base fields for transaction extension output (includes `ref_id_2`, used for retrieval)","type":"object","properties":{"custody_type":{"type":"string","enum":["reward_deposit"]},"ref_id_2":{"type":"integer","format":"int64"},"approval_id":{"nullable":true,"type":"string"},"internal_transaction_id":{"nullable":true,"type":"string"},"transaction_hash":{"nullable":true,"type":"string"}},"required":["custody_type","ref_id_2"]},{"description":"Base fields for transaction extension output (includes `ref_id_2`, used for retrieval)","type":"object","properties":{"custody_type":{"type":"string","enum":["post_trade_settlement"]},"batch_id":{"type":"string"},"ref_id_2":{"type":"integer","format":"int64"},"approval_id":{"nullable":true,"type":"string"},"internal_transaction_id":{"nullable":true,"type":"string"},"transaction_hash":{"nullable":true,"type":"string"}},"required":["batch_id","custody_type","ref_id_2"]}]},"id":{"description":"Id","type":"string"},"time":{"description":"Time","type":"string"},"type":{"description":"Type","type":"string","enum":["unspecified","deposit","withdrawal","trade","margin","adjustment","rollover","interest","credit","transfer","transfer_peer_to_peer","settle","dividend","nft_trade","reward","nft_creator_fee","nft_rebate","nft_airdrop","simple_order","simple_order_with_deposit","simple_order_failed","custom_simple_order","custom_simple_order_with_deposit","custom_simple_order_failed","recurring_simple_order","recurring_simple_order_with_deposit","recurring_simple_order_failed","simple_order_opposite_side","reserved_fee","fee_sweep","ic_settlement","fee_sweep_dlt","reward_sweep","reward_sweep_old","interest_sweep","conversion","dust_sweep","futures_transfer","custody_transfer","deposit_action","withdrawal_action","legacy_staking_allocation","legacy_staking_deallocation","legacy_staking_reward","earn_legacy_migration","block_trade","equity_trade","equity_acats","earn_staking_allocation","earn_staking_deallocation","earn_staking_reward","earn_staking_auto_allocation","earn_oir_allocation","earn_oir_deallocation","earn_oir_reward","earn_oir_auto_allocation","earn_base_reward","earn_base_auto_allocation","earn_base_auto_deallocation","custody_staking","custody_unstaking","custody_staking_reward","custody_staking_reward_aggregated","credit_rollover","airdrop","earn_oir_auto_deallocation","earn_staking_auto_deallocation","bridge_deposit","bridge_simple_order","simple_order_deposit_action","otc_buy","otc_sell","bundle_trade","equity_fee","equity_journal","corporate_action","user_account_transfer","earn_restaking","subscription","custody_otc_loan_pledge","custody_otc_collateral_liquidation","paytag_transfer","paylink_transfer","paytag_request_transfer","paylink_request_transfer","kard_transfer","krak_card","custody_otc_loan_release","fpsl_reward","fcm_trade","boost","fcm_misc"]},"category":{"description":"Category","type":"string","enum":["unspecified","deposit","withdrawal","transfer","krak_card","trade","margin_trade","margin_rollover","margin_settle","earn","earn_rewards","simple_trading","nft","block_trade","credit","equity_trade","equity_acats","equity_dividend","reward_bonus","conversion","reward","custody","legacy_staking","legacy_staking_rewards","equity_fee","equity_journal","corporate_action","fpsl_reward","subscription","other"]},"area":{"description":"Area","type":"string","enum":["unspecified","funding","transfer","krak_card","spot_margin","equity","earn","simple_trading","custody","staking","nft","other"]},"status":{"nullable":true,"description":"Status","type":"string","enum":["unspecified","in_progress","successful","failed"]},"ref_id":{"description":"Reference id 1","type":"string"},"ref_id2":{"nullable":true,"description":"Reference id 2","type":"string"},"spend":{"nullable":true,"description":"Spend side","type":"object","properties":{"ledger_id":{"nullable":true,"description":"Ledger Id","type":"string"},"time":{"nullable":true,"description":"Time","type":"string"},"subtype":{"nullable":true,"description":"Subtype","type":"string","enum":["unspecified","domain","invite_bonus","welcome_bonus","equity_fpsl","bonus"]},"amount":{"description":"Amount","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"quoted_amount":{"nullable":true,"description":"Quoted Amount","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"fee":{"nullable":true,"description":"Fee","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"quoted_fee":{"nullable":true,"description":"Quoted Fee","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"total":{"nullable":true,"description":"Total (total debit, or credit, including fees), only optional for backwards compatibility reasons","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"quoted_total":{"nullable":true,"description":"Quoted Total","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"balance":{"nullable":true,"description":"Balance","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"wallet":{"nullable":true,"description":"Wallet information","oneOf":[{"title":"spot","description":"Spot.","type":"object","properties":{"type":{"type":"string","enum":["spot"],"description":"Spot."},"id":{"type":"string","enum":["main","shorts","unknown"]}},"required":["id","type"]},{"title":"earn","description":"Earn.","type":"object","properties":{"type":{"type":"string","enum":["earn"],"description":"Earn."},"id":{"type":"string","enum":["flexible","liquid","bonded","locked","closed","unknown"]}},"required":["id","type"]},{"title":"legal_entities","description":"Legal entities.","type":"object","properties":{"type":{"type":"string","enum":["legal_entities"],"description":"Legal entities."},"id":{"type":"string","enum":["unknown"]}},"required":["id","type"]},{"title":"bundles","description":"Bundles.","type":"object","properties":{"type":{"type":"string","enum":["bundles"],"description":"Bundles."},"id":{"type":"string"}},"required":["id","type"]},{"title":"custody_otc_trading","description":"Custody OTC trading.","type":"object","properties":{"type":{"type":"string","enum":["custody_otc_trading"],"description":"Custody OTC trading."},"id":{"type":"string"}},"required":["id","type"]},{"title":"derivatives_multi_collateral","description":"Derivatives multi-collateral.","type":"object","properties":{"type":{"type":"string","enum":["derivatives_multi_collateral"],"description":"Derivatives multi-collateral."},"id":{"type":"string","enum":["main","unknown"]}},"required":["id","type"]},{"title":"derivatives_single_collateral","description":"Derivatives single-collateral.","type":"object","properties":{"type":{"type":"string","enum":["derivatives_single_collateral"],"description":"Derivatives single-collateral."},"id":{"type":"string"}},"required":["id","type"]},{"title":"derivatives_holding","description":"Derivatives holding.","type":"object","properties":{"type":{"type":"string","enum":["derivatives_holding"],"description":"Derivatives holding."},"id":{"type":"string","enum":["main","unknown"]}},"required":["id","type"]},{"title":"peer_to_peer_lending","description":"Peer To Peer Lending.","type":"object","properties":{"type":{"type":"string","enum":["peer_to_peer_lending"],"description":"Peer To Peer Lending."},"id":{"type":"string","enum":["lending","loans","unknown"]}},"required":["id","type"]},{"title":"custody_pledged_collateral","description":"Custody pledged collateral.","type":"object","properties":{"type":{"type":"string","enum":["custody_pledged_collateral"],"description":"Custody pledged collateral."},"id":{"type":"string","enum":["otc_trading","unknown"]}},"required":["id","type"]},{"title":"fcm","description":"FCM (Futures Commission Merchant)","type":"object","properties":{"type":{"type":"string","enum":["fcm"],"description":"FCM (Futures Commission Merchant)"},"id":{"type":"string","enum":["main","unknown"]}},"required":["id","type"]},{"title":"unknown","description":"Unknown","type":"object","properties":{"type":{"type":"string","enum":["unknown"],"description":"Unknown"}},"required":["type"]}]}},"required":["amount"]},"receive":{"nullable":true,"description":"Receive side","type":"object","properties":{"ledger_id":{"nullable":true,"description":"Ledger Id","type":"string"},"time":{"nullable":true,"description":"Time","type":"string"},"subtype":{"nullable":true,"description":"Subtype","type":"string","enum":["unspecified","domain","invite_bonus","welcome_bonus","equity_fpsl","bonus"]},"amount":{"description":"Amount","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"quoted_amount":{"nullable":true,"description":"Quoted Amount","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"fee":{"nullable":true,"description":"Fee","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"quoted_fee":{"nullable":true,"description":"Quoted Fee","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"total":{"nullable":true,"description":"Total (total debit, or credit, including fees), only optional for backwards compatibility reasons","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"quoted_total":{"nullable":true,"description":"Quoted Total","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"balance":{"nullable":true,"description":"Balance","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"wallet":{"nullable":true,"description":"Wallet information","oneOf":[{"title":"spot","description":"Spot.","type":"object","properties":{"type":{"type":"string","enum":["spot"],"description":"Spot."},"id":{"type":"string","enum":["main","shorts","unknown"]}},"required":["id","type"]},{"title":"earn","description":"Earn.","type":"object","properties":{"type":{"type":"string","enum":["earn"],"description":"Earn."},"id":{"type":"string","enum":["flexible","liquid","bonded","locked","closed","unknown"]}},"required":["id","type"]},{"title":"legal_entities","description":"Legal entities.","type":"object","properties":{"type":{"type":"string","enum":["legal_entities"],"description":"Legal entities."},"id":{"type":"string","enum":["unknown"]}},"required":["id","type"]},{"title":"bundles","description":"Bundles.","type":"object","properties":{"type":{"type":"string","enum":["bundles"],"description":"Bundles."},"id":{"type":"string"}},"required":["id","type"]},{"title":"custody_otc_trading","description":"Custody OTC trading.","type":"object","properties":{"type":{"type":"string","enum":["custody_otc_trading"],"description":"Custody OTC trading."},"id":{"type":"string"}},"required":["id","type"]},{"title":"derivatives_multi_collateral","description":"Derivatives multi-collateral.","type":"object","properties":{"type":{"type":"string","enum":["derivatives_multi_collateral"],"description":"Derivatives multi-collateral."},"id":{"type":"string","enum":["main","unknown"]}},"required":["id","type"]},{"title":"derivatives_single_collateral","description":"Derivatives single-collateral.","type":"object","properties":{"type":{"type":"string","enum":["derivatives_single_collateral"],"description":"Derivatives single-collateral."},"id":{"type":"string"}},"required":["id","type"]},{"title":"derivatives_holding","description":"Derivatives holding.","type":"object","properties":{"type":{"type":"string","enum":["derivatives_holding"],"description":"Derivatives holding."},"id":{"type":"string","enum":["main","unknown"]}},"required":["id","type"]},{"title":"peer_to_peer_lending","description":"Peer To Peer Lending.","type":"object","properties":{"type":{"type":"string","enum":["peer_to_peer_lending"],"description":"Peer To Peer Lending."},"id":{"type":"string","enum":["lending","loans","unknown"]}},"required":["id","type"]},{"title":"custody_pledged_collateral","description":"Custody pledged collateral.","type":"object","properties":{"type":{"type":"string","enum":["custody_pledged_collateral"],"description":"Custody pledged collateral."},"id":{"type":"string","enum":["otc_trading","unknown"]}},"required":["id","type"]},{"title":"fcm","description":"FCM (Futures Commission Merchant)","type":"object","properties":{"type":{"type":"string","enum":["fcm"],"description":"FCM (Futures Commission Merchant)"},"id":{"type":"string","enum":["main","unknown"]}},"required":["id","type"]},{"title":"unknown","description":"Unknown","type":"object","properties":{"type":{"type":"string","enum":["unknown"],"description":"Unknown"}},"required":["type"]}]}},"required":["amount"]}},"required":["area","category","id","ref_id","time","type"]}},"stats":{"nullable":true,"description":"Cursor statistics","type":"object","properties":{"transactions_seen":{"nullable":true,"description":"Transactions seen","type":"integer","format":"uint64","minimum":0}}},"next_cursor":{"nullable":true,"description":"Next cursor","type":"string"}},"required":["transactions"]},"errors":{"$ref":"#/components/schemas/KWebErrors"}}},"getCustodyTransaction":{"type":"object","required":["nonce","vault_id"],"properties":{"nonce":{"$ref":"#/components/schemas/nonce"},"vault_id":{"description":"Vault ID","type":"string","pattern":"^V[A-Z2-7]{12}[ACEGIKMOQSUWY246]$","minLength":14,"maxLength":14},"with_long_timeout":{"nullable":true,"description":"With long timeout","default":null,"type":"boolean"},"quote":{"nullable":true,"description":"Quote asset","default":null,"type":"object","properties":{"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["asset","class"]}}},"getCustodyTransaction-2":{"type":"object","required":["error"],"properties":{"error":{"$ref":"#/components/schemas/KWebErrors"},"result":{"nullable":true,"example":{"transaction":{"id":"TXURLTG-FFGYT-X7F73S","time":"2024-01-03T15:07:15.400Z","type":"trade","category":"trade","area":"spot_margin","status":"successful","ref_id":"TSGOQO3-RE57R-6QY57X","ref_id2":"TPIGLM-T664Y-JZSNTW","custody_extended":{"custody_type":"pledge_collateral","ref_id_2":0,"approval_id":null,"internal_transaction_id":null,"transaction_hash":null,"loan_id":"L_123"}},"result_type":"complete"},"type":"object","properties":{"transaction":{"description":"Transaction","type":"object","properties":{"details":{"nullable":true,"description":"Transaction details","oneOf":[{"title":"simple_order","description":"Details for ptl like transactions ex: `Ptl`","type":"object","properties":{"type":{"type":"string","enum":["simple_order"],"description":"Details for ptl like transactions ex: `Ptl`"},"core":{"description":"SimpleOrder-like transaction details","type":"object","properties":{"quote_id":{"description":"Simple order quote id","type":"string"},"trade_type":{"description":"What type the trade is from the user's perspective (no actual trades here)","type":"string","enum":["unspecified","buy","sell","convert"]},"parent_transaction":{"nullable":true,"description":"Parent transaction id","type":"string"},"funding_fee":{"nullable":true,"description":"Funding fee","type":"object","properties":{"amount":{"example":"1.23","description":"Amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"quoted_funding_fee":{"nullable":true,"description":"Quoted funding fee","type":"object","properties":{"amount":{"example":"1.23","description":"Amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"xstock_inventory_counterparty":{"nullable":true,"description":"Payward entity (PDLS or PEDSL-CY) counterparty of the quote.","type":"string","enum":["unspecified","pdsl","pedsl_cy"]}},"required":["quote_id","trade_type"]},"extended":{"nullable":true,"description":"Simple order-like transaction extended details","type":"object","properties":{"quote_ref_id":{"nullable":true,"description":"Quote ref id","type":"string"},"funding_type":{"nullable":true,"description":"Funding type","type":"string","enum":["wallet","ach","ach_plaid","fps_plaid","ivy","cc","apple_pay","google_pay","paypal","other"]},"channel":{"nullable":true,"description":"Channel","type":"string","enum":["other","web","mobile"]},"fee":{"description":"Trade fee","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"funding_fee":{"nullable":true,"description":"Funding fee","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"total_fee":{"nullable":true,"description":"Total fee","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"price":{"description":"Price","type":"object","properties":{"amount":{"description":"To be used as response value for Decimal amounts.","type":"string"},"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["amount","asset","class"]},"action_id":{"nullable":true,"description":"For transactions created by the consumer scheduler","type":"string"},"trigger_type":{"nullable":true,"description":"Scheduled trigger type","type":"string","enum":["other","time","price"]},"price_trigger":{"nullable":true,"description":"Scheduled price trigger if it's a price based scheduled trade","type":"object","properties":{"base_asset":{"description":"The base asset of the pair to check the price in.","type":"object","properties":{"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["asset","class"]},"quote_asset":{"description":"The quote asset of the pair to check the price in.","type":"object","properties":{"asset":{"description":"All result amounts will be expressed in units of this asset.","type":"string"},"class":{"type":"string","enum":["currency","forex","equity","equity_pair","nft","derivatives","tokenized_asset","futures_contract"]}},"required":["asset","class"]},"target_price":{"description":"The price denominated in the `base_asset`/`quote_asset` rate","type":"string"},"condition":{"description":"The condition associated with the target price. Greater than or equal to (gte) or less than or equal to (lte).","type":"string","enum":["less_than_or_equal","greater_than_or_equal"]}},"required":["base_asset","condition","quote_asset","target_price"]},"recurrence_interval":{"nullable":true,"description":"Recurrence interval for recurring transactions","type":"string","enum":["day","week","two_weeks","month","other"]},"parent_transaction":{"nullable":true,"description":"Parent transaction, either the Parent transaction of the current top level transaction, or None, if the child is Nested in it's parent"},"child_transactions":{"nullable":true,"description":"Child transactions, if applicable, otherwise empty array, its also empty, if the transaction is nested in a child","type":"array","items":{}},"child_relationships":{"nullable":true,"description":"Child transaction relationships","type":"object","additionalProperties":{"description":"Simple order child transaction relationship","type":"object","properties":{"child_type":{"description":"Child relationship type","type":"string","enum":["other","unknown","take_profit","stop_loss"]}},"required":["child_type"]}}},"required":["fee","price"]}},"required":["core","type"]},{"title":"simple_order_failed","description":"Details for ptl failed like transactions ex: `PtlInstantFailed`","type":"object","properties":{"type":{"type":"string","enum":["simple_order_failed"],"description":"Details for ptl failed like transactions ex: `PtlInstantFailed`"},"core":{"description":"Failed Simple Order-like transaction details","type":"object","properties":{"receive_asset":{"description":"Receive asset","type":"object","properties":{"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency","forex","equity","equity_pair","nf
[...]
