{"openapi":"3.0.0","info":{"title":"Embed REST API","version":"2025-04-25","description":"Payward Embed REST API"},"servers":[{"url":"https://nexus.kraken.com","description":"Production Server"}],"security":[{"API-Key":[],"API-Sign":[]}],"tags":[{"name":"Users"},{"name":"Subaccounts"},{"name":"Verifications"},{"name":"Assets"},{"name":"Quotes"},{"name":"Portfolios"},{"name":"Earn"},{"name":"Transfers"},{"name":"Reports"},{"name":"Webhooks","description":"\nWebhooks allow you to receive real-time notifications when events occur in Payward Embed. When you register a webhook, Payward will send HTTP POST requests to your configured URL whenever subscribed events are triggered.\n\n## Getting Started\n\n1. **Make sure your callback domain is allowlisted** before registering a webhook\n2. **Register a webhook** using the Register Webhook endpoint — you can optionally specify `enabled` and `events` at registration time\n3. **Store your secret** - the webhook secret is only returned once during registration\n4. **Enable and subscribe to events** using the Update Webhook endpoint (if not configured at registration)\n5. **Implement signature verification** in your webhook handler — see Webhook Events for details\n\n## Event Types\n\n| Event Type | Description |\n|------------|-------------|\n| `custom_order.executed` | A custom_order has been successfully executed |\n| `custom_order.execution_failed` | A custom_order execution has failed |\n| `custom_order.cancelled` | A custom_order was cancelled |\n| `quote.executed` | A quote has been successfully executed |\n| `quote.execution_failed` | A quote execution has failed |\n| `quote.cancelled` | A quote was cancelled before execution |\n| `deposit.status_updated` | The status of a deposit has been updated |\n| `withdrawal.status_updated` | The status of a withdrawal has been updated |\n| `user.verified` | A user has been verified and can now trade on the platform |\n| `user.closed` | A user's account has been permanently closed |\n| `user.disabled` | A user's account has been disabled (e.g., due to a trade lock or account suspension) |\n| `reward.paid` | An Earn reward has been paid to a user |\n| `webhook.test` | A test event sent via the Test Webhook endpoint |\n\n## Retry Behavior\n\nPayward automatically retries failed webhook deliveries using exponential backoff. The system will continue retrying until the configured timeout is reached:\n\n- **Production**: Retries for up to **5 minutes**\n\nAfter the retry timeout is exceeded, the webhook delivery is marked as failed and no further attempts are made.\n\n## Best Practices\n\n- **Respond quickly** - Return a 2xx status code within 30 seconds to acknowledge receipt\n- **Process asynchronously** - If your processing takes time, queue the webhook for background processing\n- **Be idempotent** - Webhooks may be delivered more than once\n- **Monitor failures** - Track non-2xx responses and implement alerting\n"}],"paths":{"/b2b/assets":{"get":{"operationId":"listEmbedAssets","tags":["Assets"],"summary":"List Assets","description":"List all assets available on the platform.\n\nThis endpoint returns a list of all assets available on the platform. The\nresponse includes the asset identifier, the type of the asset, and the\nstatus of the asset on the platform.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/UserFilter","description":"If provided, filters the list of assets to only include\nthose that can be traded by the user with the given IIBAN.\n"},{"$ref":"#/components/parameters/AssetsFilter","description":"If provided, filters the list of assets to only include\nthose with the given asset IDs.\n"},{"in":"query","name":"filter[platform_statuses][]","description":"If provided, filters the list of assets to only include\nthose with any of the given platform statuses.\n","schema":{"type":"array","default":[],"items":{"$ref":"#/components/schemas/PlatformStatus"}},"style":"form","explode":true},{"in":"query","name":"filter[tradable_only]","description":"If provided and set to `true`, filters the list of assets to only include\nthose that are tradable on the platform.\n\nThis is equivalent to `filter[platform_statuses][]=enabled`\nand is provided as a convenience.\n","schema":{"type":"boolean","default":false}},{"in":"query","name":"sort","schema":{"default":"market_cap_rank","title":"Sort Order","type":"string","enum":["trending","market_cap_rank","-market_cap_rank","symbol","-symbol","name","-name","change_percent_1h","-change_percent_1h","change_percent_24h","-change_percent_24h","change_percent_7d","-change_percent_7d","change_percent_30d","-change_percent_30d","change_percent_1y","-change_percent_1y","listing_date","-listing_date"]}},{"$ref":"#/components/parameters/PageSize"},{"$ref":"#/components/parameters/PageNumber"},{"$ref":"#/components/parameters/Quote"},{"$ref":"#/components/parameters/Lang"}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"assets":{"description":"The list of matching assets.","type":"array","items":{"type":"object","properties":{"id":{"description":"The asset identifier.","$ref":"#/components/schemas/AssetName"},"disabled_against":{"type":"array","items":{"$ref":"#/components/schemas/AssetName"},"description":"If a user IIBAN was provided in the request, this field\nwill contain a list of assets that can't be paired\nwith this asset.\n"},"decimals":{"description":"The maximum number of decimals that can be used for this asset.\n","$ref":"#/components/schemas/Uint8"},"display_decimals":{"description":"The number of decimals to display for this asset.\n","$ref":"#/components/schemas/Uint8"},"collateral_value":{"description":"Valuation as margin collateral (if applicable).\n","type":"number","format":"float"},"user_status":{"description":"If a user id was provided in the request,\nthis field will contain the status of the asset for\nthe given user.\n","anyOf":[{"title":"Known User Status","type":"string","enum":["tradable","available_soon","temporarily_disabled","disabled"]},{"title":"Unknown User Status","type":"string"}]},"simple_trade_decimals":{"$ref":"#/components/schemas/Uint8"},"platform_status":{"$ref":"#/components/schemas/PlatformStatus"},"english_name":{"$ref":"#/components/schemas/EnglishName"},"circulating_supply":{"$ref":"#/components/schemas/BigDecimal"},"circulating_supply_value":{"$ref":"#/components/schemas/BigDecimal"},"total_supply":{"$ref":"#/components/schemas/TotalSupply"},"total_supply_value":{"$ref":"#/components/schemas/BigDecimal","description":"The value of the total number of tokens that currently\nexist, in the `quote` asset provided in the request.\n"},"max_supply":{"$ref":"#/components/schemas/MaxSupply"},"max_supply_value":{"$ref":"#/components/schemas/BigDecimal","description":"The value of the maximum number of tokens that can ever\nexist, in the `quote` asset provided in the request.\n"},"price":{"$ref":"#/components/schemas/BigDecimal","description":"The latest price of the asset, in the `quote` asset\nprovided in the request.\n"},"trending_rank":{"$ref":"#/components/schemas/Uint32","description":"The trending rank of the asset compared to all other\ntrending assets.\n"},"market_cap_rank":{"$ref":"#/components/schemas/Uint32","description":"The rank of the asset based on the total market cap value.\n"},"market_cap_value":{"$ref":"#/components/schemas/MarketCapValue"},"dominance_percent":{"$ref":"#/components/schemas/Percentage","description":"The market cap dominance percentage.\n"},"change_percent_1h":{"$ref":"#/components/schemas/Percentage","description":"The price change percentage over the last 1 hour.\n"},"change_percent_24h":{"$ref":"#/components/schemas/Percentage","description":"The price change percentage over the last 24 hours.\n"},"change_percent_7d":{"$ref":"#/components/schemas/Percentage","description":"The price change percentage over the last 7 days.\n"},"change_percent_30d":{"$ref":"#/components/schemas/Percentage","description":"The price change percentage over the last 30 days.\n"},"change_percent_1y":{"$ref":"#/components/schemas/Percentage","description":"The price change percentage over the last 1 year.\n"},"volume_value_24h":{"$ref":"#/components/schemas/BigDecimal","description":"The trading volume for the asset, in the `quote` asset\nprovided in the request.\n"},"listing_date":{"$ref":"#/components/schemas/Date","description":"The date the asset was first listed on Payward.\n"},"ath_value":{"$ref":"#/components/schemas/AthValue"},"ath_date":{"$ref":"#/components/schemas/AthDate"},"links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string"},"type":{"nullable":true,"type":"string"}},"required":["href"]},"logo":{"$ref":"#/components/schemas/Logo"}},"required":["logo","self"]}},"required":["decimals","disabled_against","display_decimals","id","links","platform_status"]}},"links":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/Uri"},"first":{"$ref":"#/components/schemas/Uri"},"last":{"$ref":"#/components/schemas/Uri"},"prev":{"$ref":"#/components/schemas/Uri"},"next":{"$ref":"#/components/schemas/Uri"}}},"meta":{"type":"object","properties":{"total_items":{"$ref":"#/components/schemas/Uint32"},"total_pages":{"$ref":"#/components/schemas/Uint32"},"page_size":{"$ref":"#/components/schemas/PageSize"},"page_number":{"$ref":"#/components/schemas/PageNumber"}}}},"required":["assets","links","meta"]}}}}}},"400":{"$ref":"#/components/responses/BadRequestError"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"$ref":"#/components/responses/ConflictError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/assets/{asset}":{"get":{"operationId":"getEmbedAsset","summary":"Get Asset","tags":["Assets"],"description":"Get information about a specific asset.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/AssetPath"},{"$ref":"#/components/parameters/Quote"},{"$ref":"#/components/parameters/Lang"}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"symbol":{"$ref":"#/components/schemas/AssetName"},"english_name":{"$ref":"#/components/schemas/EnglishName"},"description":{"type":"string"},"bearish_insights":{"type":"string"},"bullish_insights":{"type":"string"},"circulating_supply":{"$ref":"#/components/schemas/BigDecimal"},"total_supply":{"$ref":"#/components/schemas/BigDecimal"},"max_supply":{"$ref":"#/components/schemas/BigDecimal"},"market_cap_value":{"$ref":"#/components/schemas/BigDecimal"},"dominance_percent":{"$ref":"#/components/schemas/Percentage","description":"The market cap dominance percentage.\n"},"market_cap_rank":{"$ref":"#/components/schemas/Uint32","description":"The rank of the asset based on the total market cap value.\n"},"change_value_24h":{"$ref":"#/components/schemas/BigDecimal"},"change_percent_24h":{"$ref":"#/components/schemas/Percentage"},"volume_value_24h":{"$ref":"#/components/schemas/BigDecimal"},"ath_value":{"$ref":"#/components/schemas/AthValue"},"ath_date":{"$ref":"#/components/schemas/AthDate"},"links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string"},"type":{"nullable":true,"type":"string"}},"required":["href"]},"logo":{"$ref":"#/components/schemas/Logo"}},"required":["logo","self"]}},"required":["english_name","links","symbol"]}}}}}},"400":{"description":"Bad Request. Error codes:\n- `ENexus:Unknown quote asset` — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"errors":[{"status":"400","code":"ENexus:Unknown quote asset","detail":null}],"result":null}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"$ref":"#/components/responses/ConflictError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/assets/{asset}/rates":{"get":{"operationId":"listEmbedAssetRates","summary":"List Asset Rates","tags":["Assets"],"description":"Returns historical rates for a given asset.\n\nThis endpoint returns historical rates for a given asset. The response\nincludes the timestamp for the period the rate is for and the median price\nof the asset during the period (daily).\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/AssetPath"},{"$ref":"#/components/parameters/Quote"},{"in":"query","name":"start_time","description":"A RFC 3339 datetime","deprecated":false,"example":"2025-06-30T00:00:00.000Z","schema":{"type":"string","format":"date-time","nullable":true},"style":"form","allowEmptyValue":true},{"in":"query","name":"end_time","description":"A RFC 3339 datetime","deprecated":false,"example":"2025-06-30T00:00:00.000Z","schema":{"type":"string","format":"date-time","nullable":true},"style":"form","allowEmptyValue":true},{"in":"query","name":"interval","description":"If provided, shows the history of the asset in the given interval.\n\nShould be in the format of an [ISO 8601 duration].\n\nSupported resolutions: 1min, 5min, 15min, 30min, 60min, 4H, 1D, 7D, 15D\n","deprecated":false,"example":"PT15M","schema":{"type":"string","format":"duration","nullable":true},"style":"form","allowEmptyValue":true}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"rates":{"description":"List of historical records","type":"array","items":{"$ref":"#/components/schemas/PriceTick"}},"meta":{"type":"object","properties":{"page_oldest_rate":{"$ref":"#/components/schemas/PriceTick"},"page_newest_rate":{"$ref":"#/components/schemas/PriceTick"},"page_price_change_value":{"$ref":"#/components/schemas/BigDecimal"},"page_price_change_percent":{"$ref":"#/components/schemas/Percentage"}}}},"required":["meta","rates"]}}}}}},"400":{"description":"Bad Request. Error codes:\n- `ENexus:Unknown base asset` — not retryable\n- `ENexus:Unknown quote asset` — not retryable\n- `ENexus:Interval is too large` — not retryable\n- `ENexus:Invalid start time` — not retryable\n- `ENexus:Invalid end time` — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unknown_base_asset":{"summary":"Unknown base asset","value":{"errors":[{"status":"400","code":"ENexus:Unknown base asset","detail":null}],"result":null}},"interval_too_large":{"summary":"Interval is too large","value":{"errors":[{"status":"400","code":"ENexus:Interval is too large","detail":null}],"result":null}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"$ref":"#/components/responses/ConflictError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/earn/{user}":{"get":{"operationId":"getEmbedEarnSummary","tags":["Earn"],"summary":"Get Earn Summary","description":"Get Earn summary of a user.\n\nModifiers: user-preferred currency (quote).\n\nResponse holds total amounts (all-time). For per-asset granularity, use\n`GET /b2b/earn/assets`.\n\nDepending on the reward asset and user-preferred currency, amounts in the\nresponse can be zero, eg. \"0.00000000\" BTC. It's the caller's responsibility to handle such cases, eg by showing amounts as \"<0.000000001\" or \"~0\".\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/UserPath"},{"in":"query","name":"currency","deprecated":false,"description":"The user-preferred currency.","schema":{"nullable":false,"type":"string","maxLength":16},"style":"form","allowEmptyValue":false}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"auto_earn_eligible":{"description":"Whether the user is eligible for Auto-Earn","type":"boolean"},"auto_earn_enabled":{"description":"Whether there is currently at least one Earn allocation active for the user","type":"boolean"},"auto_earn_last_changed":{"nullable":true,"description":"When the Auto-Earn feature has last been turned on or off.","type":"string","format":"date-time"},"payout_period":{"example":"PT15M","description":"Payout period of all Auto-Earn rewards.","type":"string"},"total_allocated_converted":{"example":"1.23","description":"Total allocated by the user. Denominated in requested `quote`.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"total_rewarded_converted_true_rates":{"example":"1.23","description":"Total rewards accrued by the user, using \"sum of individually converted amounts\". This means \"true\" historic conversion rates at the times the payouts happened, are used.\n\nThe resulting sum is also referred to as \"never-decreasing amount\". Also, see `total_rewarded_converted_current_rate`.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"total_rewarded_converted_current_rate":{"example":"1.23","description":"Total rewards accrued by the user, using \"converted total of native amounts\". This means the current day conversion rate is used to convert the sum of native amounts.\n\nUnlike `total_rewarded_converted_true_rates`, this summing strategy can yield \"decreasing amounts\". If the native asset appreciates relative to the requested currency, the total reward in currency may decrease even though native rewards have increased.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"num_earning_assets":{"description":"Number of active allocations, which under Auto-Earn is the same as number of earning assets.","type":"integer","format":"uint32","minimum":0},"upcoming_rewards":{"description":"Upcoming rewards.\n\nIncludes an entry for each earning asset.","type":"array","items":{"description":"Earn event.\n\nCurrently, only events of type `Reward` are supported.","properties":{"date":{"description":"Date of the payout.","type":"string","format":"date-time"},"asset":{"description":"Asset of the payout.","type":"string","maxLength":16},"accumulated_amount":{"description":"Accumulated amount until now. Denominated in native and requested `currency`.","type":"object","properties":{"native":{"example":"1.23","description":"Amount in the native asset","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"converted":{"example":"1.23","description":"Amount converted into the user-preferred currency","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["converted","native"]},"estimated_pending_amount":{"nullable":true,"description":"Estimated pending amount from now until payout on payout `date`. Denominated in native and requested `currency`. Set to None if `date` is in the past, meaning `accumulated_amount` is the final reward amount and no pending amount is outstanding.","type":"object","properties":{"native":{"example":"1.23","description":"Amount in the native asset","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"converted":{"example":"1.23","description":"Amount converted into the user-preferred currency","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["converted","native"]}},"required":["accumulated_amount","asset","date"]}}},"required":["auto_earn_eligible","auto_earn_enabled","num_earning_assets","payout_period","total_allocated_converted","total_rewarded_converted_current_rate","total_rewarded_converted_true_rates","upcoming_rewards"]}}}}}},"400":{"$ref":"#/components/responses/BadRequestError"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"$ref":"#/components/responses/ConflictError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/earn/assets":{"get":{"operationId":"listEmbedEarnAssets","tags":["Earn"],"summary":"List Earn Assets","description":"List Earn Assets.\n\nFilters: by asset/s, by user.\nModifiers: user-preferred currency (quote).\n\nThe user can optionally be passed in the request, which shows active asset\nallocations of the user in the response.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"in":"query","name":"assets","deprecated":false,"description":"Filter specific assets by asset name. Empty filter returns all assets.","schema":{"default":[],"type":"array","items":{"type":"string","maxLength":16}},"style":"form","allowEmptyValue":false},{"in":"query","name":"user","deprecated":false,"description":"Filter assets by a specific user. Setting the user has two\neffects:\n\n1. Active non-zero per-asset allocations of the user are included\nin the response\n2. The list of returned assets is filtered by the user's\ncountry/eligibility.\n","schema":{"nullable":true,"type":"string","minLength":14,"maxLength":42},"example":"AA07 N84G DLNK DA3I","style":"form"},{"in":"query","name":"currency","deprecated":false,"description":"The user-preferred currency. This field is ignored if `user` is not set, and it must be set if `user` is set.","schema":{"nullable":true,"type":"string","maxLength":16},"style":"form","allowEmptyValue":true}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"assets":{"description":"All assets that can yield rewards.","type":"object","additionalProperties":{"description":"Earn Asset\n\nA single asset that can yield rewards.\n\nField `apr_estimate` is expected to be always set, independent of a user's Auto-Earn status.\n\nNote: APR estimates may not be returned in edge cases where a user enables Auto-Earn in one country and then moves to another country where some auto-earning assets are unavailable. In such cases, the user may still auto-earn these assets but without APR estimates. To resolve this, users can disable and re-enable Auto-Earn, which will respect the country change by only enabling Auto-Earn for assets available in the new country.","type":"object","properties":{"apr_estimate":{"type":"object","description":"low and high estimate of the yield of this Earn asset.","properties":{"low":{"$ref":"#/components/schemas/BigDecimal","description":"Minimal expected yield percentage for one year"},"high":{"$ref":"#/components/schemas/BigDecimal","description":"Maximal expected yield percentage for one year"}},"required":["high","low"]},"user_allocation":{"nullable":true,"description":"User allocation for this asset.","type":"object","properties":{"total_rewarded":{"description":"Total rewards accrued by the user (excl. fees). Holds native amount and amount denominated in user-preferred `currency`.","type":"object","properties":{"native":{"$ref":"#/components/schemas/BigDecimal","description":"Amount in the native asset"},"converted":{"$ref":"#/components/schemas/BigDecimal","description":"Amount converted into the user-preferred currency"}},"required":["converted","native"]},"total_allocated":{"description":"Total allocated by the user. Holds native amount and amount denominated in user-preferred `currency`.","type":"object","properties":{"native":{"$ref":"#/components/schemas/BigDecimal","description":"Amount in the native asset"},"converted":{"$ref":"#/components/schemas/BigDecimal","description":"Amount converted into the user-preferred currency"}},"required":["converted","native"]},"upcoming_reward_date":{"$ref":"#/components/schemas/Date","description":"Upcoming reward date."}}}}}}},"required":["assets"]}}}}}},"400":{"$ref":"#/components/responses/BadRequestError"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"$ref":"#/components/responses/ConflictError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/earn/{user}/auto":{"put":{"operationId":"toggleEmbedAutoEarn","summary":"Toggle Auto-Earn","tags":["Earn"],"description":"Toggle Auto-Earn of a user.\n\nToggling Auto-Earn is an async operation, which is triggered by calling this\nendpoint. Therefore, the response is empty.\n\nTo fetch the users current Auto-Earn status, use `GET /b2b/earn/{user}`.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/UserPath","description":"User to toggle the Auto-Earn status for"},{"in":"query","name":"want_enabled","description":"Whether to enable or disable Auto-Earn","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response indicating the Auto-Earn toggle operation was triggered. The response body is empty on success.","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true,"type":"object"}}}}}},"400":{"$ref":"#/components/responses/BadRequestError"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"$ref":"#/components/responses/ConflictError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/funds/withdrawals/methods/{asset}":{"get":{"operationId":"listEmbedWithdrawalMethods","summary":"List Withdrawal Methods","tags":["Transfers"],"description":"List available withdrawal methods for a given asset.\n\nReturns withdrawal methods with networks, estimated fees, and limits.\nUse `method_id` and (optionally) `fee_token` to prepare withdrawals.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"in":"query","name":"user","required":false,"schema":{"nullable":true,"description":"IIBAN of the target user. If omitted, applies to the master account.","type":"string","minLength":14,"maxLength":42}},{"$ref":"#/components/parameters/AssetPath"}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true,"type":"object","properties":{"methods":{"type":"array","items":{"type":"object","properties":{"method_id":{"description":"Stable identifier for the funding method","type":"string","format":"uuid"},"network":{"nullable":true,"description":"Network / method display name (e.g., \"Bitcoin\", \"Ethereum\")","type":"string"},"network_info":{"nullable":true,"description":"Blockchain network metadata","type":"object","properties":{"explorer":{"description":"Link to the blockchain explorer","type":"string"},"confirmations":{"description":"Number of confirmations required","type":"string"},"est_confirmation_time":{"description":"Estimated time to reach the required confirmations","type":"string"},"contract_address":{"nullable":true,"description":"Token contract address (for ERC-20 / wrapped tokens)","type":"string"}},"required":["explorer","confirmations","est_confirmation_time"]},"fee":{"nullable":true,"description":"Estimated withdrawal fee, denominated in the requested asset.","type":"object","properties":{"asset_class":{"description":"Asset class","default":"currency","type":"string","enum":["currency"]},"asset":{"$ref":"#/components/schemas/AssetName"},"amount":{"$ref":"#/components/schemas/BigDecimal"}},"required":["asset","amount"]},"fee_token":{"nullable":true,"description":"Opaque fee token valid for 10 minutes. Submit in the withdrawal request to guarantee the quoted fee.","type":"string"},"minimum":{"nullable":true,"description":"Minimum withdrawal amount, denominated in the requested asset.","type":"object","properties":{"asset_class":{"description":"Asset class","default":"currency","type":"string","enum":["currency"]},"asset":{"$ref":"#/components/schemas/AssetName"},"amount":{"$ref":"#/components/schemas/BigDecimal"}},"required":["asset","amount"]},"maximum":{"nullable":true,"description":"Maximum withdrawal amount for this method, accounting for the per-transaction cap and remaining user limits.","type":"object","properties":{"asset_class":{"description":"Asset class","default":"currency","type":"string","enum":["currency"]},"asset":{"$ref":"#/components/schemas/AssetName"},"amount":{"$ref":"#/components/schemas/BigDecimal"}},"required":["asset","amount"]}},"required":["method_id"]}}},"required":["methods"]}}}}}},"400":{"description":"Bad Request. Error codes:\n- `ENexus:Unknown asset` — the specified asset is not recognized — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unknown_asset":{"summary":"Unknown asset","value":{"errors":[{"status":"400","code":"ENexus:Unknown asset","detail":null}],"result":null}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/funds/withdrawals/addresses/validate":{"post":{"operationId":"validateEmbedWithdrawalAddress","summary":"Validate Withdrawal Address","tags":["Transfers"],"description":"Validate a crypto withdrawal address for the provided asset and method.\n\nThis endpoint validates the address format and network compatibility but does\nnot persist the address.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"asset":{"description":"Asset to validate against (e.g., `BTC`, `ETH`)","$ref":"#/components/schemas/AssetName"},"method_id":{"description":"Withdrawal method identifier from `GET /b2b/funds/withdrawals/methods/{asset}`","type":"string","format":"uuid"},"address":{"description":"The crypto address to validate","type":"string"},"memo":{"nullable":true,"description":"Memo or tag for networks that require one (e.g., XRP, XLM)","type":"string"}},"required":["asset","method_id","address"]}}},"required":true},"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true,"type":"object","properties":{"valid":{"description":"Whether the address is valid","type":"boolean"}},"required":["valid"]}}}}}},"400":{"description":"Bad Request. Error codes:\n- `EGeneral:Bad data` — invalid `method_id` or address format — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"invalid_method_id":{"summary":"Invalid method_id","value":{"errors":[{"status":"400","code":"EGeneral:Bad data","detail":"Unknown or invalid method_id"}],"result":null}},"invalid_address":{"summary":"Invalid withdrawal address","value":{"errors":[{"status":"400","code":"EGeneral:Bad data","detail":"Invalid address: Invalid checksum"}],"result":null}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/funds/withdrawals/addresses":{"get":{"operationId":"listEmbedWithdrawalAddresses","summary":"List Withdrawal Addresses","tags":["Transfers"],"description":"List saved withdrawal addresses for the effective account.\n\nYou can optionally filter by `asset`, `method_id`, and `key`.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"in":"query","name":"user","required":false,"schema":{"nullable":true,"description":"IIBAN of the target user. If omitted, applies to the master account.","type":"string","minLength":14,"maxLength":42}},{"in":"query","name":"asset","required":false,"schema":{"nullable":true,"description":"Filter by asset (e.g., `BTC`, `ETH`)","$ref":"#/components/schemas/AssetName"}},{"in":"query","name":"method_id","required":false,"schema":{"nullable":true,"description":"Filter by withdrawal method identifier","type":"string","format":"uuid"}},{"in":"query","name":"key","required":false,"schema":{"nullable":true,"description":"Filter by saved withdrawal address key","type":"string"}}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true,"type":"object","properties":{"addresses":{"type":"array","items":{"type":"object","properties":{"key":{"description":"User-provided name for this address","type":"string"},"asset":{"description":"Asset","$ref":"#/components/schemas/AssetName"},"method_id":{"description":"Withdrawal method identifier","type":"string","format":"uuid"},"method_name":{"description":"Withdrawal method display name","type":"string"},"address":{"description":"The crypto withdrawal address","type":"string"},"memo":{"nullable":true,"description":"Memo for networks that require it","type":"string"},"tag":{"nullable":true,"description":"Tag for networks that require it","type":"string"},"created_at":{"nullable":true,"description":"When the address was saved (ISO 8601)","$ref":"#/components/schemas/DateTime"}},"required":["key","asset","method_id","method_name","address"]}}},"required":["addresses"]}}}}}},"400":{"$ref":"#/components/responses/BadRequestError"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}},"post":{"operationId":"saveEmbedWithdrawalAddress","summary":"Save Withdrawal Address","tags":["Transfers"],"description":"Validate and save a withdrawal address for future withdrawals.\n\nReturns the address key that should be used when calling\n`POST /b2b/funds/withdrawals`.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"in":"query","name":"user","required":false,"schema":{"nullable":true,"description":"IIBAN of the target user. If omitted, applies to the master account.","type":"string","minLength":14,"maxLength":42}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"asset":{"description":"Asset (e.g., `BTC`, `ETH`)","$ref":"#/components/schemas/AssetName"},"method_id":{"description":"Withdrawal method identifier from `GET /b2b/funds/withdrawals/methods/{asset}`","type":"string","format":"uuid"},"key":{"description":"User-provided name for this address","type":"string"},"address":{"description":"The crypto withdrawal address","type":"string"},"memo":{"nullable":true,"description":"Memo for networks that require it","type":"string"},"tag":{"nullable":true,"description":"Tag for networks that require it","type":"string"}},"required":["asset","method_id","key","address"]}}},"required":true},"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true,"type":"object","properties":{"key":{"description":"The saved withdrawal key","type":"string"},"tag":{"nullable":true,"description":"Tag associated with the saved address (when present)","type":"string"}},"required":["key"]}}}}}},"400":{"description":"Bad Request. Error codes:\n- `EGeneral:Bad data` — invalid key, method_id, or address payload — not retryable\n- `ENexus:Unknown asset` — the specified asset is not recognized — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"bad_data":{"summary":"Invalid address payload","value":{"errors":[{"status":"400","code":"EGeneral:Bad data","detail":"Unknown or invalid method_id"}],"result":null}},"unknown_asset":{"summary":"Unknown asset","value":{"errors":[{"status":"400","code":"ENexus:Unknown asset","detail":null}],"result":null}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"description":"Conflict. Error codes:\n- `EFunding:Duplicate withdraw key` — the provided key already exists — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"duplicate_withdraw_key":{"summary":"Duplicate withdrawal key","value":{"errors":[{"status":"409","code":"EFunding:Duplicate withdraw key","detail":null}],"result":null}}}}}},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/funds/withdrawals/addresses/{key}":{"delete":{"operationId":"deleteEmbedWithdrawalAddress","summary":"Delete Withdrawal Address","tags":["Transfers"],"description":"Delete a saved withdrawal address by key.\n\nOnce deleted, the key cannot be used for new withdrawals until the address is\nsaved again.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"in":"query","name":"user","required":false,"schema":{"nullable":true,"description":"IIBAN of the target user. If omitted, applies to the master account.","type":"string","minLength":14,"maxLength":42}},{"in":"path","name":"key","required":true,"schema":{"description":"The saved address key to delete","type":"string"}}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true}}}}}},"400":{"description":"Bad Request. Error codes:\n- `EGeneral:Bad data` — invalid withdrawal key format — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"invalid_key":{"summary":"Invalid withdrawal key","value":{"errors":[{"status":"400","code":"EGeneral:Bad data","detail":"Withdrawal address key is invalid"}],"result":null}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"description":"Not Found. Error codes:\n- `EFunding:Unknown withdraw key` — the provided key does not exist — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unknown_withdraw_key":{"summary":"Unknown withdrawal key","value":{"errors":[{"status":"404","code":"EFunding:Unknown withdraw key","detail":null}],"result":null}}}}}},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}},"patch":{"operationId":"updateEmbedWithdrawalAddress","summary":"Update Withdrawal Address","tags":["Transfers"],"description":"Update a saved withdrawal address key.\n\nThis endpoint renames an existing key; the withdrawal destination itself\nremains unchanged.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"in":"query","name":"user","required":false,"schema":{"nullable":true,"description":"IIBAN of the target user. If omitted, applies to the master account.","type":"string","minLength":14,"maxLength":42}},{"in":"path","name":"key","required":true,"schema":{"description":"The saved address key to update","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"new_key":{"description":"New saved address key","type":"string"}},"required":["new_key"]}}},"required":true},"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true,"type":"object","properties":{"key":{"description":"The updated key","type":"string"}},"required":["key"]}}}}}},"400":{"description":"Bad Request. Error codes:\n- `EGeneral:Bad data` — invalid key format — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"invalid_key":{"summary":"Invalid key format","value":{"errors":[{"status":"400","code":"EGeneral:Bad data","detail":"Withdrawal address key is invalid"}],"result":null}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"description":"Not Found. Error codes:\n- `EFunding:Unknown withdraw key` — the provided key does not exist — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unknown_withdraw_key":{"summary":"Unknown withdrawal key","value":{"errors":[{"status":"404","code":"EFunding:Unknown withdraw key","detail":null}],"result":null}}}}}},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"description":"Conflict. Error codes:\n- `EFunding:Duplicate withdraw key` — `new_key` already exists — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"duplicate_withdraw_key":{"summary":"Duplicate withdrawal key","value":{"errors":[{"status":"409","code":"EFunding:Duplicate withdraw key","detail":null}],"result":null}}}}}},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/funds/withdrawals":{"post":{"operationId":"withdrawEmbedFunds","summary":"Withdraw Funds","tags":["Transfers"],"description":"Withdraw funds from a master account or, when `user` is provided, from a\nsub-account on behalf of its owner.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"in":"query","name":"user","required":false,"schema":{"nullable":true,"description":"IIBAN of the target user. If omitted, applies to the master account.","type":"string","minLength":14,"maxLength":42}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"asset":{"description":"Asset to withdraw","$ref":"#/components/schemas/AssetName"},"key":{"description":"Saved withdrawal address key","type":"string"},"amount":{"description":"Amount to withdraw","$ref":"#/components/schemas/BigDecimal"},"fee_token":{"nullable":true,"description":"Fee token from `GET /b2b/funds/withdrawals/methods`, guarantees the quoted fee for 10 minutes.","type":"string"},"idempotency_token":{"description":"Key used to guarantee idempotency. Reusing the same key on retry returns the original result.","type":"string","format":"uuid"},"preview":{"description":"When `true`, only returns quoted `amount`, `fee`, and `total`; no withdrawal is created.","default":false,"type":"boolean"}},"required":["asset","key","amount","idempotency_token"]}}},"required":true},"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true,"type":"object","properties":{"ref_id":{"description":"Reference ID used to track the withdrawal status. Empty when `preview` is `true`.","type":"string"},"amount":{"description":"Amount that will be sent to the destination (after fees)","$ref":"#/components/schemas/BigDecimal"},"fee":{"description":"Network fee charged","$ref":"#/components/schemas/BigDecimal"},"total":{"description":"Total debited from the user balance (amount + fee)","$ref":"#/components/schemas/BigDecimal"},"fee_token":{"nullable":true,"description":"Fee token used to guarantee the quoted fee for 10 minutes.","type":"string"}},"required":["ref_id","amount","fee","total"]}}}}}},"400":{"description":"Bad Request. Error codes:\n- `EGeneral:Bad data` — invalid request payload (for example, non-positive amount) — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"bad_data":{"summary":"Invalid withdrawal payload","value":{"errors":[{"status":"400","code":"EGeneral:Bad data","detail":"Expected positive amount"}],"result":null}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"description":"Not Found. Error codes:\n- `EFunding:Unknown withdraw key` — the provided withdrawal key does not exist — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unknown_withdraw_key":{"summary":"Unknown withdrawal key","value":{"errors":[{"status":"404","code":"EFunding:Unknown withdraw key","detail":"Unknown withdraw key"}],"result":null}}}}}},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/funds/transactions":{"get":{"operationId":"listEmbedFundingTransactions","summary":"List Funding Transactions","tags":["Transfers"],"description":"List Funding transactions\n\nFunding transactions can be of type withdrawal or deposit.\n\nCurrently, this is a master-only operation. Therefore, no User parameter\nexists.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"in":"query","name":"type","required":true,"deprecated":false,"description":"Request funding transactions of the specified type","schema":{"type":"string","enum":["withdrawal","deposit"]},"style":"form","allowEmptyValue":false},{"in":"query","name":"cursor","deprecated":false,"description":"Pagination cursor for fetching the next set of results","schema":{"nullable":true,"type":"string"},"style":"form","allowEmptyValue":true},{"in":"query","name":"page_size","deprecated":false,"description":"Number of transactions to return per page. Default is 25 if not specified.","schema":{"default":25,"type":"integer","format":"uint32","minimum":1,"maximum":500},"style":"form","allowEmptyValue":false}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"transactions":{"description":"List of funding transactions","type":"array","items":{"type":"object","properties":{"type":{"description":"Transaction type","type":"string","enum":["withdrawal","deposit"]},"date":{"example":"2023-03-13T12:34:56Z","description":"Transaction date","type":"string"},"asset":{"description":"Transaction asset","type":"string","maxLength":16},"amount":{"example":"1.23","description":"Transaction amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"status":{"description":"Transaction status","type":"string","enum":["initial","pending","settled","success","partial","failure"]},"ref_id":{"description":"Reference ID","type":"string"}},"required":["amount","asset","date","ref_id","status","type"]}},"next_cursor":{"nullable":true,"description":"Cursor to use for fetching the next page of results","type":"string"}},"required":["transactions"]}}}}}},"400":{"$ref":"#/components/responses/BadRequestError"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"$ref":"#/components/responses/ConflictError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/funds/deposits/methods/{asset}":{"get":{"operationId":"listEmbedDepositMethods","summary":"List Deposit Methods","tags":["Transfers"],"description":"List available deposit methods for a given asset. Returns method details\nincluding fees, limits, and network information.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/UserQuery"},{"$ref":"#/components/parameters/AssetPath"}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true,"type":"object","properties":{"methods":{"type":"array","items":{"type":"object","properties":{"method_id":{"description":"Stable UUID identifier for the deposit method","type":"string","format":"uuid"},"network":{"nullable":true,"description":"Network / method display name (e.g., \"Bitcoin\", \"Ethereum\")","type":"string"},"network_info":{"nullable":true,"description":"Blockchain network metadata","type":"object","properties":{"explorer":{"description":"Link to the blockchain explorer","type":"string"},"confirmations":{"description":"Number of confirmations required","type":"string"},"est_confirmation_time":{"description":"Estimated time to reach the required confirmations","type":"string"},"contract_address":{"nullable":true,"description":"Token contract address (for ERC-20 / wrapped tokens)","type":"string"}},"required":["explorer","confirmations","est_confirmation_time"]},"fee":{"nullable":true,"description":"Deposit fee, denominated in the requested asset. Null if no fee applies.","type":"object","properties":{"asset":{"$ref":"#/components/schemas/AssetName"},"amount":{"$ref":"#/components/schemas/BigDecimal"}},"required":["asset","amount"]},"minimum":{"nullable":true,"description":"Minimum deposit amount","type":"object","properties":{"asset":{"$ref":"#/components/schemas/AssetName"},"amount":{"$ref":"#/components/schemas/BigDecimal"}},"required":["asset","amount"]},"maximum":{"nullable":true,"description":"Maximum deposit amount, accounting for periodic limits and per-transaction cap","type":"object","properties":{"asset":{"$ref":"#/components/schemas/AssetName"},"amount":{"$ref":"#/components/schemas/BigDecimal"}},"required":["asset","amount"]},"address_setup_fee":{"nullable":true,"description":"One-time fee charged to the first deposit on the generated address. Null if no fee applies.","type":"object","properties":{"asset":{"$ref":"#/components/schemas/AssetName"},"amount":{"$ref":"#/components/schemas/BigDecimal"}},"required":["asset","amount"]},"fee_percentage":{"nullable":true,"description":"Percentage fee applied to deposits. Null if no fee applies.","$ref":"#/components/schemas/BigDecimal"},"deposit_limit_meta":{"nullable":true,"description":"Full periodic deposit limit breakdown by type and rolling window","type":"array","items":{"type":"object","properties":{"limit_type":{"description":"Type of limit (e.g., \"Amount\", \"EquivAmount\")","type":"string"},"limits":{"description":"Maximum and remaining limit for each rolling window (keyed by seconds)","type":"object","additionalProperties":{"type":"object","properties":{"remaining":{"description":"Remaining limit the user has","$ref":"#/components/schemas/BigDecimal"},"maximum":{"description":"Maximum limit the user is allowed","$ref":"#/components/schemas/BigDecimal"}},"required":["maximum","remaining"]}}},"required":["limit_type","limits"]}}},"required":["method_id","fee","fee_percentage","address_setup_fee","maximum","minimum"]}}},"required":["methods"]}}}}}},"400":{"description":"Bad Request. Error codes:\n- `ENexus:Unknown asset` — the specified asset is not recognized — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unknown_asset":{"summary":"Unknown asset","value":{"errors":[{"status":"400","code":"ENexus:Unknown asset","detail":null}],"result":null}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/funds/deposits/addresses":{"get":{"operationId":"listEmbedDepositAddresses","summary":"List Deposit Addresses","tags":["Transfers"],"description":"List deposit addresses for a given asset and method. Returns paginated\nresults with address details including fees and limits.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/UserQuery"},{"in":"query","name":"asset","required":true,"schema":{"description":"The asset to list deposit addresses for (e.g., `BTC`, `ETH`)","$ref":"#/components/schemas/AssetName"}},{"in":"query","name":"method_id","required":true,"schema":{"description":"The deposit method identifier (UUID from the list methods response)","type":"string","format":"uuid"}},{"in":"query","name":"cursor","schema":{"nullable":true,"description":"Opaque pagination cursor from a previous response","type":"string"}}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true,"type":"object","properties":{"addresses":{"type":"array","items":{"type":"object","properties":{"asset":{"description":"The asset this address is for","$ref":"#/components/schemas/AssetName"},"method_id":{"description":"The deposit method these addresses belong to","type":"string","format":"uuid"},"address":{"nullable":true,"description":"The crypto deposit address","type":"string"},"tag":{"nullable":true,"description":"Deposit tag for networks that require it (e.g., XRP)","type":"string"},"memo":{"nullable":true,"description":"Deposit memo for networks that require it (e.g., XLM)","type":"string"},"expire_time":{"nullable":true,"description":"Address expiration time","type":"string","format":"date-time"}},"required":["asset","method_id","expire_time","address","minimum","maximum"]}},"next_cursor":{"nullable":true,"description":"Opaque cursor for fetching the next page of results. Absent when there are no more pages.","type":"string"}},"required":["addresses"]}}}}}},"400":{"description":"Bad Request. Error codes:\n- `ENexus:Unknown asset` — the specified asset is not recognized — not retryable\n- `EGeneral:Bad data` — invalid method_id or pagination cursor — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unknown_asset":{"summary":"Unknown asset","value":{"errors":[{"status":"400","code":"ENexus:Unknown asset","detail":null}],"result":null}},"bad_method_id":{"summary":"Unknown or invalid method_id","value":{"errors":[{"status":"400","code":"EGeneral:Bad data","detail":"Unknown or invalid method_id"}],"result":null}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}},"post":{"operationId":"createEmbedDepositAddress","summary":"Create Deposit Address","tags":["Transfers"],"description":"Create a new deposit address for a given asset and method.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/UserQuery"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"method_id":{"description":"The deposit method identifier (UUID from the list methods response)","type":"string","format":"uuid"},"asset":{"description":"The asset to create a deposit address for (e.g., `BTC`, `ETH`)","$ref":"#/components/schemas/AssetName"}},"required":["asset","method_id"]}}},"required":true},"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true,"type":"object","properties":{"address":{"description":"The generated crypto deposit address","type":"string"},"name":{"nullable":true,"description":"Display name for the address","type":"string"},"tag":{"nullable":true,"description":"Deposit tag for networks that require it (e.g., XRP)","type":"string"},"memo":{"nullable":true,"description":"Deposit memo for networks that require it (e.g., XLM)","type":"string"},"expire_time":{"nullable":true,"description":"Address expiration time — if absent the address does not expire","type":"string","format":"date-time"},"is_new":{"nullable":true,"description":"Whether the address was newly created","type":"boolean"}},"required":["address"]}}}}}},"400":{"description":"Bad Request. Error codes:\n- `ENexus:Unknown asset` — the specified asset is not recognized — not retryable\n- `EGeneral:Bad data` — invalid method_id — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unknown_asset":{"summary":"Unknown asset","value":{"errors":[{"status":"400","code":"ENexus:Unknown asset","detail":null}],"result":null}},"bad_method_id":{"summary":"Unknown or invalid method_id","value":{"errors":[{"status":"400","code":"EGeneral:Bad data","detail":"Unknown or invalid method_id"}],"result":null}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"422":{"description":"Unprocessable Entity. Error codes:\n- `EFunding:Too many addresses` — address limit reached for this method — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"too_many_addresses":{"summary":"Too many addresses","value":{"errors":[{"status":"422","code":"EFunding:Too many addresses","detail":null}],"result":null}}}}}},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/portfolio/{user}/summary":{"get":{"operationId":"getEmbedPortfolioSummary","summary":"Get Portfolio Summary","tags":["Portfolios"],"description":"Get the portfolio summary for a user.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/UserPath"},{"$ref":"#/components/parameters/Quote"},{"in":"query","name":"include[current_day_pnl]","description":"Include the current day pnl","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"timestamp":{"description":"The timestamp of the most recent change in any index price. Reflects the freshness of pricing data used for valuation.","type":"string","format":"date-time"},"currency":{"description":"The currency in which all values are expressed.","type":"string","maxLength":16},"portfolio_value":{"example":"1.23","description":"The portfolio value, in the provided `quote` currency.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"withheld_value":{"example":"1.23","description":"The total value of funds currently withheld across the platform. Includes assets reserved for open orders, earn bonding/unbonding, and pending withdrawals.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"open_orders":{"example":"1.23","description":"The value of balances specifically held for open orders. Represents locked funds for pending trades or positions.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"available_balance":{"example":"1.23","description":"The freely available balance for trading or withdrawal.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"lots_upnl":{"nullable":true,"example":"1.23","description":"Unrealized lots PNL","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"cost_basis":{"nullable":true,"example":"1.23","description":"The total cost basis of the portfolio, calculated as the sum of the cost bases of all individual assets","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"current_day_pnl":{"nullable":true,"description":"If requested by `include[current_day_pnl]` then this will represent the PnL for the current day.\n\nNote: As yesterday's balance isn't always available it returns a `since` to indicate when the PnL was calculated from\n\nIf there are any issues calculating this, it will be set to null","type":"object","properties":{"since":{"description":"The time from which the PnL is calculated from","type":"string","format":"date-time"},"pnl":{"example":"1.23","description":"The PnL from `since` until now","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["pnl","since"]}},"required":["available_balance","currency","open_orders","portfolio_value","timestamp","withheld_value"]}}}}}},"400":{"$ref":"#/components/responses/BadRequestError"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"$ref":"#/components/responses/ConflictError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/portfolio/{user}/history":{"get":{"operationId":"getEmbedPortfolioHistory","summary":"Get Portfolio History","tags":["Portfolios"],"description":"Gets a portfolio's historical balances and valuations over time.\n\n**Pagination:** A maximum of **365 data points** are returned per request.\nIf the requested date range would produce more than 365 data points, the\nresponse is truncated and a `next_cursor` is returned. Pass this cursor\nin a subsequent request to retrieve the next page. Repeat until\n`next_cursor` is absent.\n\nImportant notes:\n\n- If the start of the range of asset data points is null - then you didn't\n  have a balance in the asset.\n- If it's zero - then you may have had the asset in the past, but the\n  balance in zero\n- Balance for the last day shows up at UTC + 5h due to processing times.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/UserPath"},{"in":"query","name":"include[assets][]","description":"Include historical balances by asset","schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetName"}}},{"in":"query","name":"include[total_balance]","description":"Include the overall historical balance totals","schema":{"type":"boolean","default":false}},{"in":"query","name":"include[total_pnl]","description":"Include the overall historical pnl totals","schema":{"type":"boolean","default":false}},{"in":"query","name":"start_date","description":"Start date of the fetching window. Only balances for dates that are after `start_date` will be returned. This is an optional parameter. If not present it will be equal to `end_date` - 365 days by default. Note: if the range between `start_date` and `end_date` produces more than 365 data points, the response will be paginated via `next_cursor`.","schema":{"$ref":"#/components/schemas/Date"}},{"in":"query","name":"end_date","description":"End date of the fetching window. Only balances for dates that are before `end_date` will be returned. This is an optional parameter. If not present then current date will be used by default.","schema":{"$ref":"#/components/schemas/Date"}},{"in":"query","name":"resolution","description":"The resolution of returned data. Only 1 out of each `resolution`\ndays will be returned. For example if `resolution` is set to 7 then only\none day for each week will be returned. Default: 1, every day will be\nreturned.\n","schema":{"$ref":"#/components/schemas/Uint32","default":1}},{"$ref":"#/components/parameters/Quote"},{"in":"query","name":"cursor","description":"Optional cursor for pagination. Use the `next_cursor` value from a previous response to fetch the next page of data points. When provided, other parameters are ignored (they are encoded in the cursor).","schema":{"type":"string"}}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"start_date":{"$ref":"#/components/schemas/Date","description":"Effective `start_date` of the fetching window. This is useful for the client when `start_date` wasn't specified in request."},"end_date":{"$ref":"#/components/schemas/Date","description":"Effective `end_date` of the fetching window. This is useful for the client when `end_date` wasn't specified in request."},"next_cursor":{"description":"Cursor to use for fetching the next page of results. This will be present if the requested date range produces more than 365 data points (the per-request limit) and there is more data available. Pass this value as the `cursor` query parameter in the next request.","type":"string"},"currency":{"$ref":"#/components/schemas/AssetName","description":"Asset in which the balances were denominated in. Assumed to be asset `USD` if missing."},"total_pnl":{"$ref":"#/components/schemas/BigDecimal","description":"Sum of all daily `total_pnl` values in the `history`. This will be `None` if `include.total_pnl` was false or if there were no PnL values. Note: This does not include the current day"},"total_pnl_pct":{"$ref":"#/components/schemas/BigDecimal","description":"Overall profit and loss percentage change for data points in history. Calculated as (`total_pnl` / first `total_balance` in `history`) * 100. This will be `None` if `total_pnl` or the first `total_balance` is unavailable, or if the first `total_balance` is zero. Note: This does not include the current day"},"history":{"description":"Time series data containing portfolio values over time. A maximum of 365 data points is returned per request. If more data is available, `next_cursor` will be present — pass it as the `cursor` query parameter to retrieve the next page.","type":"array","items":{"description":"A data point in the portfolio time series","type":"object","properties":{"date":{"$ref":"#/components/schemas/Date","description":"Timestamp for this data point"},"total_balance":{"$ref":"#/components/schemas/BigDecimal","description":"Total portfolio value/balance at this timestamp (if requested)"},"total_pnl":{"$ref":"#/components/schemas/BigDecimal","description":"Total profit and loss at this timestamp (if requested)"},"total_pnl_pct":{"$ref":"#/components/schemas/BigDecimal","description":"Total profit and loss (PnL) percentage relative to the starting balance of the current day.\n\nCalculated as:\n\n```text (total_pnl / (total_balance - total_pnl)) * 100 ```\n\n- `total_pnl` is the accumulated profit or loss. - `total_balance` is the ending balance for the day. - The starting balance is derived as `total_balance - total_pnl`.\n\nThis field is set only if both `total_pnl` and `total_balance` are available."},"assets":{"description":"Per-asset balances at this timestamp (if requested)","type":"object","additionalProperties":{"description":"A single asset's balance","type":"object","properties":{"balance":{"$ref":"#/components/schemas/BigDecimal","description":"Balance amount for this asset"}}}}},"required":["date"]}}},"required":["end_date","history","start_date"]}}}}}},"400":{"$ref":"#/components/responses/BadRequestError"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"$ref":"#/components/responses/ConflictError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/portfolio/{user}/details":{"get":{"operationId":"listEmbedPortfolioDetails","summary":"List Portfolio Details","tags":["Portfolios"],"description":"Lists owned assets in a user's portfolio.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/Quote"},{"$ref":"#/components/parameters/UserPath"}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true,"type":"object","properties":{"timestamp":{"description":"The timestamp when this portfolio data was generated","type":"string","format":"date-time"},"currency":{"description":"The currency in which asset values are denominated (matches the requested quote asset)","type":"string","maxLength":16},"assets":{"description":"List of assets owned by the user with their detailed information","type":"array","items":{"type":"object","properties":{"asset":{"description":"Asset of interest. All values other than `_value` are in the asset.","type":"string","maxLength":16},"class":{"nullable":true,"description":"The class of the 'asset' field. Default value is `currency` if the field is not set.","type":"string","enum":["currency"]},"cash_balance":{"example":"1.23","description":"The balance of the asset available for the account. This amount might not all be available for trading, withdrawing, staking etc, as some of it might be locked in margin, pending orders, or in other wallets.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"index_price":{"example":"1.23","description":"The price of the asset at the time of the last index update.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"cash_value":{"example":"1.23","description":"The value of the `cash_balance` in the requested quote currency.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"held_orders_spot":{"example":"1.23","description":"The amount of the asset held in spot orders.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"avail_trade":{"nullable":true,"example":"1.23","description":"The amount of the asset available for trading. This value is the `cash_balance` after subtracting various holds applied to the account for this asset (e.g. open orders).","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"avail_trade_value":{"nullable":true,"example":"1.23","description":"The value of the `avail_trade` in the requested quote currency.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"credit_line_used":{"nullable":true,"example":"1.23","description":"The amount of credit currently used for the asset, if available.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"credit_line_available":{"nullable":true,"example":"1.23","description":"Available credit for the asset, if any.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"lots_upnl":{"nullable":true,"example":"1.23","description":"The Unrealized Profit and Loss for the current balance (i.e. the amount the user would make if they sold the current balance as the current market price)","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"avg_entry_price":{"nullable":true,"example":"1.23","description":"The volume-weighted average price at which the current balance was acquired.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"cost_basis":{"nullable":true,"example":"1.23","description":"The total value spent to acquire the current asset balance.","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["asset","cash_balance","cash_value","held_orders_spot","index_price"]}}},"required":["assets","currency","timestamp"]}}}}}},"400":{"$ref":"#/components/responses/BadRequestError"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"$ref":"#/components/responses/ConflictError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/portfolio/{user}/transactions":{"get":{"operationId":"listEmbedPortfolioTransactions","summary":"List Portfolio Transactions","tags":["Portfolios"],"description":"Lists the users trades and transactions\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/UserPath"},{"in":"query","name":"cursor","deprecated":false,"schema":{"nullable":true,"description":"Pagination cursor for fetching the next set of results","type":"string"},"style":"form","allowEmptyValue":true},{"in":"query","name":"types","deprecated":false,"schema":{"nullable":true,"description":"Filter for transaction types","type":"array","items":{"type":"string","enum":["simple_order","simple_order_failed","custom_order","custom_order_failed","earn_reward","deposit"]}},"style":"form","allowEmptyValue":true},{"in":"query","name":"page_size","deprecated":false,"schema":{"nullable":true,"description":"Number of transactions to return per page. Default is 25 if not specified.","type":"integer","format":"uint64","minimum":0,"maximum":25},"style":"form","allowEmptyValue":true},{"in":"query","name":"assets","deprecated":false,"schema":{"nullable":true,"description":"Filter transactions by specific assets","type":"array","items":{"type":"string","maxLength":16}},"style":"form","allowEmptyValue":true},{"in":"query","name":"from_time","deprecated":false,"schema":{"nullable":true,"description":"Filter transactions that occurred after this timestamp (exclusive)","type":"string","format":"date-time"},"style":"form","allowEmptyValue":true},{"in":"query","name":"until_time","deprecated":false,"schema":{"nullable":true,"description":"Filter transactions that occurred before or at this timestamp (inclusive)","type":"string","format":"date-time"},"style":"form","allowEmptyValue":true},{"in":"query","name":"statuses","deprecated":false,"schema":{"nullable":true,"description":"Filter transactions by their status","type":"array","items":{"description":"Filter criteria for transaction status in query results.","type":"string","enum":["no_status","unspecified","in_progress","successful","failed"]}},"style":"form","allowEmptyValue":true},{"in":"query","name":"ids","deprecated":false,"schema":{"nullable":true,"description":"Filter transactions by specific transaction IDs","type":"array","items":{"description":"A unique identifier for a portfolio transaction.","type":"string"}},"style":"form","allowEmptyValue":true},{"in":"query","name":"sorting","deprecated":false,"schema":{"nullable":true,"description":"Specify the order of results (ascending or descending by time)","type":"string","enum":["descending","ascending"]},"style":"form","allowEmptyValue":true},{"in":"query","name":"ref_ids","deprecated":false,"schema":{"nullable":true,"description":"Reference ID filters, this can be used to filter by quote id.","type":"array","items":{"type":"object","properties":{"type":{"description":"Type of `ref_id`","type":"string","enum":["simple_order_quote","simple_order_quote_failed"]},"ref_id":{"description":"Ref id itself","type":"string"}},"required":["ref_id","type"]}},"style":"form","allowEmptyValue":true},{"in":"query","name":"quote","deprecated":false,"schema":{"nullable":true,"description":"Currency to use for quoting amounts and fees in the response. Quoting is best-effort based on rates at transaction time. If not provided or if quoting is unavailable, quoted fields will be `None`.","type":"string","maxLength":16},"style":"form","allowEmptyValue":true}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"nullable":true,"type":"object","properties":{"transactions":{"description":"List of trade transactions matching the query parameters","type":"array","items":{"description":"Comprehensive information about a user trade transaction.","type":"object","properties":{"id":{"description":"Unique identifier for the transaction","type":"string"},"time":{"description":"Timestamp when the transaction occurred","type":"string","format":"date-time"},"type":{"description":"The transaction type","type":"string","enum":["simple_order","simple_order_failed","custom_order","custom_order_failed","earn_reward"]},"status":{"nullable":true,"description":"Current status of the transaction, if available","type":"string","enum":["unspecified","in_progress","successful","failed"]},"ref_id":{"description":"Primary reference identifier","type":"string"},"ref_id2":{"nullable":true,"description":"Secondary reference identifier (typically quote ID), if available","type":"string"},"spend":{"nullable":true,"description":"Details about the asset spent in this transaction, if applicable","type":"object","properties":{"ledger_id":{"nullable":true,"description":"Associated ledger entry identifier, if available","type":"string"},"time":{"nullable":true,"description":"Timestamp of the funds movement, if available","type":"string","format":"date-time"},"amount":{"description":"Principal amount of the asset involved in the transaction","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]},"quoted_amount":{"nullable":true,"description":"Principal amount converted to the requested quote currency, if available","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]},"fee":{"nullable":true,"description":"Fee charged for the transaction, if any","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]},"quoted_fee":{"nullable":true,"description":"Fee converted to the requested quote currency, if available","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]},"total":{"description":"Total amount including fees (debit or credit)","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]},"quoted_total":{"nullable":true,"description":"Total amount converted to the requested quote currency, if available","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]},"balance":{"nullable":true,"description":"Remaining balance after the transaction, if available","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]}},"required":["amount","total"]},"receive":{"nullable":true,"description":"Details about the asset received in this transaction, if applicable","type":"object","properties":{"ledger_id":{"nullable":true,"description":"Associated ledger entry identifier, if available","type":"string"},"time":{"nullable":true,"description":"Timestamp of the funds movement, if available","type":"string","format":"date-time"},"amount":{"description":"Principal amount of the asset involved in the transaction","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]},"quoted_amount":{"nullable":true,"description":"Principal amount converted to the requested quote currency, if available","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]},"fee":{"nullable":true,"description":"Fee charged for the transaction, if any","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]},"quoted_fee":{"nullable":true,"description":"Fee converted to the requested quote currency, if available","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]},"total":{"description":"Total amount including fees (debit or credit)","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]},"quoted_total":{"nullable":true,"description":"Total amount converted to the requested quote currency, if available","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]},"balance":{"nullable":true,"description":"Remaining balance after the transaction, if available","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"type":"string","maxLength":16},"asset_name":{"nullable":true,"description":"Human-readable name of the asset (e.g., \"Bitcoin\" for BTC)","type":"string"},"amount":{"example":"1.23","description":"The amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["amount","asset"]}},"required":["amount","total"]},"details":{"nullable":true,"description":"Transaction details / data","oneOf":[{"description":"Details for SO like transactions ex: '`SimpleOrder`'","type":"object","properties":{"type":{"type":"string","enum":["simple_order"]},"quote_id":{"description":"Simple order quote id","type":"string"},"trade_type":{"description":"What type the trade is from the user's perspective (no actual trades here)","type":"string","enum":["unspecified","buy","sell","convert"]},"parent_transaction":{"nullable":true,"description":"Parent transaction id","type":"string"}},"required":["quote_id","trade_type","type"]},{"description":"Details for CO like transactions ex: '`CustomOrder`'","type":"object","properties":{"type":{"type":"string","enum":["custom_order"]},"trade_type":{"description":"What type the trade is from the user's perspective (no actual trades here)","type":"string","enum":["unspecified","buy","sell","convert"]},"parent_transaction":{"nullable":true,"type":"string"}},"required":["trade_type","type"]},{"description":"Details for SO-failure like transactions ex: '`SimpleOrderFailed`'","type":"object","properties":{"type":{"type":"string","enum":["simple_order_failed"]},"receive_asset":{"description":"Receive asset","type":"object","properties":{"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency"]}},"required":["asset","class"]},"spend_asset":{"description":"Spend asset","type":"object","properties":{"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency"]}},"required":["asset","class"]},"trade_type":{"description":"What type the trade is from the user's perspective (no actual trades here)","type":"string","enum":["unspecified","buy","sell","convert"]},"failure_reason":{"description":"Failure reason","type":"string","enum":["other","insufficient_funds","card_issue","user_account_issue"]}},"required":["failure_reason","receive_asset","spend_asset","trade_type","type"]},{"description":"Details for CO-failure like transactions ex: '`CustomOrderFailed`'","type":"object","properties":{"type":{"type":"string","enum":["custom_order_failed"]},"receive_asset":{"description":"Receive asset","type":"object","properties":{"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency"]}},"required":["asset","class"]},"spend_asset":{"description":"Spend asset","type":"object","properties":{"asset":{"description":"Asset name in one set naming scheme","type":"string"},"class":{"description":"Asset class of the asset","type":"string","enum":["currency"]}},"required":["asset","class"]},"trade_type":{"description":"What type the trade is from the user's perspective (no actual trades here)","type":"string","enum":["unspecified","buy","sell","convert"]},"failure_reason":{"description":"Failure reason","type":"string","enum":["other","insufficient_funds","card_issue","user_account_issue"]}},"required":["failure_reason","receive_asset","spend_asset","trade_type","type"]},{"description":"Details for Earn reward","type":"object","properties":{"type":{"type":"string","enum":["earn_reward"]}},"required":["type"]}]}},"required":["id","ref_id","time","type"]}},"next_cursor":{"nullable":true,"description":"Next cursor","type":"string"}},"required":["transactions"]}}}}}},"400":{"$ref":"#/components/responses/BadRequestError"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailableError"}}}},"/b2b/quotes":{"post":{"operationId":"requestEmbedQuote","summary":"Request Quote","tags":["Quotes"],"description":"Request a price quote for an asset, that may be used to execute a trade\nlater on.\n","parameters":[{"$ref":"#/components/parameters/PaywardVersion"},{"$ref":"#/components/parameters/UserQuery"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"description":"Type of quote (receive or spend).\n\n- `receive`: Represents a 'fixed receive' scenario where the\nuser specifies how much they want to receive in the `amount` field - Example:\nUser wants to receive 100 USD by selling some amount of BTC\n- `spend`: Represents a 'fixed spend' scenario where the user specifies\nhow much they want to spend in the `amount` field to receive some amount of the\n`quote` asset - Example: User wants to spend 100 USD to buy some amount of BTC","type":"string","enum":["receive","spend"]},"amount":{"description":"Asset and amount that the user wants to specify exactly\n- For `receive` quote_type: This is the exact amount the user\nwants to receive - For `spend` quote_type: This is the exact amount\nthe user wants to spend\n","type":"object","properties":{"asset_class":{"default":"currency","type":"string","enum":["currency"]},"asset":{"$ref":"#/components/schemas/AssetName"},"amount":{"$ref":"#/components/schemas/BigDecimal"}},"required":["amount","asset"]},"quote":{"description":"The other asset involved in the transaction - For\n`receive` quote_type: This is the asset the user will spend (in\na variable amount) - For `spend` quote_type: This is the asset\nthe user will receive (in a variable amount)\n","type":"object","properties":{"asset":{"$ref":"#/components/schemas/AssetName","description":"Name of the asset to receive"}},"required":["asset"]},"fee_bps":{"$ref":"#/components/schemas/BasisPoints","description":"Custom fee amount expressed in basis points (1 bps = 0.01%)\n"},"spread_bps":{"$ref":"#/components/schemas/BasisPoints","description":"Custom spread amount expressed in basis points (1 bps = 0.01%)\n"},"quote_currency":{"$ref":"#/components/schemas/AssetName","description":"If set will return `quoted_spend`, `quoted_receive`, `quoted_unit_price`\n"}},"required":["amount","fee_bps","quote","spread_bps","type"]}}},"required":true},"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"quote_id":{"description":"Unique identifier for the quote","type":"string"},"type":{"description":"Type of quote (buy or sell)","type":"string","enum":["receive","spend"]},"status":{"description":"Current status of the quote","oneOf":[{"type":"string","enum":["new","accepted","quote_cancelled","order_complete","credit_transfer_complete","quote_execution_failed"]},{"description":"Unknown failure","type":"object","properties":{"unknown":{"type":"string"}},"required":["unknown"]}]},"expires":{"description":"Timestamp when the quote expires is ISO 8601 format","type":"string","format":"date-time"},"spend":{"description":"Details about the asset being spent","type":"object","properties":{"asset":{"description":"Name of the asset","type":"string","maxLength":16},"asset_class":{"nullable":true,"description":"Class of the asset","type":"string","enum":["currency"]},"total":{"example":"1.23","description":"Total amount including fees","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"fee":{"example":"1.23","description":"Transaction fee amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"subtotal":{"example":"1.23","description":"Amount excluding fees","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["asset","fee","subtotal","total"]},"quoted_spend":{"nullable":true,"description":"Details about the asset being spent, denoted in `quoted_currency` asset Is null is `quote_currency` is null","type":"object","properties":{"asset":{"description":"Name of the asset","type":"string","maxLength":16},"asset_class":{"nullable":true,"description":"Class of the asset","type":"string","enum":["currency"]},"total":{"example":"1.23","description":"Total amount including fees","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"fee":{"example":"1.23","description":"Transaction fee amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"subtotal":{"example":"1.23","description":"Amount excluding fees","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["asset","fee","subtotal","total"]},"receive":{"description":"Details about the asset being received","type":"object","properties":{"asset":{"description":"Name of the asset","type":"string","maxLength":16},"asset_class":{"nullable":true,"description":"Class of the asset","type":"string","enum":["currency"]},"total":{"example":"1.23","description":"Total amount including fees","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"fee":{"example":"1.23","description":"Transaction fee amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"subtotal":{"example":"1.23","description":"Amount excluding fees","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["asset","fee","subtotal","total"]},"quoted_receive":{"nullable":true,"description":"Details about the asset being received, denoted in `quote_currency` asset Is null is `quote_currency` is null","type":"object","properties":{"asset":{"description":"Name of the asset","type":"string","maxLength":16},"asset_class":{"nullable":true,"description":"Class of the asset","type":"string","enum":["currency"]},"total":{"example":"1.23","description":"Total amount including fees","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"fee":{"example":"1.23","description":"Transaction fee amount","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"subtotal":{"example":"1.23","description":"Amount excluding fees","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64}},"required":["asset","fee","subtotal","total"]},"unit_price":{"description":"Price information for the transaction","type":"object","properties":{"asset":{"description":"The asset the unit price is for","type":"string","maxLength":16},"asset_class":{"nullable":true,"description":"Class of the asset","type":"string","enum":["currency"]},"unit_price":{"example":"1.23","description":"The unit price","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"denomination_asset":{"description":"What the unit price is denominated in","type":"string","maxLength":16},"denomination_asset_class":{"nullable":true,"description":"Class of the denomination asset","type":"string","enum":["currency"]}},"required":["asset","denomination_asset","unit_price"]},"quoted_unit_price":{"nullable":true,"description":"Price information for the transaction, denoted in `quote_currency` asset Is null is `quote_currency` is null","type":"object","properties":{"asset":{"description":"The asset the unit price is for","type":"string","maxLength":16},"asset_class":{"nullable":true,"description":"Class of the asset","type":"string","enum":["currency"]},"unit_price":{"example":"1.23","description":"The unit price","type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","minLength":1,"maxLength":64},"denomination_asset":{"description":"What the unit price is denominated in","type":"string","maxLength":16},"denomination_asset_class":{"nullable":true,"description":"Class of the denomination asset","type":"string","enum":["currency"]}},"required":["asset","denomination_asset","unit_price"]}},"required":["expires","quote_id","receive","spend","status","type","unit_price"]}}}}}},"400":{"description":"Bad Request. Error codes:\n- `EAPI:Quantity is too small for asset` — not retryable\n- `EAPI:Quantity is too large for asset` — not retryable\n- `ENexus:Unknown quote asset` — not retryable\n- `ENexus:Asset disabled` — not retryable\n- `ENexus:Unknown amount asset` — not retryable\n- `EAPI:InvalidParameter` — not retryable\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"quantity_too_small":{"summary":"Quantity is too small for asset","value":{"errors":[{"status":"400","code":"EAPI:Quantity is too small for asset","detail":null}],"result":null}},"asset_disabled":{"summary":"Asset is disabled for trading","value":{"errors":[{"status":"400","code":"ENexus:Asset disabled","detail":null}],"result":null}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"description":"Forbidden. Error codes:\n- `EAPI:User Locked` — not retryable (terminal)\n- `EPTL:UserKycDenyTrading` — not retryable (terminal)\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"user_locked":{"summary":"User account is locked (terminal)","value":{"errors":[{"status":"403","code":"EAPI:User Locked","detail":null}],"result":null}},"kyc_deny":{"summary":"User denied trading due to KYC (terminal)","value":{"errors":[{"status":"403","code":"EPTL:UserKycDenyTrading","detail":null}],"result":null}}}}}},"404":{"$ref":"#/components/responses/NotFoundError"},"408":{"$ref":"#/components/responses/RequestTimeoutError"},"409":{"description":"Conflict. Error codes:\n- `EPTL:Not enough depth on book` — retryable (market conditions)\n- `EAPI:Potential wash trade` — not retryable (terminal)\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"not_enough_depth":{"summary":"Not enough depth on book (retryable)","value":{"errors":[{"status":"409","code":"EPTL:Not enough depth on book","detail":null}],"result":null}},"wash_trade":{"summary":"Potential wash trade (terminal)","value":{"errors":[{"status":"409","code":"EAPI:Potential wash trade","detail":null}],"result":null}}}}}},"429":{"$ref":"#/components/responses/RateLimitError"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/
[...]
