{"openapi":"3.0.0","info":{"title":"Funding REST API (Beta)","version":"1.0.0","description":"Beta Funding e-API endpoints for deposits, withdrawals, addresses, methods, limits, and fees."},"servers":[{"url":"https://api.kraken.com","description":"Production Server"}],"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}],"tags":[{"name":"funding-beta","x-group":"Funding (Beta)"}],"paths":{"/funding/v1/fees/{method_id}":{"get":{"tags":["funding-beta"],"summary":"Calculate Funding Fees","operationId":"calculateFundingFeesV1","description":"Calculate the fee for a funding method and amount. For withdrawals, the response also includes a unique\n`withdrawal_fee_token` that pins the quoted fee rate for later use with\n[Create Funding Withdrawal](/api-reference/funding-beta/create-funding-withdrawal). The token expires after\n5 minutes and can be used on multiple withdrawals.\n\n**API Key Permissions Required:** `Funds permissions - Query`","parameters":[{"in":"path","name":"method_id","required":true,"schema":{"description":"Funding method to calculate fees for.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"},"style":"simple","example":"d4ec4d52-b159-428e-ba64-f45455a978a1"},{"in":"query","name":"amount","required":true,"schema":{"description":"Amount to calculate fees for.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"},"style":"form","example":"5"},{"in":"query","name":"fee_included","schema":{"description":"Whether the amount includes the fee.","type":"boolean"},"style":"form","example":true},{"in":"query","name":"withdrawal_fee_token","schema":{"description":"Token identifying a previously calculated withdrawal fee quote. Expires after 5 minutes and can be used on multiple withdrawals.","type":"string","minLength":1},"style":"form"},{"in":"query","name":"rebase_multiplier","schema":{"description":"For tokenized assets, controls whether amounts (eg fees, minimums, maximums) use rebased or\nbase units.","type":"string","enum":["rebased","base"]},"style":"form"},{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"fee":{"description":"Calculated funding fee.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"gross_amount":{"description":"Amount including the fee.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"net_amount":{"description":"Amount excluding the fee.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"fee_details":{"description":"Components of the calculated fee.","type":"object","properties":{"base_fee":{"description":"Fixed fee component.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"fee_percentage":{"description":"Percentage fee component.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["base_fee","fee_percentage"]},"withdrawal_fee_token":{"description":"Token identifying the calculated withdrawal fee quote for a later request. Expires after 5 minutes and can be used on multiple withdrawals.","type":"string","minLength":1}},"required":["fee","gross_amount","net_amount","fee_details"]},"example":{"fee":{"asset":{"class":"currency","name":"USDC"},"amount":"1.00000000"},"gross_amount":{"asset":{"class":"currency","name":"USDC"},"amount":"5.00000000"},"net_amount":{"asset":{"class":"currency","name":"USDC"},"amount":"4.00000000"},"fee_details":{"base_fee":{"asset":{"class":"currency","name":"USDC"},"amount":"1.00000000"},"fee_percentage":"0"},"withdrawal_fee_token":"AAAAAAAAAAHG33Wc1eES6QpeGgMok_gUnlZC7Y5niezI2,MBriLCyg8oqCX7SH1bSqY6SfmC2ZLf_SgTxNZj4Cd1RLPaTyZE..."}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]}},"/funding/v1/deposit/address":{"put":{"tags":["funding-beta"],"summary":"Claim Funding Deposit Address","operationId":"claimFundingDepositAddressV1","x-mint":{"content":"<Note>\nClaim with the deposit `method_id` you want to use. If that method shares addresses with another method on the same network (for example ERC-20s with ETH on Ethereum, TRC-20s with TRX on Tron, or SPLs with SOL on Solana), Kraken returns the shared address. You do not need to claim against the owner method first.\n</Note>\n\n<Note>\nNot every method on a network shares an address. Methods on the same network often do (ERC-20s on Ethereum, TRC-20s on Tron, SPLs on Solana). Methods in the same network group do not always.\n</Note>"},"description":"Claim a deposit address for a funding method. This generates an address for receiving funds.\n\n**API Key Permissions Required:** `Funds permissions - Deposit`","parameters":[{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"requestBody":{"content":{"application/json":{"schema":{"description":"Request to claim a deposit address for a specific funding method.\nThis generates a deposit address for receiving funds.","type":"object","properties":{"method_id":{"description":"Funding method to claim a deposit address for.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"example":{"method_id":"27ede8db-804b-4d91-8e25-46b7b9668730"}},"example":{"method_id":"27ede8db-804b-4d91-8e25-46b7b9668730"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"description":"Response containing the details of the claimed deposit address.","type":"object","properties":{"address_details":{"oneOf":[{"type":"object","properties":{"crypto":{"description":"Crypto deposit address details.","type":"object","properties":{"address":{"description":"Crypto address.","type":"string"},"tag":{"description":"Tag associated with the address.","type":"string"},"memo":{"description":"Memo associated with the address.","type":"string"}},"required":["address"]}},"title":"crypto"},{"type":"object","properties":{"fiat":{"description":"Fiat deposit address details.","type":"object","properties":{"account":{"description":"Bank account number.","type":"string"},"account_type":{"description":"Bank account type.","type":"string"},"address":{"description":"Bank or wallet address.","type":"string"},"bank":{"description":"Bank name.","type":"string"},"bank_code":{"description":"Bank code.","type":"string"},"bic":{"description":"Bank identifier code (BIC).","type":"string"},"branch":{"description":"Bank branch.","type":"string"},"bank_address":{"description":"Bank address.","type":"string"},"bsb":{"description":"Bank State Branch (BSB) code.","type":"string"},"iban":{"description":"International Bank Account Number (IBAN).","type":"string"},"memo":{"description":"Payment memo.","type":"string"},"name_on_account":{"description":"Account holder name.","type":"string"},"routing":{"description":"Bank routing number.","type":"string"},"sort":{"description":"Bank sort code.","type":"string"},"swift":{"description":"SWIFT code.","type":"string"},"tag":{"description":"Destination tag.","type":"string"},"transit":{"description":"Bank transit number.","type":"string"}}}},"title":"fiat"}]}}},"example":{"address_details":{"crypto":{"address":"AikyzpZZcNAeovd6XnyEaEe6YB1tPKkXZF37rUWD..."}}}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]}},"/funding/v1/addresses":{"get":{"tags":["funding-beta"],"summary":"List Funding Addresses","operationId":"listFundingAddressesV1","description":"Retrieve saved withdrawal addresses for your account. Results are paginated; use the `cursor` parameter to iterate through the list of addresses (page size equal to the value of `limit`).\n\n**API Key Permissions Required:** `Funds permissions - Query`","parameters":[{"in":"query","name":"scope","schema":{"oneOf":[{"type":"object","properties":{"method_id":{"description":"Funding method defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"method_id"},{"type":"object","properties":{"network_id":{"description":"Network defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"network_id"},{"type":"object","properties":{"network_group_id":{"description":"Network group defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"network_group_id"}]},"style":"deepObject","example":{"method_id":"67b765fd-4efd-42dc-8ce7-63352971d566"}},{"in":"query","name":"cursor","schema":{"description":"Cursor from a previous response used to retrieve the next page. Do not provide other request\nparameters with a cursor.","type":"string","minLength":1},"style":"form"},{"in":"query","name":"limit","schema":{"description":"Maximum number of addresses to return.","type":"integer","format":"int32","exclusiveMinimum":true,"minimum":0,"maximum":500},"style":"form","example":20},{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"addresses":{"description":"Withdrawal addresses.","type":"array","items":{"description":"A saved withdrawal address.","type":"object","properties":{"address_id":{"description":"Unique identifier of the withdrawal address.","type":"string","pattern":"^AB[a-zA-Z0-9]{5}-[a-zA-Z0-9]{5}-[a-zA-Z0-9]{6}$"},"scope":{"oneOf":[{"type":"object","properties":{"method_id":{"description":"Funding method defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"method_id"},{"type":"object","properties":{"network_id":{"description":"Network defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"network_id"},{"type":"object","properties":{"network_group_id":{"description":"Network group defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"network_group_id"}]},"address_details":{"oneOf":[{"type":"object","properties":{"crypto":{"description":"Crypto withdrawal address details.","type":"object","properties":{"address":{"description":"Crypto address.","type":"string"},"tag":{"description":"Tag associated with the address.","type":"string"},"beneficiary":{"description":"Beneficiary information.","type":"object","properties":{"recipient":{"description":"Whether the beneficiary is the user (`sender`) or another party (`other`).","type":"string"},"typ":{"description":"Beneficiary type (`individual` or `business`).","type":"string"},"name":{"description":"Beneficiary first name.","type":"string"},"last_name":{"description":"Beneficiary last name.","type":"string"},"country":{"description":"Beneficiary country.","type":"string"},"state_province":{"description":"Beneficiary state or province.","type":"string"},"address_1":{"description":"First line of the beneficiary address.","type":"string"},"address_2":{"description":"Second line of the beneficiary address.","type":"string"},"city":{"description":"Beneficiary city.","type":"string"},"postal_code":{"description":"Beneficiary postal code.","type":"string"},"counterparty_vasp_name":{"description":"Name of the counterparty virtual asset service provider (VASP).","type":"string"}}},"memo":{"description":"Memo associated with the address.","type":"string"}},"required":["address"]}},"title":"crypto"},{"type":"object","properties":{"fiat":{"description":"Fiat withdrawal address details.","type":"object","properties":{"account":{"description":"Bank account number.","type":"string"},"account_type":{"description":"Bank account type.","type":"string"},"address":{"description":"Bank or wallet address.","type":"string"},"bank":{"description":"Bank name.","type":"string"},"bank_code":{"description":"Bank code.","type":"string"},"bic":{"description":"Bank identifier code (BIC).","type":"string"},"branch":{"description":"Bank branch.","type":"string"},"branch_code":{"description":"Bank branch code.","type":"string"},"bank_address":{"description":"Bank address.","type":"string"},"bsb":{"description":"Bank State Branch (BSB) code.","type":"string"},"beneficiary":{"description":"Beneficiary information.","type":"object","properties":{"recipient":{"description":"Whether the beneficiary is the user (`sender`) or another party (`other`).","type":"string"},"typ":{"description":"Beneficiary type (`individual` or `business`).","type":"string"},"name":{"description":"Beneficiary first name.","type":"string"},"last_name":{"description":"Beneficiary last name.","type":"string"},"country":{"description":"Beneficiary country.","type":"string"},"state_province":{"description":"Beneficiary state or province.","type":"string"},"address_1":{"description":"First line of the beneficiary address.","type":"string"},"address_2":{"description":"Second line of the beneficiary address.","type":"string"},"city":{"description":"Beneficiary city.","type":"string"},"postal_code":{"description":"Beneficiary postal code.","type":"string"},"counterparty_vasp_name":{"description":"Name of the counterparty virtual asset service provider (VASP).","type":"string"}}},"card_number":{"description":"Card number.","type":"string"},"card_number_last":{"description":"Last four digits of the card number.","type":"string"},"card_type":{"description":"Card type.","type":"string"},"cvc":{"description":"Card verification code.","type":"string"},"expire_month":{"description":"Card expiration month.","type":"string"},"expire_year":{"description":"Card expiration year.","type":"string"},"iban":{"description":"International Bank Account Number (IBAN).","type":"string"},"masked_iban":{"description":"Masked IBAN.","type":"string"},"intermediary_address":{"description":"Intermediary bank address.","type":"string"},"intermediary_bank":{"description":"Intermediary bank name.","type":"string"},"intermediary_branch":{"description":"Intermediary bank branch.","type":"string"},"intermediary_routing":{"description":"Intermediary bank routing number.","type":"string"},"intermediary_swift":{"description":"Intermediary bank SWIFT or BIC.","type":"string"},"memo":{"description":"Payment memo.","type":"string"},"merchant_reference":{"description":"Merchant reference.","type":"string"},"name_on_account":{"description":"Account holder name.","type":"string"},"notes":{"description":"Additional notes.","type":"string"},"password":{"description":"Account password.","type":"string"},"routing":{"description":"Bank routing number.","type":"string"},"sort":{"description":"Bank sort code.","type":"string"},"swift":{"description":"SWIFT code.","type":"string"},"tag":{"description":"Destination tag.","type":"string"},"third_party_email":{"description":"Third-party email address.","type":"string"},"transaction_id":{"description":"Payment provider transaction identifier.","type":"string"},"transit":{"description":"Bank transit number.","type":"string"},"username":{"description":"Account username.","type":"string"},"signature":{"description":"Digital signature proving address ownership.","type":"string"}}}},"title":"fiat"}]},"name":{"description":"User provided name for the address. Must be unique.","type":"string"},"description":{"description":"User provided description of the address.","type":"string"},"modifier":{"description":"Indicates that the address belongs to a third party.","type":"string","enum":["third_party"]},"verified":{"description":"Whether the address is verified and ready for use.","type":"boolean"}},"required":["address_id","scope","verified"]}},"next_cursor":{"description":"Cursor to use in the next request to retrieve the next page. Omitted when there are no more\nresults.","type":"string","minLength":1}},"required":["addresses"]},"example":{"addresses":[{"address_id":"AB7J4FF-BGM7G-V2JMIH","scope":{"network_id":"d9d375da-44b7-4be1-8a00-8b281acfe366"},"address_details":{"crypto":{"address":"0xBef7B36845cA31045E86D0B46DBCac4e6752..."}},"name":"Personal Wallet","description":"My Ethereum hardware wallet address","verified":true},{"address_id":"ABSXEMA-3FXQS-T7Q2FG","scope":{"method_id":"67b765fd-4efd-42dc-8ce7-63352971d566"},"address_details":{"crypto":{"address":"0xBef7B36845cA31045E86D0B46DBCac4e6752..."}},"verified":true,"name":"Trading Desk Wallet","description":"Shared EVM withdrawal address"},{"address_id":"ABR6SXP-SF6CY-VJMONY","scope":{"network_group_id":"f95acdb7-48fb-4441-b5b4-843d3bf60e61"},"address_details":{"crypto":{"address":"0xBef7B36845cA31045E86D0B46DBCac4e6752..."}},"verified":true}]}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]},"post":{"tags":["funding-beta"],"summary":"Create Funding Address","operationId":"createFundingAddressV1","x-mint":{"content":"<Warning>\nAddresses added via the Create Funding Address endpoint are automatically verified and do not require email verification. See [Withdrawal addresses API permission](https://support.kraken.com/articles/withdrawal-addresses-api-permission) for the risks of this permission.\n</Warning>\n\n<Note>\nManaging fiat withdrawal addresses through this endpoint is not available at this time. Only crypto withdrawal addresses can be created. Fiat withdrawals can still be submitted with [Create Funding Withdrawal](/api-reference/funding-beta/create-funding-withdrawal) using fiat addresses added via the Kraken UI.\n</Note>"},"description":"Save a withdrawal address to the account for a funding method, network, or network group. See\n[Adding a withdrawal address](/exchange/guides/rest/funding#section-1-adding-a-withdrawal-address) for how\nthose scopes work.\n\n**API Key Permissions Required:** `Funds permissions - Add withdrawal addresses`","parameters":[{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"requestBody":{"content":{"application/json":{"schema":{"description":"Request to create a withdrawal address for a given network group, network\nor funding method.","type":"object","properties":{"scope":{"oneOf":[{"type":"object","properties":{"method_id":{"description":"Funding method defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"method_id"},{"type":"object","properties":{"network_id":{"description":"Network defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"network_id"},{"type":"object","properties":{"network_group_id":{"description":"Network group defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"network_group_id"}]},"address_details":{"oneOf":[{"type":"object","properties":{"crypto":{"description":"Crypto address details.","type":"object","properties":{"address":{"description":"Crypto address.","type":"string","minLength":1},"tag":{"description":"Optional destination tag for the withdrawal address. Only used on blockchains that allow a tag\nor memo. `tag` and `memo` are both accepted. If you send `tag` but the method or network uses\n`memo`, [List Funding Addresses](/api-reference/funding-beta/list-funding-addresses) returns the\nvalue as `memo`, and the other way around.","type":"string"},"memo":{"description":"Optional memo for the withdrawal address. Only used on blockchains that allow a tag or memo.\n`tag` and `memo` are both accepted. If you send `memo` but the method or network uses `tag`,\n[List Funding Addresses](/api-reference/funding-beta/list-funding-addresses) returns the value as\n`tag`, and the other way around.","type":"string"}}}},"title":"crypto"}]},"name":{"description":"User provided name for the address. Must be unique and contain at least one non-whitespace\ncharacter. Surrounding whitespace is removed.","type":"string","minLength":1},"description":{"description":"User provided description of the address.","type":"string"}},"required":["scope","address_details","name"],"example":{"scope":{"network_id":"d9d375da-44b7-4be1-8a00-8b281acfe366"},"address_details":{"crypto":{"address":"0xBef7B36845cA31045E86D0B46DBCac4e6752..."}},"name":"Personal Wallet","description":"My hardware wallet address"}},"example":{"scope":{"network_id":"d9d375da-44b7-4be1-8a00-8b281acfe366"},"address_details":{"crypto":{"address":"0xBef7B36845cA31045E86D0B46DBCac4e6752..."}},"name":"Personal Wallet","description":"My hardware wallet address"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"address_id":{"description":"Unique identifier of the created address.","type":"string","pattern":"^AB[a-zA-Z0-9]{5}-[a-zA-Z0-9]{5}-[a-zA-Z0-9]{6}$"},"verified":{"description":"Whether the address is verified and ready for use.","type":"boolean"}},"required":["address_id","verified"]},"example":{"address_id":"AB7J4FF-BGM7G-V2JMIH","verified":true}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]}},"/funding/v1/withdrawals":{"get":{"tags":["funding-beta"],"summary":"List Funding Withdrawals","operationId":"listFundingWithdrawalsV1","description":"Retrieve information about withdrawals. Results are sorted by recency; use the `cursor` parameter to iterate through the list of withdrawals (page size equal to the value of `limit`) from newest to oldest.\n\n**API Key Permissions Required:** `Funds permissions - Query`","parameters":[{"in":"query","name":"asset","schema":{"description":"Optional filter by asset. When this parameter is provided, `class` is required; `name` is optional.","type":"object","properties":{"class":{"description":"Asset class to match. Required when `asset` is provided.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name to match, if specified.","type":"string","minLength":1,"maxLength":16}},"required":["class"]},"style":"deepObject"},{"in":"query","name":"scope","schema":{"oneOf":[{"type":"object","properties":{"method_id":{"description":"Funding method defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"method_id"},{"type":"object","properties":{"network_id":{"description":"Network defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"network_id"},{"type":"object","properties":{"network_group_id":{"description":"Network group defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"network_group_id"}]},"style":"deepObject"},{"in":"query","name":"status","schema":{"description":"Filter by status.","type":"string","enum":["pending","success","failed"]},"style":"form"},{"in":"query","name":"cursor","schema":{"description":"Cursor from a previous response used to retrieve the next page. Do not provide other request\nparameters with a cursor.","type":"string","minLength":1},"style":"form"},{"in":"query","name":"limit","schema":{"description":"Maximum number of withdrawals to return.","type":"integer","format":"int32","exclusiveMinimum":true,"minimum":0,"maximum":500},"style":"form","example":20},{"in":"query","name":"start_time","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"style":"form"},{"in":"query","name":"end_time","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"style":"form"},{"in":"query","name":"rebase_multiplier","schema":{"description":"For tokenized assets, controls whether amounts (eg fees, minimums, maximums) use rebased or\nbase units.","type":"string","enum":["rebased","base"]},"style":"form"},{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"description":"Response containing the list of funding withdrawals.","type":"object","properties":{"withdrawals":{"description":"Withdrawals.","type":"array","items":{"description":"A withdrawal.","type":"object","properties":{"withdrawal_id":{"description":"Unique identifier of the withdrawal.","type":"string","pattern":"^[Ff][Tt][a-zA-Z0-9]{5}-[a-zA-Z0-9]{22}$"},"amount":{"description":"Withdrawal amount.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"fee":{"description":"Withdrawal fee.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"method_id":{"description":"Funding method used for the withdrawal.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"},"status":{"description":"Withdrawal status.","type":"string","enum":["pending","success","failed"]},"create_time":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"address_id":{"description":"Unique identifier of the withdrawal address. Omitted for withdrawals created without a saved\naddress.","type":"string","pattern":"^AB[a-zA-Z0-9]{5}-[a-zA-Z0-9]{5}-[a-zA-Z0-9]{6}$"},"onchain_transaction":{"description":"On-chain transaction identifier, if available.","type":"string"},"utxo_vout":{"description":"Bitcoin transaction output index.","type":"string","format":"uint64","pattern":"^\\d+$"}}}},"next_cursor":{"description":"Cursor to use in the next request to retrieve the next page. Omitted when there are no more\nresults.","type":"string","minLength":1}}},"example":{"withdrawals":[{"withdrawal_id":"FTVZiTI-e02T84mm87JmibnObWNdnW","amount":{"asset":{"class":"currency","name":"USDC"},"amount":"4.00000000"},"fee":{"asset":{"class":"currency","name":"USDC"},"amount":"1.00000000"},"method_id":"d4ec4d52-b159-428e-ba64-f45455a978a1","status":"pending","create_time":"2026-08-12T10:10:30Z","address_id":"ABR6SXP-SF6CY-VJMONY"},{"withdrawal_id":"FTa55AO-u7dazcZpBR1nS3Uk42k6LI","amount":{"asset":{"class":"tokenized_asset","name":"TSLAx"},"amount":"1.30000000"},"fee":{"asset":{"class":"tokenized_asset","name":"TSLAx"},"amount":"0.01300000"},"method_id":"5104c28e-9da8-43c8-8194-33d9ea1fbdc0","status":"pending","create_time":"2026-08-12T10:07:04Z","address_id":"ABVXBF7-RC3Z5-WYUBPD"}],"next_cursor":"gqNrZXm-RlRSeFJ2WS1PSHBXSUlrTkYwQU1tM0MzNDg2dkxFpnBhcmFtc4qudXNlcl9zZWxlY3Rpb27ArGFzc2V0X2ZpbHRlcsCzbXVsdGlfbmV0d29ya19zY29wZcCtc3RhdHVzX2ZpbHRlcsCsZmxhZ3NfZmlsdGVywK1hbW91bnRfZmlsdGVywKpzdGFydF90aW1lwKhlbmRfdGltZcCob3JkZXJpbmeqZGVzY2VuZGluZ7FyZWJhc2VfbXVsdGlwbGllcsA"}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]},"post":{"tags":["funding-beta"],"summary":"Create Funding Withdrawal","operationId":"createFundingWithdrawalV1","description":"Create a withdrawal to a saved address. Pass a `withdrawal_fee_token` from\n[Calculate Funding Fees](/api-reference/funding-beta/calculate-funding-fees) to pin the quoted fee rate, or\nomit it to use the current fee.\n\n**API Key Permissions Required:** `Funds permissions - Withdraw`","parameters":[{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"scope":{"oneOf":[{"type":"object","properties":{"method_id":{"description":"Funding method defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"method_id"},{"type":"object","properties":{"network_id":{"description":"Network defining the scope. Withdrawal requests that use `network_id` fail when the asset\nhas two or more withdrawal methods on that network, for example USDC and USDC.e on\nArbitrum. Use `method_id` in that case.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"network_id"}]},"address_id":{"description":"Unique identifier of the address to withdraw to.","type":"string","pattern":"^AB[a-zA-Z0-9]{5}-[a-zA-Z0-9]{5}-[a-zA-Z0-9]{6}$"},"amount":{"description":"Amount to withdraw.","type":"object","properties":{"asset_amount":{"description":"Asset and amount.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"rebase_multiplier":{"description":"For tokenized assets, controls whether amounts (eg fees, minimums, maximums) use rebased or\nbase units.","type":"string","enum":["rebased","base"]}},"required":["asset_amount"]},"fee":{"description":"Fee options for the withdrawal.","allOf":[{"oneOf":[{"type":"object","properties":{"current_fee":{"description":"Use the current fee, optionally capped by `max_fee`.","type":"object","properties":{"max_fee":{"description":"Maximum current fee to accept. The withdrawal fails if the fee exceeds this amount.","type":"object","properties":{"asset_amount":{"description":"Asset and amount.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"rebase_multiplier":{"description":"For tokenized assets, controls whether amounts (eg fees, minimums, maximums) use rebased or\nbase units.","type":"string","enum":["rebased","base"]}},"required":["asset_amount"]}}}},"title":"current_fee"},{"type":"object","properties":{"quoted_fee":{"description":"Use a previously calculated withdrawal fee quote.","type":"object","properties":{"token":{"description":"Token identifying a previously calculated withdrawal fee quote. Expires after 5 minutes and can be used on multiple withdrawals.","type":"string","minLength":1},"rebase_multiplier":{"description":"For tokenized assets, controls whether amounts (eg fees, minimums, maximums) use rebased or\nbase units.","type":"string","enum":["rebased","base"]}},"required":["token"]}},"title":"quoted_fee"}]},{"type":"object","properties":{"fee_included":{"description":"Whether the withdrawal amount includes the fee.","type":"boolean"}},"required":["fee_included"]}]},"expected_address":{"description":"Crypto address used to validate the withdrawal destination. Must match the address stored for\n`address_id`.","type":"string","minLength":1}},"required":["scope","address_id","amount"],"example":{"scope":{"method_id":"d4ec4d52-b159-428e-ba64-f45455a978a1"},"address_id":"ABR6SXP-SF6CY-VJMONY","amount":{"asset_amount":{"asset":{"class":"currency","name":"USDC"},"amount":"5"}},"fee":{"quoted_fee":{"token":"YOUR_WITHDRAWAL_FEE_TOKEN"},"fee_included":true}}},"example":{"scope":{"method_id":"d4ec4d52-b159-428e-ba64-f45455a978a1"},"address_id":"ABR6SXP-SF6CY-VJMONY","amount":{"asset_amount":{"asset":{"class":"currency","name":"USDC"},"amount":"5"}},"fee":{"quoted_fee":{"token":"YOUR_WITHDRAWAL_FEE_TOKEN"},"fee_included":true}}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"withdrawal_id":{"description":"Unique identifier of the withdrawal.","type":"string","pattern":"^[Ff][Tt][a-zA-Z0-9]{5}-[a-zA-Z0-9]{22}$"},"net_amount":{"description":"Amount sent after fees.","type":"object","properties":{"asset_amount":{"description":"Asset and amount.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"rebase_multiplier":{"description":"For tokenized assets, controls whether amounts (eg fees, minimums, maximums) use rebased or\nbase units.","type":"string","enum":["rebased","base"]}},"required":["asset_amount"]},"gross_amount":{"description":"Total amount deducted, including fees.","type":"object","properties":{"asset_amount":{"description":"Asset and amount.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"rebase_multiplier":{"description":"For tokenized assets, controls whether amounts (eg fees, minimums, maximums) use rebased or\nbase units.","type":"string","enum":["rebased","base"]}},"required":["asset_amount"]},"fee":{"description":"Fee charged for the withdrawal.","type":"object","properties":{"asset_amount":{"description":"Asset and amount.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"rebase_multiplier":{"description":"For tokenized assets, controls whether amounts (eg fees, minimums, maximums) use rebased or\nbase units.","type":"string","enum":["rebased","base"]}},"required":["asset_amount"]},"approval_request_id":{"description":"Set when the withdrawal needs to be approved before it is processed. It is\nparked until the request is granted, and cancelled if it is not.","type":"string"}},"required":["withdrawal_id","net_amount","gross_amount","fee"]},"example":{"withdrawal_id":"FTVZiTI-e02T84mm87JmibnObWNdnW","net_amount":{"asset_amount":{"asset":{"class":"currency","name":"USDC"},"amount":"4.00000000"}},"gross_amount":{"asset_amount":{"asset":{"class":"currency","name":"USDC"},"amount":"5.00000000"}},"fee":{"asset_amount":{"asset":{"class":"currency","name":"USDC"},"amount":"1.00000000"}}}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]}},"/funding/v1/addresses/{id}":{"put":{"tags":["funding-beta"],"summary":"Update Funding Address","operationId":"updateFundingAddressV1","description":"Update the name and/or description of a saved withdrawal address.\n\n**API Key Permissions Required:** `Funds permissions - Add withdrawal addresses`","parameters":[{"in":"path","name":"id","required":true,"schema":{"description":"Unique identifier of the address to update.","type":"string","pattern":"^AB[a-zA-Z0-9]{5}-[a-zA-Z0-9]{5}-[a-zA-Z0-9]{6}$"},"style":"simple","example":"AB7J4FF-BGM7G-V2JMIH"},{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"requestBody":{"content":{"application/json":{"schema":{"description":"Request to update the name and/or description of an existing funding address.","type":"object","properties":{"name":{"description":"User provided name for the address. Must be unique and contain at least one non-whitespace\ncharacter. Surrounding whitespace is removed.","type":"string","minLength":1},"description":{"description":"User provided description of the address.","type":"string"}},"example":{"name":"Personal Wallet","description":"My hardware wallet address"}},"example":{"name":"Personal Wallet","description":"My hardware wallet address"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"verified":{"description":"Whether the address is verified and ready for use.","type":"boolean"}},"required":["verified"]}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]},"delete":{"tags":["funding-beta"],"summary":"Delete Funding Address","operationId":"deleteFundingAddressV1","description":"Delete a saved withdrawal address.\n\n**API Key Permissions Required:** `Funds permissions - Add withdrawal addresses`","parameters":[{"in":"path","name":"id","required":true,"schema":{"description":"Unique identifier of the address to delete.","type":"string","pattern":"^AB[a-zA-Z0-9]{5}-[a-zA-Z0-9]{5}-[a-zA-Z0-9]{6}$"},"style":"simple","example":"AB7J4FF-BGM7G-V2JMIH"},{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"description":"Whether the address was deleted.","type":"boolean"}},"required":["result"]}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]}},"/funding/v1/assets/{direction}":{"get":{"tags":["funding-beta"],"summary":"List Funding Assets","operationId":"listFundingAssetsV1","description":"Retrieve assets available for the requested direction (deposit or withdraw).\n\n**API Key Permissions Required:** `Funds permissions - Query`","parameters":[{"in":"path","name":"direction","required":true,"schema":{"description":"Filter by direction.","type":"string","enum":["deposit","withdraw"]},"style":"simple","example":"deposit"},{"in":"query","name":"asset_class","schema":{"description":"Filter by asset class.","type":"string","enum":["currency","tokenized_asset"]},"style":"form","example":"currency"},{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"description":"All assets available to the user for funding.","type":"object","properties":{"currency":{"description":"Available assets for the currency asset class.","type":"array","items":{"type":"object","properties":{"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["name"]}},"tokenized_asset":{"description":"Available assets for the tokenized asset class.","type":"array","items":{"type":"object","properties":{"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["name"]}}}},"example":{"currency":[{"name":"USDC"},{"name":"USDT"},{"name":"BTC"},{"name":"ETH"},{"name":"SOL"}],"tokenized_asset":[{"name":"TONXx"},{"name":"NVDAx"},{"name":"AAPLx"}]}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]}},"/funding/v2/deposit/addresses":{"get":{"tags":["funding-beta"],"summary":"List Funding Claimed Addresses (v2)","operationId":"listFundingClaimedAddressesV2","x-mint":{"content":"<Note>\nFilter with `scope.method_id` for a specific method. See [how `method_id` is chosen](/exchange/guides/rest/funding#the-same-address-two-method_id-values).\n</Note>\n\n<Note>\nNot every method on a network shares an address. Methods on the same network often do (ERC-20s on Ethereum, TRC-20s on Tron, SPLs on Solana). Methods in the same network group do not always.\n</Note>"},"description":"Retrieve claimed deposit addresses. Results are paginated; use the `cursor` parameter to iterate through the list of addresses (page size equal to the value of `limit`).\n\n**API Key Permissions Required:** `Funds permissions - Query`","parameters":[{"in":"query","name":"scope","schema":{"oneOf":[{"type":"object","properties":{"method_id":{"description":"Funding method defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"method_id"},{"type":"object","properties":{"network_id":{"description":"Network defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"network_id"}],"description":"Optional filter by method or network. Claimed deposit addresses are not saved against a scope; this filters the list to claimed addresses for funding methods within the selected scope. Prefer `method_id` as the recommended filter."},"style":"deepObject","description":"Optional filter by method or network. Claimed deposit addresses are not saved against a scope; this filters the list to claimed addresses for funding methods within the selected scope. Prefer `method_id` as the recommended filter.","example":{"method_id":"27ede8db-804b-4d91-8e25-46b7b9668730"}},{"in":"query","name":"cursor","schema":{"description":"Cursor from a previous response used to retrieve the next page. Do not provide other request\nparameters with a cursor.","type":"string","minLength":1},"style":"form"},{"in":"query","name":"limit","schema":{"description":"Maximum number of claimed deposit addresses to return.","type":"integer","format":"int32","exclusiveMinimum":true,"minimum":0,"maximum":500},"style":"form","example":20},{"in":"query","name":"asset","schema":{"description":"Optional filter by asset. When this parameter is provided, `class` is required; `name` is optional.","type":"object","properties":{"class":{"description":"Asset class to match. Required when `asset` is provided.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name to match, if specified.","type":"string","minLength":1,"maxLength":16}},"required":["class"]},"style":"deepObject"},{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"description":"Response containing a page of claimed deposit addresses.","type":"object","properties":{"addresses":{"description":"Claimed deposit addresses.","type":"array","items":{"description":"A deposit address that has been claimed by the user, with usage and expiration information.","type":"object","properties":{"method_id":{"description":"Funding method for this claimed address. The value depends on the `scope` you passed:\n\n- `scope.method_id`: the method you filtered by. Listing USDC on Ethereum returns the USDC\n  method, even when the address is stored against ETH on Ethereum.\n- `scope.network_id` or no `scope`: the method the address is stored against (ETH on\n  Ethereum in that example).\n\nPass `scope.method_id` when you need the address for a specific deposit method. See\n[Shared deposit addresses](/exchange/guides/rest/funding#shared-deposit-addresses).","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"},"id":{"description":"Identifier of the claimed deposit address.","type":"string","pattern":"^[Ff][Tt][a-zA-Z0-9]{5}-[a-zA-Z0-9]{22}$"},"last_used":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"expire_time":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"address_details":{"oneOf":[{"type":"object","properties":{"crypto":{"description":"Crypto deposit address details.","type":"object","properties":{"address":{"description":"Crypto address.","type":"string"},"tag":{"description":"Tag associated with the address.","type":"string"},"memo":{"description":"Memo associated with the address.","type":"string"}},"required":["address"]}},"title":"crypto"},{"type":"object","properties":{"fiat":{"description":"Fiat deposit address details.","type":"object","properties":{"account":{"description":"Bank account number.","type":"string"},"account_type":{"description":"Bank account type.","type":"string"},"address":{"description":"Bank or wallet address.","type":"string"},"bank":{"description":"Bank name.","type":"string"},"bank_code":{"description":"Bank code.","type":"string"},"bic":{"description":"Bank identifier code (BIC).","type":"string"},"branch":{"description":"Bank branch.","type":"string"},"bank_address":{"description":"Bank address.","type":"string"},"bsb":{"description":"Bank State Branch (BSB) code.","type":"string"},"iban":{"description":"International Bank Account Number (IBAN).","type":"string"},"memo":{"description":"Payment memo.","type":"string"},"name_on_account":{"description":"Account holder name.","type":"string"},"routing":{"description":"Bank routing number.","type":"string"},"sort":{"description":"Bank sort code.","type":"string"},"swift":{"description":"SWIFT code.","type":"string"},"tag":{"description":"Destination tag.","type":"string"},"transit":{"description":"Bank transit number.","type":"string"}}}},"title":"fiat"}]}}}},"next_cursor":{"description":"Cursor to use in the next request to retrieve the next page. Omitted when there are no more\nresults.","type":"string","minLength":1}}},"example":{"addresses":[{"method_id":"27ede8db-804b-4d91-8e25-46b7b9668730","shares_addresses_with_method_id":"a001231f-488e-48c0-b36c-6e0d2c1ee247","address_details":{"crypto":{"address":"0x0d5cff23d40bcc6b98537c7ad5a839a247f546..."}}}]}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]}},"/funding/v1/limits/deposit/{asset_class}/{asset}":{"get":{"tags":["funding-beta"],"summary":"List Funding Deposit Limits","operationId":"listFundingDepositLimitsV1","description":"Retrieve deposit limits for an asset, including remaining and maximum amounts where applicable.\n\n**API Key Permissions Required:** `Funds permissions - Query`","parameters":[{"in":"path","name":"asset_class","required":true,"schema":{"description":"Filter by asset class.","type":"string","enum":["currency","tokenized_asset"]},"style":"simple","example":"currency"},{"in":"path","name":"asset","required":true,"schema":{"description":"Filter by asset.","type":"string","minLength":1,"maxLength":16},"style":"simple","example":"BTC"},{"in":"query","name":"preferred_asset","schema":{"description":"Asset in which to express returned limit amounts. When omitted, amounts are returned in the\nfunding method’s asset.","type":"object","properties":{"class":{"description":"Asset class to match.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name to match.","type":"string","minLength":1,"maxLength":16}},"required":["name"]},"style":"deepObject"},{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"deposit_limits":{"description":"Deposit limits by funding method.","type":"array","items":{"type":"object","properties":{"method_id":{"description":"Funding method associated with the limits.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"},"maximum_amount":{"description":"Maximum deposit amount allowed by amount based limits. Attempt and transaction-count limits are\nnot included.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"limits":{"description":"Funding limits for the method.","type":"array","items":{"description":"A funding limit for a time window.","type":"object","properties":{"time_window":{"description":"Length of the time window over which the limit applies.","type":"string","format":"uint64","pattern":"^\\d+$"},"limit":{"description":"Limit values for the applicable metric.","oneOf":[{"type":"object","properties":{"limit_type":{"type":"string","enum":["equiv_amount_usd"]},"remaining":{"description":"Amount remaining in the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]},"maximum":{"description":"Maximum amount for the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]},"used":{"description":"Amount used in the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]}},"required":["remaining","maximum","limit_type"],"title":"limit_type | remaining | maximum | used"},{"type":"object","properties":{"limit_type":{"type":"string","enum":["equiv_amount_eur"]},"remaining":{"description":"Amount remaining in the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]},"maximum":{"description":"Maximum amount for the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]},"used":{"description":"Amount used in the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]}},"required":["remaining","maximum","limit_type"],"title":"limit_type | remaining | maximum | used"},{"type":"object","properties":{"limit_type":{"type":"string","enum":["equiv_amount_cad"]},"remaining":{"description":"Amount remaining in the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]},"maximum":{"description":"Maximum amount for the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]},"used":{"description":"Amount used in the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]}},"required":["remaining","maximum","limit_type"],"title":"limit_type | remaining | maximum | used"},{"type":"object","properties":{"limit_type":{"type":"string","enum":["equiv_amount_gbp"]},"remaining":{"description":"Amount remaining in the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]},"maximum":{"description":"Maximum amount for the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]},"used":{"description":"Amount used in the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]}},"required":["remaining","maximum","limit_type"],"title":"limit_type | remaining | maximum | used"},{"type":"object","properties":{"limit_type":{"type":"string","enum":["attempt"]},"remaining":{"description":"Count remaining in the time window.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"},"maximum":{"description":"Maximum count for the time window.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"},"used":{"description":"Count used in the time window.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["remaining","maximum","limit_type"],"title":"limit_type | remaining | maximum | used"},{"type":"object","properties":{"limit_type":{"type":"string","enum":["success"]},"remaining":{"description":"Count remaining in the time window.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"},"maximum":{"description":"Maximum count for the time window.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"},"used":{"description":"Count used in the time window.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["remaining","maximum","limit_type"],"title":"limit_type | remaining | maximum | used"},{"type":"object","properties":{"limit_type":{"type":"string","enum":["amount"]},"remaining":{"description":"Amount remaining in the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]},"maximum":{"description":"Maximum amount for the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]},"used":{"description":"Amount used in the time window.","type":"object","properties":{"policy_asset_amount":{"description":"Amount in the asset used by the limit policy.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"usd_amount":{"description":"Equivalent amount in USD.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"requested_asset_amount":{"description":"Equivalent amount in the requested asset. Uses the funding method's asset when\n`preferred_asset` is omitted.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["policy_asset_amount"]}},"required":["remaining","maximum","limit_type"],"title":"limit_type | remaining | maximum | used"}]}},"required":["time_window","limit"]}}},"required":["method_id","limits"]}}}},"example":{"deposit_limits":[{"method_id":"742656ee-ecc8-4287-a301-5a472ca16c24","maximum_amount":{"asset":{"class":"currency","name":"USDC"},"amount":"100032.01024328"},"limits":[]},{"method_id":"98de2213-0e3c-422c-9b08-81078557ad3a","limits":[]}]}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]}},"/funding/v1/deposits":{"get":{"tags":["funding-beta"],"summary":"List Funding Deposits","operationId":"listFundingDepositsV1","description":"Retrieve information about deposits. Results are sorted by recency; use the `cursor` parameter to iterate through the list of deposits (page size equal to the value of `limit`) from newest to oldest.\n\n**API Key Permissions Required:** `Funds permissions - Query`","parameters":[{"in":"query","name":"asset","schema":{"description":"Optional filter by asset. When this parameter is provided, `class` is required; `name` is optional.","type":"object","properties":{"class":{"description":"Asset class to match. Required when `asset` is provided.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name to match, if specified.","type":"string","minLength":1,"maxLength":16}},"required":["class"]},"style":"deepObject"},{"in":"query","name":"scope","schema":{"oneOf":[{"type":"object","properties":{"method_id":{"description":"Funding method defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"method_id"},{"type":"object","properties":{"network_id":{"description":"Network defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"network_id"},{"type":"object","properties":{"network_group_id":{"description":"Network group defining the scope.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}},"title":"network_group_id"}]},"style":"deepObject"},{"in":"query","name":"status","schema":{"oneOf":[{"type":"object","properties":{"list":{"description":"Match any of the specified statuses.","type":"array","items":{"type":"string","enum":["initial","pending","settled","success","failure"]}}},"title":"list"},{"type":"object","properties":{"range":{"description":"Match statuses within an inclusive range.","type":"object","properties":{"start":{"description":"Inclusive lower bound. Omitted for no lower bound.","type":"string","enum":["initial","pending","settled","success","failure"]},"end":{"description":"Inclusive upper bound. Omitted for no upper bound.","type":"string","enum":["initial","pending","settled","success","failure"]}}}},"title":"range"}]},"style":"form"},{"in":"query","name":"cursor","schema":{"description":"Cursor from a previous response used to retrieve the next page. Do not provide other request\nparameters with a cursor.","type":"string","minLength":1},"style":"form"},{"in":"query","name":"limit","schema":{"description":"Maximum number of deposits to return.","type":"integer","format":"int32","exclusiveMinimum":true,"minimum":0,"maximum":500},"style":"form","example":20},{"in":"query","name":"start_time","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"style":"form"},{"in":"query","name":"end_time","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"style":"form"},{"in":"query","name":"rebase_multiplier","schema":{"description":"For tokenized assets, controls whether amounts (eg fees, minimums, maximums) use rebased or\nbase units.","type":"string","enum":["rebased","base"]},"style":"form"},{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"description":"Response containing the list of funding deposits.","type":"object","properties":{"deposits":{"description":"Deposits.","type":"array","items":{"description":"A deposit.","type":"object","properties":{"deposit_id":{"description":"Unique identifier of the deposit.","type":"string","pattern":"^[Ff][Tt][a-zA-Z0-9]{5}-[a-zA-Z0-9]{22}$"},"method_id":{"description":"Funding method used for the deposit.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"},"network_id":{"description":"Network used for the deposit.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"},"status":{"description":"Settlement status.","type":"string","enum":["initial","pending","settled","success","failure"]},"amount":{"description":"Deposit amount. Omitted while unknown.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"fee":{"description":"Fee charged for the deposit. Omitted until the deposit is complete.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"create_time":{"$ref":"#/components/schemas/google.protobuf.Timestamp"}}}},"next_cursor":{"description":"Cursor to use in the next request to retrieve the next page. Omitted when there are no more\nresults.","type":"string","minLength":1}}},"example":{"deposits":[{"deposit_id":"FTcQ4qW-fWGQbQwUfqdnZo4dsMn1ao","method_id":"3e7f8072-cc6d-4394-982a-5f4ca6ab27dd","network_id":"b336ce74-8d60-42b8-8714-b1095e06b711","status":"success","amount":{"asset":{"class":"currency","name":"USDC"},"amount":"20.00000000"},"fee":{"asset":{"class":"currency","name":"USDC"},"amount":"0.00000000"},"create_time":"2026-07-01T08:31:33Z"},{"deposit_id":"FTAsxe1-PHt8Ni7NodvtOEw8FBvLAJ","method_id":"a897bb0b-e7bc-4eff-969f-433bc811e4ad","network_id":"d9d375da-44b7-4be1-8a00-8b281acfe366","status":"success","amount":{"asset":{"class":"currency","name":"LINK"},"amount":"5555.0000000000"},"fee":{"asset":{"class":"currency","name":"LINK"},"amount":"0.0000000000"},"create_time":"2026-06-23T08:41:17Z"}],"next_cursor":"gqNrZXm-RlREc1IxRC1oOTd3c1Y4RFJKUWpPQ0ZTTjVic0NxpnBhcmFtc4qudXNlcl9zZWxlY3Rpb27ArGFzc2V0X2ZpbHRlcsClc2NvcGXArXN0YXR1c19maWx0ZXLArGZsYWdzX2ZpbHRlcsCzZXF1aXZfYW1vdW50X2ZpbHRlcsCqc3RhcnRfdGltZcCoZW5kX3RpbWXAqG9yZGVyaW5nqmRlc2NlbmRpbmexcmViYXNlX211bHRpcGxpZXLA"}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]}},"/funding/v1/methods/{direction}":{"get":{"tags":["funding-beta"],"summary":"List Funding Methods","operationId":"listFundingMethodsV1","description":"Retrieve funding methods for the requested direction (deposit or withdraw). Results are paginated; use the `cursor` parameter to iterate through the list of methods (page size equal to the value of `limit`).\n\n**API Key Permissions Required:** `Funds permissions - Query`","parameters":[{"in":"path","name":"direction","required":true,"schema":{"description":"Filter by direction.","type":"string","enum":["deposit","withdraw"]},"style":"simple","example":"deposit"},{"in":"query","name":"asset","schema":{"description":"Optional filter by asset. When this parameter is provided, `class` is required; `name` is optional.","type":"object","properties":{"class":{"description":"Asset class to match. Required when `asset` is provided.","type":"string","enum":["currency","tokenized_asset"],"example":"currency"},"name":{"description":"Asset name to match, if specified.","type":"string","minLength":1,"maxLength":16,"example":"USDC"}},"required":["class"]},"style":"deepObject","example":{"class":"currency","name":"USDC"}},{"in":"query","name":"rebase_multiplier","schema":{"description":"For tokenized assets, controls whether amounts (eg fees, minimums, maximums) use rebased or\nbase units.","type":"string","enum":["rebased","base"]},"style":"form"},{"in":"query","name":"limit","schema":{"description":"Maximum number of methods to return.","type":"integer","format":"int32","exclusiveMinimum":true,"minimum":0,"maximum":10000},"style":"form","example":50},{"in":"query","name":"cursor","schema":{"description":"Cursor from a previous response used to retrieve the next page. Do not provide other request\nparameters with a cursor.","type":"string","minLength":1},"style":"form"},{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"description":"All funding methods available to the user for funding its kraken account.","type":"object","properties":{"methods":{"description":"Available funding methods.","type":"array","items":{"description":"A deposit or withdrawal method for an asset on a specific network.","type":"object","properties":{"deposit":{"description":"Deposit specific details. Present only for deposit methods.","type":"object","properties":{"shares_addresses_with_method_id":{"description":"The funding method this method shares its deposit address family with. Present only when this\nmethod reuses another method's deposit addresses; omitted when it has its own. See\n[Shared deposit addresses](/exchange/guides/rest/funding#shared-deposit-addresses)\nfor how shared addresses work when you list or claim.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"},"address_setup_fee":{"description":"Fee charged when the user first claims an address for this funding method.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"address_generation":{"description":"Address generation availability and limit.","type":"object","properties":{"status":{"description":"Address generation availability.","type":"string","enum":["unsupported","unlimited","limited"]},"limit":{"description":"Maximum number of addresses when `status` is `limited`.","type":"integer","format":"int32","exclusiveMinimum":true,"minimum":0}},"required":["status"]},"allow_credit_cards":{"description":"Whether credit card deposits are allowed. Only provided for credit card methods; `false` means\nonly debit cards are allowed in the user's country.","type":"boolean"},"exempted_withdrawal_hold":{"description":"Whether deposits made with this method are exempt from its withdrawal hold. Only provided for\nmethods that impose a withdrawal hold.","type":"boolean"}}},"withdrawal":{"description":"Present only for withdrawal methods.","type":"object"},"asset":{"description":"Asset supported by the funding method.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"method_id":{"description":"Unique identifier of the funding method.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"},"method_name":{"description":"Display name of the funding method.","type":"string","minLength":1},"minimum_amount":{"description":"Minimum amount per transaction.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"},"maximum_amount":{"description":"Maximum amount per transaction.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"},"fees":{"description":"Fees charged per transaction.","type":"object","properties":{"base":{"description":"Base fee charged per transaction.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"percentage":{"description":"Percentage fee charged per transaction.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"},"included":{"description":"Whether the fee is included in the transaction amount.","type":"boolean"},"min":{"description":"Minimum fee charged per transaction.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]},"max":{"description":"Maximum fee charged per transaction.","type":"object","properties":{"asset":{"description":"Asset in which the amount is denominated.","type":"object","properties":{"class":{"description":"Asset class.","type":"string","enum":["currency","tokenized_asset"]},"name":{"description":"Asset name.","type":"string","minLength":1,"maxLength":16}},"required":["class","name"]},"amount":{"description":"Decimal amount.","type":"string","pattern":"^[+-]?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))$"}},"required":["asset","amount"]}},"required":["base","included"]},"network":{"description":"Network used by the funding method.","type":"object","properties":{"network_id":{"description":"Unique identifier of the network.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"},"network_name":{"description":"Network name.","type":"string","minLength":1},"contract_address":{"description":"Token contract address on the network.","type":"string"},"on_chain_asset_symbol":{"description":"Asset symbol used on the network.","type":"string"}},"required":["network_id","network_name"]}},"required":["asset","method_id","method_name","fees"]}},"next_cursor":{"description":"Cursor to use in the next request to retrieve the next page. Omitted when there are no more\nresults.","type":"string","minLength":1}}},"example":{"methods":[{"asset":{"class":"currency","name":"USDC"},"method_id":"27ede8db-804b-4d91-8e25-46b7b9668730","method_name":"Standard","minimum_amount":"2","fees":{"base":{"asset":{"class":"currency","name":"USDC"},"amount":"0.00000000"},"included":true},"network":{"network_id":"d9d375da-44b7-4be1-8a00-8b281acfe366","network_name":"Ethereum","contract_address":"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","on_chain_asset_symbol":"USDC"},"deposit":{"address_generation":{"status":"limited","limit":5},"shares_addresses_with_method_id":"a001231f-488e-48c0-b36c-6e0d2c1ee247"}}]}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]}},"/funding/v1/networks":{"get":{"tags":["funding-beta"],"summary":"List Funding Networks","operationId":"listFundingNetworksV1","description":"Retrieve networks and network groups available for funding, including which networks share an address\nformat.\n\n**API Key Permissions Required:** `Funds permissions - Query`","parameters":[{"in":"query","name":"account_id","description":"Account ID","schema":{"type":"string"},"x-selected-account":true,"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"description":"Returns all networks and networks groups available to the user.","type":"object","properties":{"network_groups":{"description":"Groups of networks that share the same address format (eg EVM-compatible networks).","type":"array","items":{"description":"A group of networks that share compatible addresses.","type":"object","properties":{"network_group_id":{"description":"Unique identifier of the network group.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"},"name":{"description":"Network group name.","type":"string"},"network_ids":{"description":"Networks in the group.","type":"array","items":{"description":"Unique identifier of the network.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"}}}}},"networks":{"description":"Available networks.","type":"array","items":{"type":"object","properties":{"network_id":{"description":"Unique identifier of the network.","type":"string","pattern":"^[0-9a-fA-F]{8}-?(?:[0-9a-fA-F]{4}-?){3}[0-9a-fA-F]{12}$"},"name":{"description":"Network name.","type":"string"}}}}}},"example":{"network_groups":[{"network_group_id":"f95acdb7-48fb-4441-b5b4-843d3bf60e61","name":"EVM","network_ids":["2c6eeff9-bd5f-4c09-982d-a5855fa9f0dd","bc7562cf-1e51-4308-b52b-d062aaa6aa3b","473365c2-4c95-4bd9-b5c8-974fb91c7d6b"]}],"networks":[{"network_id":"2c6eeff9-bd5f-4c09-982d-a5855fa9f0dd","name":"Arbitrum Nova"},{"network_id":"bc7562cf-1e51-4308-b52b-d062aaa6aa3b","name":"Arbitrum One"},{"network_id":"473365c2-4c95-4bd9-b5c8-974fb91c7d6b","name":"Avalanche C Chain"}]}}}}},"security":[{"API-Key":[],"API-Sign":[],"API-Nonce":[]},{"API-Key":[],"API-Sign":[],"API-Nonce":[],"API-OTP":[]}]}},"/funding/v1/limits/withdrawal/{asset_class}/{asset}":{"get":{"tags":["funding-beta"],"summary":"List Funding Withdrawal Limits","operationId":"listFundingWithdrawalLimitsV1","description":"Retrieve withdrawal limits for an asset, including remaining and maximum amounts where applicable.\n\n**API Key Permissions Required:** `Funds permissions - Query`","parameters":[{"in":"path","name":"asset_class","required":true,"schema":{"description":"Filter by asset class.","type":"string","enum":["currency","tokenized_asset"]},"style":"simple","example":"currency"},{"in":"path","name":"asset","required":true,"schema":{"description":"Filter by asset.","type":"string","minLength":1,"maxLength":16},"style":"simple","example":"BTC"},{"in":"query","name":"preferred_asset","schema":{"description":"Asset in which to express returned limit amounts. When omitted, amounts are returned in the\nfunding method’s asset.","type":"object","properties":{"class":{
[...]
