{"openapi":"3.1.0","info":{"title":"Kraken Futures Trading API","version":"v3","description":"Market data and order management endpoints."},"servers":[{"url":"https://futures.kraken.com/derivatives/api/v3","description":"Kraken Futures","x-kfOnly":true}],"tags":[{"name":"Multi-Collateral","description":"Endpoints pertaining to the multi-collateral (MC) futures markets."},{"name":"Instrument Details","description":"- The `/instruments/status` endpoint provides a list of statuses for all instruments.\n- The `/instruments/{symbol}/status` endpoint provides the status of a single instrument."},{"name":"Account Information"},{"name":"Assignment Program"},{"name":"Fee Schedules","description":"**DEPRECATED** — Effective 2026-06-22, the fee values returned by these\nendpoints no longer reflect the fees actually charged on Futures trades.\nFutures fee calculation has been migrated to a centralised Kraken fee\nservice.\n\nTo determine the fee rate applied to your trades, use the Spot\n[`GetTradeVolume`](https://docs.kraken.com/api/docs/rest-api/get-trade-volume)\nendpoint authenticated with a Spot API key."},{"name":"General"},{"name":"Historical Data"},{"name":"Historical Funding Rates"},{"name":"Market Data"},{"name":"Order Management"},{"name":"Trading Settings"},{"name":"Subaccounts"},{"name":"Transfers"},{"name":"RFQs"}],"paths":{"/pnlpreferences":{"x-kfOnly":true,"get":{"operationId":"getPnlCurrencyPreference","tags":["Multi-Collateral"],"summary":"Get PNL currency preferences","description":"The PNL currency preference is used to determine which currency to pay out when realizing\nPNL gains.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"preferences":{"type":"array","items":{"$ref":"#/components/schemas/PnlPreference"}}},"required":["preferences"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/GetPnlPreferencesExample"}}}}}}},"put":{"operationId":"setPnlCurrencyPreference","tags":["Multi-Collateral"],"summary":"Set PNL currency preference","description":"The PNL currency preference is used to determine which currency to pay out when realizing\nPNL gains. Calling this API can result in the following error codes:\n\n\n  87: Contract does not exist\n\n  88: Contract not a multi-collateral futures contract\n\n  89: Currency does not exist\n\n  90: Currency is not enabled for multi-collateral futures\n\n  41: Would cause liquidation","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"The symbol for the PnL preference.","name":"symbol","in":"query","required":true,"schema":{"type":"string"}},{"description":"The asset in which profit will be realised for the specific symbol.","name":"pnlPreference","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/SuccessExample"}}}}}}}},"/leveragepreferences":{"x-kfOnly":true,"get":{"operationId":"getLeverageSetting","tags":["Multi-Collateral"],"summary":"Get leverage settings","description":"Returns list of configured leverage preferences.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"leveragePreferences":{"type":"array","items":{"$ref":"#/components/schemas/LeveragePreference"}}},"required":["leveragePreferences"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/GetLeveragePreferencesExample"}}}}}}},"put":{"operationId":"setLeverageSetting","tags":["Multi-Collateral"],"summary":"Set leverage settings","description":"Sets a contract's margin mode, either \"isolated\" or \"cross\" margin.\n\nWhen specifying a max leverage, the contract's margin mode will be isolated.\n\nCalling this endpoint can result in the following error codes:\n- 87: Contract does not exist\n- 88: Contract not a multi-collateral futures contract\n- 41: Would cause liquidation","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"Symbol for the leverage preference.","name":"symbol","in":"query","required":true,"schema":{"type":"string"}},{"description":"Max leverage to set.\n\nWhen present, the symbol's margin mode will be set to \"isolated\".\nWhen missing, the symbol's margin mode will be set to \"cross\".\n","name":"maxLeverage","in":"query","required":false,"schema":{"type":"number"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/SuccessExample"}}}}}}}},"/accounts":{"get":{"operationId":"getAccounts","tags":["Account Information"],"summary":"Get wallets","description":"This endpoint returns key information relating to all your accounts which may either be\ncash accounts or margin accounts. This includes digital asset balances, instrument balances,\nmargin requirements, margin trigger estimates and auxiliary information such as available\nfunds, PnL of open positions and portfolio value.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"title":"Accounts Response","oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"accounts":{"$ref":"#/components/schemas/Account","description":"A structure containing structures with account-related information for\nall margin and cash accounts."}},"required":["accounts"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/AccountsExample"}}}}}}}},"/batchorder":{"post":{"operationId":"sendBatchOrder","tags":["Order Management"],"summary":"Batch order management","description":"This endpoint allows sending limit or stop order(s) and/or cancelling open order(s) and/or\nediting open order(s) for a currently listed Futures contract in batch.\n\nWhen editing an order, if the `trailingStopMaxDeviation` and `trailingStopDeviationUnit`\nparameters are sent unchanged, the system will recalculate a new stop price upon successful\norder modification.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"$ref":"#/components/parameters/AlgoId"},{"$ref":"#/components/parameters/ProcessBefore"},{"description":"Contains the request body as a String","name":"json","in":"query","required":true,"content":{"application/json":{"schema":{"title":"Batch Order","type":"object","additionalProperties":false,"required":["batchOrder"],"properties":{"batchOrder":{"type":"array","items":{"title":"Batch Instruction","discriminator":{"propertyName":"order","mapping":{"send":"#/components/schemas/BatchOrderSend","edit":"#/components/schemas/BatchOrderEdit","cancel":"#/components/schemas/BatchOrderCancel"}},"oneOf":[{"$ref":"#/components/schemas/BatchOrderSend"},{"$ref":"#/components/schemas/BatchOrderEdit"},{"$ref":"#/components/schemas/BatchOrderCancel"}]},"description":"A list containing structures of order sending and order cancellation\ninstructions. The list is in no particular order."}},"examples":[{"batchOrder":[{"order":"send","order_tag":"1","orderType":"lmt","symbol":"PI_XBTUSD","side":"buy","size":1,"limitPrice":1,"cliOrdId":"my_another_client_id"},{"order":"send","order_tag":"2","orderType":"stp","symbol":"PI_XBTUSD","side":"buy","size":1,"limitPrice":2,"stopPrice":3},{"order":"cancel","order_id":"e35d61dd-8a30-4d5f-a574-b5593ef0c050"},{"order":"cancel","cliOrdId":"my_client_id"}]}]}}}},{"name":"broker","in":"query","schema":{"type":"string","format":"iiban","description":"Valid Broker IIBAN on whose behalf the order is sent. The format must follow the\nusual IIBAN pattern `XXXX YYYY ZZZZ WWWW` or machine pattern `XXXXYYYYZZZZWWWW`.\n\nNote: This is currently available exclusively in the Kraken pre-prod environments."}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","required":["batchStatus"],"properties":{"batchStatus":{"type":"array","items":{"$ref":"#/components/schemas/BatchInstructionResult"},"description":"A structure containing information on the send order request."}}},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/BatchOrderExample"}}}}}}}},"/cancelallorders":{"post":{"operationId":"cancelAllOrders","tags":["Order Management"],"summary":"Cancel all orders","description":"This endpoint allows cancelling orders which are associated with a future's contract or a\nmargin account. If no arguments are specified all open orders will be cancelled.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"$ref":"#/components/parameters/AlgoId"},{"description":"A futures product to cancel all open orders.","name":"symbol","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"cancelStatus":{"description":"A structure containing information on the cancellation request.","$ref":"#/components/schemas/CancelAllOrdersStatusJson"}},"required":["cancelStatus"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/CancelAllOrdersExample"}}}}}}}},"/cancelallordersafter":{"post":{"operationId":"cancelAllOrdersAfter","tags":["Order Management"],"summary":"Dead man's switch","description":"This endpoint provides a Dead Man's Switch mechanism to protect the user from network malfunctions. The user can send a request with a timeout in seconds which will trigger a countdown timer that will cancel all user orders when timeout expires. The user has to keep sending request to push back the timeout expiration or they can deactivate the mechanism by specifying a timeout of zero (0).\n\nThe recommended mechanism usage is making a call every 15 to 20 seconds and provide a timeout of 60 seconds. This allows the user to keep the orders in place on a brief network failure, while keeping them safe in case of a network breakdown.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"$ref":"#/components/parameters/AlgoId"},{"description":"The timeout specified in seconds.","name":"timeout","in":"query","required":false,"schema":{"type":"number","format":"uint32","example":60}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"status":{"$ref":"#/components/schemas/DeadManSwitchStatusJson","description":"The status of the switch."}},"required":["status"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/CancelAllOrdersAfterSuccessExample"},"cancel":{"$ref":"#/components/examples/CancelAllOrdersAfterCancelExample"},"failure":{"$ref":"#/components/examples/CancelAllOrdersAfterFailureExample"}}}}}}}},"/cancelorder":{"post":{"operationId":"cancelOrder","tags":["Order Management"],"summary":"Cancel order","description":"This endpoint allows cancelling an open order for a Futures contract.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"$ref":"#/components/parameters/AlgoId"},{"$ref":"#/components/parameters/ProcessBefore"},{"name":"order_id","in":"query","schema":{"type":"string","description":"The unique identifier of the order to be cancelled."}},{"name":"cliOrdId","in":"query","schema":{"type":"string","description":"The client unique identifier of the order to be cancelled."}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"cancelStatus":{"$ref":"#/components/schemas/CancelOrderStatusJson","description":"A structure containing information on the cancellation request."}},"required":["cancelStatus"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/CancelOrderExample"}}}}}}}},"/editorder":{"post":{"operationId":"editOrderSpring","tags":["Order Management"],"summary":"Edit order","description":"This endpoint allows editing an existing order for a currently listed Futures contract.\n\nWhen editing an order, if the `trailingStopMaxDeviation` and `trailingStopDeviationUnit`\nparameters are sent unchanged, the system will recalculate a new stop price upon successful\norder modification.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"$ref":"#/components/parameters/AlgoId"},{"$ref":"#/components/parameters/ProcessBefore"},{"description":"ID of the order you wish to edit. (Required if CliOrdId is not included)","name":"orderId","in":"query","schema":{"type":"string"}},{"description":"The order identity that is specified from the user. It must be globally unique (Required\nif orderId is not included)","name":"cliOrdId","in":"query","schema":{"type":"string"}},{"description":"The size associated with the order","name":"size","in":"query","schema":{"type":"number"}},{"description":"The limit price associated with the order. Must not exceed the tick size of the contract.","name":"limitPrice","in":"query","schema":{"type":"number"}},{"description":"The stop price associated with a stop order. Required if old orderType is stp.\nMust not exceed tick size of the contract. Note that for stp orders, limitPrice is also\nrequired and denotes the worst price at which the stp order can get filled.","name":"stopPrice","in":"query","schema":{"type":"number"}},{"name":"trailingStopMaxDeviation","in":"query","schema":{"type":"number","description":"Only relevant for trailing stop orders. Maximum value of 50%, minimum value of 0.1% for 'PERCENT' 'maxDeviationUnit'.\n\nIs the maximum distance the trailing stop's trigger price may trail behind the requested trigger signal.\nIt defines the threshold at which the trigger price updates.","minimum":0.1,"maximum":50}},{"name":"trailingStopDeviationUnit","in":"query","schema":{"type":"string","enum":["PERCENT","QUOTE_CURRENCY"],"description":"Only relevant for trailing stop orders.\n\nThis defines how the trailing trigger price is calculated from the requested trigger signal.\nFor example, if the max deviation is set to 10, the unit is 'PERCENT', and the underlying order is a sell,\nthen the trigger price will never be more then 10% below the trigger signal.\nSimilarly, if the deviation is 100, the unit is 'QUOTE_CURRENCY', the underlying order is a sell, and the\ncontract is quoted in USD, then the trigger price will never be more than $100 below the trigger signal."}},{"name":"qtyMode","in":"query","schema":{"type":"string","enum":["ABSOLUTE","RELATIVE"],"description":"Determines how the updated size is interpreted, defaulting to 'RELATIVE'.\n\n'ABSOLUTE' means that the total order size, including past fills, is set to `size`.\n'RELATIVE' means that the current open order size is set to `size`."}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"editStatus":{"description":"A structure containing information on the send order request","$ref":"#/components/schemas/EditOrderStatus"}},"required":["editStatus"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/EditOrderExample"}}}}}}}},"/feeschedules":{"get":{"operationId":"getFeeSchedulesV3","tags":["Fee Schedules"],"summary":"Get fee schedules","deprecated":true,"description":"**DEPRECATED** — Effective 2026-06-22, the fee values returned by this\nendpoint no longer reflect the fees actually charged on Futures trades.\nFutures fee calculation has been migrated to a centralised Kraken fee\nservice.\n\nTo determine the fee rate applied to your trades, use the Spot\n[`GetTradeVolume`](https://docs.kraken.com/api/docs/rest-api/get-trade-volume)\nendpoint authenticated with a Spot API key.\n\n---\n\nThis endpoint lists all fee schedules.","security":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"feeSchedules":{"type":"array","items":{"$ref":"#/components/schemas/FeeSchedule"}}},"required":["feeSchedules"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/FeeSchedulesExample"}}}}}}}},"/feeschedules/volumes":{"get":{"operationId":"getUserFeeScheduleVolumesV3","tags":["Fee Schedules"],"summary":"Get fee schedule volumes","deprecated":true,"description":"**DEPRECATED** — Effective 2026-06-22, the volumes and fee schedule\nassociations returned by this endpoint no longer reflect the fees\nactually charged on Futures trades. Futures fee calculation has been\nmigrated to a centralised Kraken fee service.\n\nTo determine the fee rate applied to your trades, use the Spot\n[`GetTradeVolume`](https://docs.kraken.com/api/docs/rest-api/get-trade-volume)\nendpoint authenticated with a Spot API key.\n\n---\n\nReturns your fee schedule volumes for each fee schedule.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"volumesByFeeSchedule":{"$ref":"#/components/schemas/FeeScheduleVolumes","description":"List containing the 30-day volume."}},"required":["volumesByFeeSchedule"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/FeeSchedulesValuesExample"}}}}}}}},"/fills":{"get":{"operationId":"getFills","tags":["Historical Data"],"summary":"Get your fills","description":"This endpoint returns information on your filled orders for all futures contracts.","security":[{"general-api-key-read-only":[],"authent":[]}],"parameters":[{"description":"If not provided, returns the last 100 fills in any futures contract. If provided,\nreturns the 100 entries before lastFillTime.","name":"lastFillTime","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"fills":{"type":"array","items":{"$ref":"#/components/schemas/FillJson"},"description":"A list containing structures with information on filled orders. The\nlist is sorted descending by `fillTime`."}},"required":["fills"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/FillsExample"}}}}}}}},"/history":{"get":{"operationId":"getHistory","tags":["Market Data"],"summary":"Get trade history","description":"This endpoint returns the most recent 100 trades prior to the specified `lastTime` value up\nto past 7 days or recent trading engine restart (whichever is sooner).\n\nIf no `lastTime` specified, it will return 100 most recent trades.","security":[],"parameters":[{"description":"The symbol of the Futures.","name":"symbol","in":"query","required":true,"schema":{"type":"string"}},{"description":"Returns the last 100 trades from the specified lastTime value.","name":"lastTime","in":"query","required":false,"schema":{"type":"string"}},{"name":"includeMTFData","in":"query","required":false,"schema":{"default":true,"type":"boolean"},"x-cfOnly":true}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"history":{"type":"array","items":{"$ref":"#/components/schemas/HistoryJson"},"description":"A list containing structures with historical price information. The\nlist is sorted descending by time."}},"required":["history"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}},"/instruments":{"get":{"operationId":"getInstruments","tags":["Instrument Details"],"summary":"Get instruments","description":"Returns specifications for all currently listed markets and indices.","security":[],"parameters":[{"$ref":"#/components/parameters/ContractTypesQuery"},{"$ref":"#/components/parameters/ExpiredQuery"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"instruments":{"type":"array","items":{"$ref":"#/components/schemas/Instrument"},"description":"A list containing structures for each available instrument. The list\nis in no particular order."}},"required":["instruments"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/InstrumentsExample"}}}}}}}},"/trading/instruments":{"get":{"operationId":"getTradingInstruments","tags":["Instrument Details"],"summary":"Get trading instruments","description":"Returns specifications for all currently accessible markets and indices.","security":[{"general-api-key-read-only":[],"authent":[]}],"parameters":[{"$ref":"#/components/parameters/ContractTypesQuery"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"instruments":{"type":"array","items":{"$ref":"#/components/schemas/InstrumentAuthenticated"},"description":"A list containing structures for each available instrument. The list\nis in no particular order."}},"required":["instruments"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}},"/instruments/status":{"get":{"operationId":"instrumentsStatus","tags":["Instrument Details"],"summary":"Get instrument status list","description":"Returns price dislocation and volatility details for all markets.","parameters":[{"$ref":"#/components/parameters/ContractTypesQuery"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"instrumentStatus":{"type":"array","items":{"$ref":"#/components/schemas/InstrumentStatus"}}},"required":["instrumentStatus"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}},"/instruments/{symbol}/status":{"parameters":[{"$ref":"#/components/parameters/MarketSymbolPath"}],"get":{"operationId":"instrumentStatus","tags":["Instrument Details"],"summary":"Get instrument status","description":"Returns price dislocation and volatility details for given market.","responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"$ref":"#/components/schemas/InstrumentStatus"},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}},"/notifications":{"get":{"operationId":"getNotifications","tags":["General"],"summary":"Get notifications","description":"This endpoint provides the platform's notifications.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"notifications":{"type":"array","items":{"$ref":"#/components/schemas/NotificationJson"},"description":"A list containing the notifications."}},"required":["notifications"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/NotificationsSuccessExample"},"failure":{"$ref":"#/components/examples/NotificationsFailureExample"}}}}}}}},"/openorders":{"get":{"operationId":"getOpenOrders","tags":["Order Management"],"summary":"Get open orders","description":"This endpoint returns information on all open orders for all Futures contracts.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"openOrders":{"type":"array","items":{"$ref":"#/components/schemas/OpenOrderJson"},"description":"A list containing structures with information on open orders. The list\nis sorted descending by receivedTime."}},"required":["openOrders"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/OpenOrdersExample"}}}}}}}},"/openpositions":{"get":{"operationId":"getOpenPositions","tags":["Account Information"],"summary":"Get open positions","description":"This endpoint returns the size and average entry price of all open positions in Futures\ncontracts. This includes Futures contracts that have matured but have not yet been settled.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"openPositions":{"type":"array","items":{"$ref":"#/components/schemas/OpenPositionJson"},"description":"A list containing structures with information on open positions.\n\nThe list is sorted descending by fillTime."}},"required":["openPositions"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/OpenPositionsSuccessExample"},"failure":{"$ref":"#/components/examples/OpenPositionsFailureExample"}}}}}}}},"/unwindqueue":{"get":{"operationId":"getUnwindQueue","tags":["Account Information"],"summary":"Get position percentile of unwind queue","description":"This endpoint returns the percentile of the open position in case of unwinding.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"queue":{"type":"array","items":{"$ref":"#/components/schemas/UnwindQueueJson"},"description":"A list containing structures with information on open positions'\npercentile rank in the unwind/termination queue."}},"required":["queue"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/UnwindQueueExample"}}}}}}}},"/orderbook":{"get":{"operationId":"getOrderbook","tags":["Market Data"],"summary":"Get orderbook","description":"This endpoint returns the entire non-cumulative order book of currently listed Futures\ncontracts.","security":[],"parameters":[{"description":"The symbol of the Futures.","name":"symbol","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"orderBook":{"$ref":"#/components/schemas/OrderBook","description":"A structure containing lists with bid and ask prices and sizes."}},"required":["orderBook"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}},"/sendorder":{"post":{"operationId":"sendOrder","tags":["Order Management"],"summary":"Send order","description":"This endpoint allows sending a limit, stop, take profit or immediate-or-cancel order for a\ncurrently listed Futures contract.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"$ref":"#/components/parameters/AlgoId"},{"$ref":"#/components/parameters/ProcessBefore"},{"$ref":"#/components/parameters/OrderTypeQuery"},{"name":"symbol","in":"query","required":true,"schema":{"type":"string","description":"The symbol of the Futures"}},{"$ref":"#/components/parameters/OrderSideQuery"},{"name":"size","in":"query","required":true,"schema":{"type":"number","description":"The size associated with the order. Note that different Futures have different\ncontract sizes."}},{"name":"limitPrice","in":"query","schema":{"type":"number","description":"The limit price associated with the order. Note that for stop orders, limitPrice denotes the worst price at\nwhich the `stp` or `take_profit` order can get filled at. If no `limitPrice` is\nprovided the `stp` or `take_profit` order will trigger a market order. If placing a `trailing_stop` order then leave undefined."}},{"name":"stopPrice","in":"query","schema":{"type":"number","description":"The stop price associated with a stop or take profit order.\n\nRequired if orderType is `stp` or `take_profit`, but if placing a `trailing_stop` then\nleave undefined. Note that for stop orders, limitPrice denotes the worst price at\nwhich the `stp` or `take_profit` order can get filled at. If no `limitPrice` is\nprovided the `stp` or `take_profit` order will trigger a market order."}},{"name":"cliOrdId","in":"query","schema":{"type":"string","maxLength":100,"description":"The order identity that is specified from the user. It must be globally unique."}},{"name":"triggerSignal","in":"query","schema":{"type":"string","enum":["mark","index","last"],"description":"If placing a `stp`, `take_profit` or `trailing_stop`, the signal used for trigger.\n\n- `mark` - the mark price\n- `index` - the index price\n- `last` - the last executed trade"}},{"name":"reduceOnly","in":"query","schema":{"type":"boolean","description":"Set as true if you wish the order to only reduce an existing position.\n\nAny order which increases an existing position will be rejected. Default false."}},{"name":"trailingStopMaxDeviation","in":"query","schema":{"type":"number","description":"Required if the order type is `trailing_stop`. Maximum value of 50%, minimum value of 0.1% for 'PERCENT' 'maxDeviationUnit'.\n\nIs the maximum distance the trailing stop's trigger price may trail behind the\nrequested trigger signal. It defines the threshold at which the trigger price updates.","minimum":0.1,"maximum":50}},{"name":"trailingStopDeviationUnit","in":"query","schema":{"type":"string","enum":["PERCENT","QUOTE_CURRENCY"],"description":"Required if the order type is `trailing_stop`.\n\nThis defines how the trailing trigger price is calculated from the requested trigger\nsignal. For example, if the max deviation is set to 10, the unit is 'PERCENT', and the\nunderlying order is a sell, then the trigger price will never be more then 10% below\nthe trigger signal. Similarly, if the deviation is 100, the unit is 'QUOTE_CURRENCY',\nthe underlying order is a sell, and the contract is quoted in USD, then the trigger\nprice will never be more than $100 below the trigger signal."}},{"name":"limitPriceOffsetValue","in":"query","schema":{"type":"number","description":"Can only be set for triggers, e.g. order types `take_profit`, `stop` and `trailing_stop`.\nIf set, `limitPriceOffsetUnit` must be set as well.\nThis defines a relative limit price depending on the trigger `stopPrice`. The price is determined\nwhen the trigger is activated by the `triggerSignal`. The offset can be positive or negative, there\nmight be restrictions on the value depending on the `limitPriceOffsetUnit`."}},{"name":"limitPriceOffsetUnit","in":"query","schema":{"type":"string","enum":["QUOTE_CURRENCY","PERCENT"],"description":"Can only be set together with `limitPriceOffsetValue`.\nThis defines the unit for the relative limit price distance from the trigger's `stopPrice`."}},{"name":"broker","in":"query","schema":{"type":"string","format":"iiban","description":"Valid Broker IIBAN on whose behalf the order is sent. The format must follow the\nusual IIBAN pattern `XXXX YYYY ZZZZ WWWW` or machine pattern `XXXXYYYYZZZZWWWW`.\n\nNote: This is currently available exclusively in the Kraken pre-prod environments."}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"sendStatus":{"$ref":"#/components/schemas/SendOrderJson","description":"A structure containing information on the send order request."}},"required":["sendStatus"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"placed":{"$ref":"#/components/examples/PlacedOrderExample"},"rejected":{"$ref":"#/components/examples/RejectedOrderExample"},"executed":{"$ref":"#/components/examples/ExecutedOrderExample"}}}}}}}},"/subaccount/{subaccountUid}/trading-enabled":{"parameters":[{"name":"subaccountUid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"get":{"operationId":"getSubaccountTradingCapability","tags":["Subaccounts"],"summary":"Check subaccount trading status","description":"Returns trading capability info for given subaccount.","security":[{"general-api-key":[],"authent":[]}],"responses":{"200":{"description":"Trading enabled status.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SubaccountEnabledJson"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"The account or subaccount could not be found"}}},"put":{"operationId":"updateSubaccountTradingCapability","tags":["Subaccounts"],"summary":"Update subaccount trading status","description":"Updates trading capabilities for given subaccount.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"name":"tradingEnabled","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Trading was successfully enabled/disabled.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SubaccountEnabledJson"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"The account or subaccount could not be found"}}}},"/subaccounts":{"get":{"operationId":"listSubaccounts","tags":["Subaccounts"],"summary":"Get subaccounts","description":"Return information about subaccounts, including balances and UIDs.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"masterAccountUid":{"type":"string","description":"Master account UID"},"subaccounts":{"type":"array","items":{"$ref":"#/components/schemas/SubAccount"},"description":"The sub-accounts."}},"required":["masterAccountUid","subaccounts"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"cfSuccess":{"$ref":"#/components/examples/SubaccountsExample"},"kfSuccess":{"$ref":"#/components/examples/SubaccountsWithFlexExample"}}}}}}}},"/tickers":{"get":{"operationId":"getTickers","tags":["Market Data"],"summary":"Get tickers","description":"This endpoint returns current market data for all currently listed Futures contracts and\nindices.","security":[],"parameters":[{"$ref":"#/components/parameters/ContractTypesQuery"},{"$ref":"#/components/parameters/SymbolsQuery"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"tickers":{"type":"array","items":{"$ref":"#/components/schemas/AnyTicker"},"description":"A list containing a structures for each available instrument. The list\nis in no particular order."}},"required":["tickers"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/TickersExample"}}}}}}}},"/tickers/{symbol}":{"parameters":[{"$ref":"#/components/parameters/MarketSymbolPath"}],"get":{"operationId":"getTicker","tags":["Market Data"],"summary":"Get ticker by symbol","description":"Get market data for contract or index by symbol","security":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"ticker":{"type":"object","$ref":"#/components/schemas/AnyTicker"}},"required":["ticker"]},{"$ref":"#/components/schemas/SuccessResponse"}]},"examples":{"success":{"$ref":"#/components/examples/TickerExample"}}}}},"404":{"description":"Contract could not be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/transfer":{"post":{"operationId":"transfer","tags":["Transfers"],"summary":"Initiate wallet transfer","description":"This endpoint allows you to transfer funds between two margin accounts with the same\ncollateral currency, or between a margin account and your cash account.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"The wallet (cash or margin account) from which funds should be debited","name":"fromAccount","in":"query","required":true,"schema":{"type":"string","example":"fi_ethusd"}},{"description":"The wallet (cash or margin account) to which funds should be credited","name":"toAccount","in":"query","required":true,"schema":{"type":"string","example":"flex"}},{"description":"The currency unit to transfer","name":"unit","in":"query","required":true,"schema":{"type":"string","example":"eth"}},{"description":"The amount to transfer","name":"amount","in":"query","required":true,"schema":{"type":"number","format":"decimal","exclusiveMinimum":0,"example":0.1}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}},"/transfer/subaccount":{"post":{"operationId":"subAccountTransfer","tags":["Transfers"],"summary":"Initiate sub account transfer","description":"This endpoint allows you to transfer funds between the current account and a sub account,\nbetween two margin accounts with the same collateral currency, or between a margin account\nand your cash account.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"The user account (this or a sub account) from which funds should be debited","name":"fromUser","in":"query","required":true,"schema":{"type":"string"}},{"description":"The user account (this or a sub account) to which funds should be credited","name":"toUser","in":"query","required":true,"schema":{"type":"string"}},{"description":"The wallet (cash or margin account) from which funds should be debited","name":"fromAccount","in":"query","required":true,"schema":{"type":"string"}},{"description":"The wallet (cash or margin account) to which funds should be credited","name":"toAccount","in":"query","required":true,"schema":{"type":"string"}},{"description":"The currency unit to transfer","name":"unit","in":"query","required":true,"schema":{"type":"string"}},{"description":"The amount to transfer","name":"amount","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SuccessResponse"},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"$ref":"#/components/examples/SuccessExample"},"failure":{"$ref":"#/components/examples/TransferSubaccountFailureExample"}}}}}}}},"/transfers":{"get":{"operationId":"getTransfers","tags":["Transfers"],"summary":"List deposits and withdrawals (transfers)","description":"This endpoint returns information on digital asset deposits and withdrawals to and from an\naccount.","security":[{"general-api-key-read-only":[],"authent":[]}],"parameters":[{"name":"lastTransferTime","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"string"}}}}},"x-internalOnly":true}},"/withdrawal":{"post":{"operationId":"withdrawal","tags":["Transfers"],"summary":"Initiate withdrawal to Spot wallet","description":"This endpoint allows you to request to withdraw digital assets to your Kraken Spot wallet.\n\nWallet names can be found in the 'accounts' structure in the Get Wallets /accounts response.","security":[{"withdrawal-api-key":[],"authent":[]}],"parameters":[{"description":"The digital asset that shall be withdrawn back to spot wallet.","name":"currency","in":"query","required":true,"schema":{"type":"string","example":"eth"}},{"description":"The amount of currency that shall be withdrawn back to spot wallet.","name":"amount","in":"query","required":true,"schema":{"type":"number","format":"decimal","exclusiveMinimum":0,"example":0.1}},{"description":"The wallet from which the funds shall be withdrawn back to spot wallet. Default is\n\"cash\" wallet.","name":"sourceWallet","in":"query","required":false,"schema":{"type":"string","example":"flex"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/WithdrawalResponse"},{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"success":{"value":{"uid":"9053db5f-0d5e-48dd-b606-a5c92576b706","result":"success","serverTime":"2022-06-28T14:48:58.711Z"}},"failure":{"$ref":"#/components/examples/WithdrawalFailureExample"}}}}}}}},"/assignmentprogram/current":{"get":{"operationId":"getAssignmentProgramCurrent","tags":["Assignment Program"],"summary":"List assignment programs","description":"This endpoint returns information on currently active assignment programs","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"participants":{"type":"array","items":{"$ref":"#/components/schemas/AssignmentParticipantDetails"}}},"required":["participants"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}},"/assignmentprogram/add":{"post":{"operationId":"addAssignmentProgram","tags":["Assignment Program"],"summary":"Add assignment preference","description":"This endpoint adds an assignment program preference","security":[{"general-api-key-read-only":[],"authent":[]}],"parameters":[{"description":"Type of contract for the assignment program preference. Options can be found in the 'accounts' structure in the Get Wallets /accounts response","name":"contractType","in":"query","required":true,"schema":{"type":"string"}},{"description":"A specific contract for this assignment program preference. Required for \"flex\" contracts if base/quote currencies are not included.","name":"contract","in":"query","required":false,"schema":{"type":"string"},"x-kfOnly":true},{"description":"The maximum size for an assignment","name":"maxSize","in":"query","required":false,"schema":{"type":"number"}},{"description":"The maximum position","name":"maxPosition","in":"query","required":false,"schema":{"type":"number"}},{"description":"Accept to take long positions","name":"acceptLong","in":"query","required":true,"schema":{"type":"boolean"}},{"description":"Accept to take short positions","name":"acceptShort","in":"query","required":true,"schema":{"type":"boolean"}},{"description":"When is the program preference valid","name":"timeFrame","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AssignmentPreferenceTimeFrame"}},{"description":"enabled assignment","name":"enabled","in":"query","required":true,"schema":{"type":"boolean"}},{"description":"If creating a currency pair level assignment participant, this specifies the base currency. \\\nMust be specified alongside the quote currency.","name":"baseCurrency","in":"query","required":false,"schema":{"type":"string"},"x-internalOnly":true},{"description":"If creating a currency pair level assignment participant, this specifies the quote currency. \\\nMust be specified alongside the base currency.","name":"quoteCurrency","in":"query","required":false,"schema":{"type":"string"},"x-internalOnly":true},{"description":"Specify max open position notional for wallet type","name":"cashAccountOpenPositionMaxNotional","in":"query","required":false,"schema":{"type":"number"},"x-internalOnly":true,"x-kfOnly":true}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"$ref":"#/components/schemas/AssignmentParticipantDetails"},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}},"/assignmentprogram/delete":{"post":{"operationId":"deleteAssignmentProgram","tags":["Assignment Program"],"summary":"Deletes assignment preference","description":"This endpoint deletes an assignment program preference","security":[{"general-api-key-read-only":[],"authent":[]}],"parameters":[{"description":"Id of program to delete","name":"id","in":"query","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"$ref":"#/components/schemas/AssignmentParticipantDetails"},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}},"/assignmentprogram/history":{"get":{"operationId":"getAssignmentProgramHistory","tags":["Assignment Program"],"summary":"List assignment preferences history","description":"This endpoint returns information on assignment program preferences change history","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"participants":{"type":"array","items":{"$ref":"#/components/schemas/AssignmentParticipantHistoryJson"}}},"required":["participants"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}},"/orders/status":{"post":{"operationId":"getOrderStatus","tags":["Order Management"],"summary":"Get Specific Orders' Status","description":"Returns information on specified orders which are open or were filled/cancelled in the last\n5 seconds.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"UIDs associated with orders or triggers.","name":"orderIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"description":"Client Order IDs associated with orders or triggers.","name":"cliOrdIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":["testOrder1","testOrder2"]}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"type":"object","properties":{"orders":{"type":"array","items":{"$ref":"#/components/schemas/OrderStatusDetailsJson"}}},"required":["orders"]},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}},"/historical-funding-rates":{"get":{"operationId":"historicalFundingRates","tags":["Historical Funding Rates"],"summary":"Historical funding rates","description":"Returns list of historical funding rates for given market.","parameters":[{"$ref":"#/components/parameters/MarketSymbolQueryRequired"}],"responses":{"200":{"description":"Historical funding rates for given market.","content":{"application/json":{"schema":{"title":"Success Response","allOf":[{"type":"object","properties":{"rates":{"description":"A list containing structures with historical funding rate information.\nThe list is sorted ascending by timestamp.","type":"array","items":{"$ref":"#/components/schemas/HistoricalFundingRateJson"}}},"required":["rates"]},{"$ref":"#/components/schemas/SuccessResponse"}]},"examples":{"success":{"$ref":"#/components/examples/HistoricalFundingRatesExample"}}}}},"400":{"description":"Symbol is invalid or does not reference a perpetual market.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/self-trade-strategy":{"get":{"operationId":"getSelfTradeStrategy","tags":["Trading Settings"],"summary":"Get self trade strategy","description":"Returns account-wide self-trade matching strategy.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"Get current self trade strategy","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"$ref":"#/components/schemas/SelfTradeStrategyJson"},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}},"put":{"operationId":"setSelfTradeStrategy","tags":["Trading Settings"],"summary":"Update self trade strategy","description":"Updates account-wide self-trade matching behavior to given strategy.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"Defines self trade behaviour","name":"strategy","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SelfTradeStrategy"}}],"responses":{"200":{"description":"Self trade strategy was successfully updated","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"$ref":"#/components/schemas/SelfTradeStrategyJson"},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}},"/options-mm-greek-limits":{"get":{"operationId":"getOptionsMmGreekLimits","tags":["Trading Settings"],"summary":"Get options MM greek limits","description":"Returns the per-currency delta and vega limits configured for this\noptions market maker account, keyed by base currency (e.g. `BTC`, `ETH`).\n\nOnly accessible to master accounts with the options market maker flag\nenabled. Subaccounts are not permitted.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"Current options MM greek limits","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"$ref":"#/components/schemas/OptionsMmGreekLimitsJson"},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"403":{"description":"Account is not an options market maker, or is a subaccount.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-internalOnly":true},"put":{"operationId":"setOptionsMmGreekLimits","tags":["Trading Settings"],"summary":"Update options MM greek limits for a currency","description":"Sets the delta and/or vega limit for a single base currency on this\noptions market maker account.\n\nOnly accessible to master accounts with the options market maker flag\nenabled. Subaccounts are not permitted.\n\n`currency` is required. Each call replaces the row for that currency:\nany greek that is omitted, blank, or zero is stored as no-limit. Use\nthe DELETE method to remove a currency entry entirely (or all entries).","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"Base currency the limits apply to (e.g. `BTC`, `ETH`).","name":"currency","in":"query","required":true,"schema":{"type":"string"}},{"description":"Maximum allowed net delta exposure in this currency.\nMust be a non-negative number.","name":"deltaLimit","in":"query","required":false,"schema":{"type":"string"}},{"description":"Maximum allowed net vega exposure in this currency.\nMust be a non-negative number.","name":"vegaLimit","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Options MM greek limits were successfully updated","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"$ref":"#/components/schemas/OptionsMmGreekLimitsJson"},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"400":{"description":"A parameter is invalid: missing currency, unknown currency, or a\nnon-numeric / negative limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Account is not an options market maker, or is a subaccount.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-internalOnly":true},"delete":{"operationId":"deleteOptionsMmGreekLimits","tags":["Trading Settings"],"summary":"Delete options MM greek limits","description":"Deletes options MM greek limits. If `currency` is provided, only\nthat currency's entry is removed. Otherwise, all per-currency entries\nfor the account are removed.\n\nOnly accessible to master accounts with the options market maker flag\nenabled. Subaccounts are not permitted.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"Optional base currency to clear. If omitted, all currencies are\ncleared.","name":"currency","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Options MM greek limits were successfully deleted","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"$ref":"#/components/schemas/OptionsMmGreekLimitsJson"},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"403":{"description":"Account is not an options market maker, or is a subaccount.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-internalOnly":true}},"/portfolio-margining/parameters":{"get":{"operationId":"getPortfolioMarginingParameters","tags":["Account Information"],"summary":"Get portfolio margin parameters","description":"Retrieve current portfolio margin calculation parameters.\n\nAlso includes user specific limits related to options trading.\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"Portfolio margining parameters","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"$ref":"#/components/schemas/PortfolioMarginingParameters"},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}]}},"/portfolio-margining/simulate":{"post":{"operationId":"simulatePortfolio","tags":["Account Information"],"summary":"Calculate portfolio margin, pnl and greeks","description":"For a given portfolio of balances and positions (futures and options), calculate the\nmargin requirements, pnl and option greeks.\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","security":[{"general-api-key-read-only":[],"authent":[]}],"parameters":[{"description":"Request body as a JSON string","name":"json","in":"query","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortfolioSimulationRequest"}}}}],"responses":{"200":{"description":"Simulated portfolio calculations","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"$ref":"#/components/schemas/PortfolioSimulationResponse"},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}]}},"/portfolio-margining/simulate-iv":{"post":{"operationId":"simulateIv","tags":["Account Information"],"summary":"Calculate the IV for options at a specific price","description":"Calculate the IV for a list of options at a specific price\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","security":[{"general-api-key-read-only":[],"authent":[]}],"parameters":[{"description":"Request body as a JSON string","name":"json","in":"query","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimulateIvRequest"}}}}],"responses":{"200":{"description":"Simulated portfolio calculations","content":{"application/json":{"schema":{"oneOf":[{"title":"Success Response","allOf":[{"$ref":"#/components/schemas/SimulateIvResponse"},{"$ref":"#/components/schemas/SuccessResponse"}]},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}],"x-internalOnly":true}},"/rfqs":{"get":{"operationId":"getOpenRfqs","tags":["RFQs"],"summary":"List all open RFQs","description":"Retrieve all currently open RFQs\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","responses":{"200":{"description":"All open RFQs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenRfqsResponse"}}}},"404":{"description":"RFQ feature is not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}]}},"/rfqs/{rfqUid}":{"get":{"operationId":"getRfq","tags":["RFQs"],"summary":"Retrieve a single RFQ (open or recently closed)","description":"Retrieve a specific RFQ by its unique identifier. Returns currently open RFQs as well as\nrecently closed RFQs that are still held in the in-memory closed-RFQ cache. The `status`\nfield on the response distinguishes the lifecycle state (`open`, `expired`, `cancelled`,\n`filled_bid_side`, or `filled_ask_side`).\n\nClosed RFQs are kept in memory only and are not persisted; entries may be evicted by the\ncache eviction policy or wiped on service restart.\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","parameters":[{"description":"Unique identifier for the RFQ","name":"rfqUid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"A single open RFQ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenRfqResponse"}}}},"404":{"description":"RFQ feature is not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}]}},"/rfqs/open-offers":{"get":{"operationId":"getOpenRfqOffers","tags":["RFQs"],"summary":"List open offers on open RFQs","description":"Retrieve all open offers for the account on currently open RFQs\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"Open Offers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenRfqOffersResponse"}}}},"404":{"description":"RFQ feature is not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}]}},"/rfqs/closed-offers":{"get":{"operationId":"getClosedRfqOffers","tags":["RFQs"],"summary":"List offers placed by the account on closed RFQs","description":"Retrieve all offers the account placed on RFQs that have since closed. The `status` field\non each offer indicates how the parent RFQ closed (`expired`, `cancelled`,\n`filled_bid_side`, or `filled_ask_side`).\n\nClosed RFQs are tracked in an in-memory cache only and are not persisted; offers may be\nevicted by the cache eviction policy or wiped on service restart.\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"Closed Offers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenRfqOffersResponse"}}}},"404":{"description":"RFQ feature is not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}]}},"/rfqs/place-offer/{rfqUid}":{"post":{"operationId":"placeRfqOffer","tags":["RFQs"],"summary":"Place new offer on an open RFQ","description":"Place a new offer on the specified open RFQ. At least one of bid or ask must be provided.\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"Unique identifier for the RFQ","name":"rfqUid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"description":"The bid price in USD","name":"bid","in":"query","required":false,"schema":{"$ref":"#/components/schemas/DecimalString"}},{"description":"The ask price in USD","name":"ask","in":"query","required":false,"schema":{"$ref":"#/components/schemas/DecimalString"}},{"description":"JSON-encoded per-leg bid pricing. Format: `[{\"tradeable\": \"PI_XBTUSD\", \"price\": 100}]`.\nWhen provided, bid/ask query params must be omitted.","name":"bidSide","in":"query","required":false,"schema":{"type":"string"}},{"description":"JSON-encoded per-leg ask pricing. Format: `[{\"tradeable\": \"PI_XBTUSD\", \"price\": 101}]`.\nWhen provided, bid/ask query params must be omitted.","name":"askSide","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Placed bid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RfqOfferPlacementResponse"}}}},"404":{"description":"RFQ feature is not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}]}},"/rfqs/cancel-offer/{rfqUid}":{"delete":{"operationId":"cancelRfqOffer","tags":["RFQs"],"summary":"Cancel open offer on open RFQ","description":"Cancel the current open offer on the specified open RFQ.\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"Unique identifier for the RFQ","name":"rfqUid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"description":"Unique identifier for the offer to cancel","name":"offerUid","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RfqOfferCancellationResponse"}}}},"404":{"description":"RFQ feature is not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}]}},"/rfqs/open-rfqs":{"get":{"operationId":"getOpenRfqsForAccount","tags":["RFQs"],"summary":"List open RFQs for account","description":"Retrieve all currently open RFQs created by the authenticated account.\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","security":[{"general-api-key-read-only":[],"authent":[]}],"responses":{"200":{"description":"Open RFQs for account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenRfqsForAccountResponse"}}}},"404":{"description":"RFQ feature is not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}]},"post":{"operationId":"createUserRfq","tags":["RFQs"],"summary":"Create a new RFQ","description":"Create a new RFQ for the authenticated account.\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"JSON-encoded RFQ creation request.","name":"json","in":"query","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RfqCreationRequest"}}}}],"responses":{"200":{"description":"RFQ creation result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RfqCreationResponse"}}}},"404":{"description":"RFQ feature is not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}]}},"/rfqs/open-rfqs/{rfqUid}":{"delete":{"operationId":"cancelUserRfq","tags":["RFQs"],"summary":"Cancel an open RFQ","description":"Cancel a specific open RFQ created by the authenticated account.\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"Unique identifier for the RFQ to cancel","name":"rfqUid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"RFQ cancellation result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RfqCancellationResponse"}}}},"404":{"description":"RFQ feature is not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}]}},"/rfqs/open-rfqs/accept-offer/{rfqUid}":{"post":{"operationId":"acceptRfqOffer","tags":["RFQs"],"summary":"Accept an offer on an open RFQ","description":"Accept an offer on a specific open RFQ created by the authenticated account.\nExactly one of `bidAccepted` or `askAccepted` must be provided.\n\nNote: This is currently available exclusively in the Kraken pre-prod environments.","security":[{"general-api-key":[],"authent":[]}],"parameters":[{"description":"Unique identifier for the RFQ","name":"rfqUid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"description":"The bid price to accept in USD","name":"bidAccepted","in":"query","required":false,"schema":{"$ref":"#/components/schemas/DecimalString"}},{"description":"The ask price to accept in USD","name":"askAccepted","in":"query","required":false,"schema":{"$ref":"#/components/schemas/DecimalString"}}],"responses":{"200":{"description":"RFQ offer acceptance result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RfqOfferAcceptanceResponse"}}}},"404":{"description":"RFQ feature is not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"servers":[{"url":"https://demo-futures.kraken.com/derivatives/api/v3"}]}}},"components":{"securitySchemes":{"authent":{"type":"apiKey","description":"Authentication string","in":"header","name":"Authent","x-inlineDescription":true},"general-api-key":{"type":"apiKey","description":"General API key with **full** access","in":"header","name":"APIKey","x-inlineDescription":true},"general-api-key-read-only":{"type":"apiKey","description":"General API key with at least **read-only** access","in":"header","name":"APIKey","x-inlineDescription":true},"withdrawal-api-key":{"type":"apiKey","description":"**Withdrawal** API key with **full** access\n","in":"header","name":"APIKey","x-inlineDescription":true}},"schemas":{"Account":{"description":"Information for all margin and cash accounts","type":"object","properties":{"cash":{"$ref":"#/components/schemas/CashAccount"},"flex":{"$ref":"#/components/schemas/FlexBalanceSummary","description":"Structure showing multi-collateral wallet details."}},"required":["cash","flex"],"additionalProperties":{"$ref":"#/components/schemas/MarginAccount"}},"AnyTicker":{"oneOf":[{"$ref":"#/components/schemas/MarketTicker"},{"$ref":"#/components/schemas/IndexTicker"}]},"AssignmentParticipantDetails":{"type":"object","properties":{"id":{"type":"number"},"participant":{"$ref":"#/components/schemas/AssignmentParticipantJson"}},"required":["id","participant"]},"AssignmentParticipantHistoryJson":{"type":"object","properties":{"deleted":{"type":"boolean"},"participant":{"$ref":"#/components/schemas/AssignmentParticipantJson"},"timestamp":{"$ref":"#/components/schemas/Rfc3339DateTime"}},"required":["deleted","participant"]},"AssignmentParticipantJson":{"type":"object","properties":{"contractType":{"type":"string"},"contract":{"type":["string","null"]},"maxSize":{"format":"double","type":["number","null"]},"maxPosition":{"format":"double","type":["number","null"]},"acceptLong":{"type":"boolean"},"acceptShort":{"type":"boolean"},"timeFrame":{"$ref":"#/components/schemas/AssignmentPreferenceTimeFrame"},"enabled":{"type":"boolean"},"cashAccountOpenPositionMaxNotional":{"format":"double","type":["number","null"],"x-internalOnly":true},"baseCurrency":{"type":["string","null"],"x-internalOnly":true},"quoteCurrency":{"type":["string","null"],"x-internalOnly":true}},"required":["contractType","acceptLong","acceptShort","timeFrame","enabled"],"example":{"contractType":"flex","contract":"PF_BTCUSD","maxPosition":10,"maxSize":10,"acceptLong":true,"acceptShort":true,"timeFrame":"WEEKDAYS","enabled":true}},"Auxiliary":{"type":"object","properties":{"usd":{"type":"number"},"pv":{"type":"number","description":"The portfolio value of the account, in currency."},"pnl":{"type":"number","description":"The PnL of current open positions of the account, in  currency."},"af":{"type":"number","description":"The available funds of the account, in currency."},"funding":{"type":"number"}},"required":["usd","pv","pnl","af","funding"]},"BatchInstructionResult":{"type":"object","properties":{"cliOrdId":{"type":"string","description":"The unique client order identifier. This field is returned only if the order has a\nclient order ID."},"dateTimeReceived":{"type":["string","null"],"description":"The date and time the order was received."},"orderEvents":{"type":"array","items":{"$ref":"#/components/schemas/OrderEvent"}},"order_id":{"type":["string","null"],"description":"The unique identifier of the order."},"order_tag":{"type":["string","null"],"description":"The arbitrary string provided client-side when the order was sent for the purpose of\nmapping order sending instructions to the API's response."},"status":{"type":"string","enum":["placed","edited","cancelled","invalidOrderType","invalidSide","invalidSize","invalidPrice","insufficientAvailableFunds","selfFill","tooManySmallOrders","marketSuspended","marketInactive","clientOrderIdAlreadyExist","clientOrderIdTooLong","outsidePriceCollar","postWouldExecute","iocWouldNotExecute"],"description":"The status of the order:\n\n- `placed` - the order was placed successfully\n- `cancelled` - the order was cancelled successfully\n- `invalidOrderType` - the order was not placed because orderType is invalid\n- `invalidSide` - the order was not placed because side is invalid\n- `invalidSize` - the order was not placed because size is invalid\n- `invalidPrice` - the order was not placed because limitPrice and/or stopPrice are invalid\n- `insufficientAvailableFunds` - the order was not placed because available funds are insufficient\n- `selfFill` - the order was not placed because it would be filled against an existing order belonging to the same account\n- `tooManySmallOrders` - the order was not placed because the number of small open orders would exceed the permissible limit\n- `marketSuspended` - the order was not placed because the market is suspended\n- `marketInactive` - the order was not placed because the market is inactive\n- `clientOrderIdAlreadyExist` - the specified client ID already exist\n- `clientOrderIdTooLong` - the client ID is longer than the permissible limit\n- `outsidePriceCollar` - the limit order crosses the spread but is an order of magnitude away from the mark price - fat finger control\n- `postWouldExecute` - the post-only order would be filled upon placement, thus is  cancelled\n- `iocWouldNotExecute` - the immediate-or-cancel order would not execute"}},"required":["status","orderEvents"]},"BatchOrderCancel":{"example":{"order":"cancel","order_id":"e35d61dd-8a30-4d5f-a574-b5593ef0c050"},"allOf":[{"type":"object","properties":{"order":{"description":"Always `cancel`.","type":"string","enum":["cancel"]}},"required":["order"]},{"$ref":"#/components/schemas/CancelInstruction"}]},"BatchOrderEdit":{"allOf":[{"$ref":"#/components/schemas/OrderIdElement"},{"type":"object","properties":{"order":{"type":"string","description":"Always `edit`.","enum":["edit"]},"size":{"type":"number","description":"The size associated with the order."},"limitPrice":{"type":"number","description":"The limit price associated with the order."},"stopPrice":{"type":"number","description":"The stop price associated with a stop order. Required if old orderType is stp.\n\nNote that for `stp` orders, `limitPrice` is also required and denotes the worst\nprice at which the stp order can get filled."},"trailingStopMaxDeviation":{"type":"number","description":"Only relevant for trailing stop orders. Maximum value of 50%, minimum value of 0.1%\nfor 'PERCENT' 'maxDeviationUnit'.\n\nIs the maximum distance the trailing stop's trigger price may trail behind the\nrequested trigger signal. It defines the threshold at which the trigger price\nupdates.","minimum":0.1,"maximum":50},"trailingStopDeviationUnit":{"type":"string","enum":["PERCENT","QUOTE_CURRENCY"],"description":"Only relevant for trailing stop orders.\n\nThis defines how the trailing trigger price is calculated from the requested trigger\nsignal. For example, if the max deviation is set to 10, the unit is 'PERCENT', and\nthe underlying order is a sell, then the trigger price will never be more then 10%\nbelow the trigger signal. Similarly, if the deviation is 100, the unit is\n'QUOTE_CURRENCY', the underlying order is a sell, and the contract is quoted in USD,\nthen the trigger price will never be more than $100 below the trigger signal."},"qtyMode":{"type":"string","enum":["ABSOLUTE","RELATIVE"],"description":"Determines how the updated size is interpreted, defaulting to 'RELATIVE'.\n\n'ABSOLUTE' means that the total order size, including past fills, is set to `size`.\n'RELATIVE' means that the current open order size is set to `size`."}}}]},"BatchOrderSend":{"type":"object","required":["symbol","order_tag","side","size","orderType"],"properties":{"order":{"type":"string","description":"Always `send`.","enum":["send"]},"order_tag":{"type":"string","description":"An arbitrary string provided client-side to tag the order for the purpose of\nmapping order sending instructions to the API's response."},"orderType":{"$ref":"#/components/schemas/OrderType"},"symbol":{"type":"string","description":"The symbol of the Futures."},"side":{"$ref":"#/components/schemas/OrderDirection"},"size":{"type":"number","description":"The size associated with the order."},"limitPrice":{"type":"number","description":"The limit price associated with the order. If placing a `trailing_stop` order then leave\nundefined."},"stopPrice":{"type":"number","description":"The stop price associated with a stop order. Required if `orderType` is `stp`.\nNote that for `stp` orders, `limitPrice` is also required and denotes the worst price at\nwhich the `stp` order can get filled"},"cliOrdId":{"type":"string","description":"The order identity that is specified from the user. It must be globally unique.","maxLength":100},"triggerSignal":{"type":"string","enum":["mark","index","last"]},"reduceOnly":{"type":"boolean","description":"Set as 'true' if you wish the order to only reduce an existing position. Any order which\nincreases an existing position will be rejected. Default 'false'.","default":false},"trailingStopMaxDeviation":{"type":"number","description":"Required if the order type is `trailing_stop`.\n\nIs the maximum distance the trailing stop's trigger price may trail behind the requested trigger signal.\nIt defines the threshold at which the trigger price updates."},"trailingStopDeviationUnit":{"type":"string","enum":["PERCENT","QUOTE_CURRENCY"],"description":"Required if the order type is `trailing_stop`.\n\nThis defines how the trailing trigger price is calculated from the requested trigger\nsignal. For example, if the max deviation is set to 10, the unit is 'PERCENT', and the\nunderlying order is a sell, then the trigger price will never be more then 10% below the\ntrigger signal. Similarly, if the deviation is 100, the unit is 'QUOTE_CURRENCY', the\nunderlying order is a sell, and the contract is quoted in USD, then the trigger price\nwill never be more than $100 below the trigger signal."}},"example":{"order":"send","order_tag":"1","orderType":"lmt","symbol":"PI_XBTUSD","side":"buy","size":1,"limitPrice":1,"cliOrdId":"my_another_client_id"}},"CachedOrderJson":{"type":"object","properties":{"type":{"type":"string","enum":["TRIGGER_ORDER","ORDER"]},"orderId":{"type":"string","format":"uuid"},"cliOrdId":{"type":["string","null"]},"symbol":{"type":"string"},"side":{"type":"string"},"quantity":{"type":["number","null"]},"filled":{"type":["number","null"]},"limitPrice":{"type":["number","null"]},"reduceOnly":{"type":"boolean"},"timestamp":{"type":"string"},"lastUpdateTimestamp":{"type":"string"},"algoId":{"type":["string","null"],"description":"ID of the algorithm that placed the order.","x-cfOnly":true},"priceTriggerOptions":{"oneOf":[{"$ref":"#/components/schemas/TriggerOptions"},{"type":"null"}]},"triggerTime":{"type":["string","null"]}},"required":["type","orderId","cliOrdId","symbol","side","quantity","filled","limitPrice","reduceOnly","timestamp","lastUpdateTimestamp","algoId","priceTriggerOptions","triggerTime"]},"CancelAllOrdersStatusJson":{"type":"object","properties":{"cancelOnly":{"type":"string","description":"The symbol of the futures or all."},"cancelledOrders":{"type":"array","items":{"$ref":"#/components/schemas/OrderIdElement"},"description":"A list of structures containing all the successfully cancelled orders."},"orderEvents":{"type":"array","items":{"$ref":"#/components/schemas/CancelEvent"}},"receivedTime":{"type":"string","description":"The date and time the order cancellation was received."},"status":{"type":"string","enum":["noOrdersToCancel","cancelled"],"description":"The status of the order cancellation:\n\n- `cancelled` - successful cancellation\n- `noOrdersToCancel` - no open orders for cancellation"}},"required":["cancelOnly","cancelledOrders","orderEvents","receivedTime","status"]},"CancelEvent":{"type":"object","properties":{"type":{"description":"Always `CANCEL`.","type":"string","enum":["CANCEL"]},"uid":{"type":"string","description":"The UID associated with the order."},"order":{"oneOf":[{"$ref":"#/components/schemas/OrderJson","description":"The cancelled order."},{"type":"null"}]}},"required":["type","uid","order"]},"CancelInstruction":{"type":"object","description":"Provide either `order_id` or `cliOrdId`.","properties":{"order_id":{"description":"Order ID.","type":"string","format":"uuid"},"cliOrdId":{"description":"Unique client order identifier.","type":"string","maxLength":100}}},"CancelOrderStatusJson":{"type":"object","properties":{"cliOrdId":{"type":["string","null"],"description":"The client order ID. Shown only if client specified one."},"orderEvents":{"type":"array","items":{"$ref":"#/components/schemas/OrderEvent"}},"order_id":{"type":"string","format":"uuid","description":"The cancelled order UID"},"receivedTime":{"type":"string","description":"The date and time the order cancellation was received."},"status":{"type":"string","enum":["cancelled","filled","notFound"],"description":"The status of the order cancellation:\n\n- `cancelled` - The order has been cancelled. This may only be part of the order as part may have been filled. Check open_orders websocket feed for status of the order.\n- `filled` - The order was found completely filled and could not be cancelled\n- `notFound` - The order was not found, either because it had already been cancelled or it never existed"}},"required":["status"]},"CancelTriggerEvent":{"type":"object","properties":{"type":{"description":"Always `CANCEL`.","type":"string","enum":["CANCEL"]},"uid":{"type":"string"},"orderTrigger":{"oneOf":[{"$ref":"#/components/schemas/OrderTriggerJson"},{"type":"null"}]}},"required":["type","uid","orderTrigger"]},"CashAccount":{"type":"object","properties":{"type":{"type":"string","enum":["cashAccount"],"description":"The type of the account (always \"cashAccount\")."},"balances":{"$ref":"#/components/schemas/CashAccountBalances","description":"A structure containing account balances."}},"required":["type","balances"]},"CashAccountBalances":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DecimalString"}},"DeadManSwitchStatusJson":{"type":"object","properties":{"currentTime":{"type":"string","description":"The server date and time that server received the request."},"triggerTime":{"type":"string","description":"The server date and time that the switch will be activated."}},"required":["currentTime","triggerTime"]},"EditEvent":{"type":"object","properties":{"type":{"description":"Always `EDIT`.","type":"string","enum":["EDIT"]},"old":{"$ref":"#/components/schemas/OrderJson","description":"The order before the edit was applied."},"new":{"$ref":"#/components/schemas/OrderJson","description":"The order after the edit was applied."},"reducedQuantity":{"type":["number","null"],"description":"The amount of quantity that was removed from the edited order or null if the order is\nnot a reduce only."}},"required":["type","old","new","reducedQuantity"]},"EditOrderStatus":{"type":"object","properties":{"orderId":{"type":["string","null"],"description":"The unique identifier of the order"},"cliOrdId":{"type":["string","null"],"description":"The unique client order identifier.\n\nThis field is returned only if the order has a client order ID."},"orderEvents":{"type":"array","items":{"$ref":"#/components/schemas/OrderEvent"}},"receivedTime":{"type":["string","null"],"description":"The date and time the order was received"},"status":{"type":"string","enum":["edited","invalidSize","invalidPrice","insufficientAvailableFunds","selfFill","tooManySmallOrders","outsidePriceCollar","postWouldExecute","wouldNotReducePosition","orderForEditNotFound","orderForEditNotAStop"],"description":"The status of the order, either of:\n\n- `edited` - The order was edited successfully\n- `invalidSize` - The order was not placed because size is invalid\n- `invalidPrice` - The order was not placed because limitPrice and/or stopPrice are invalid\n- `insufficientAvailableFunds` - The order was not placed because available funds are insufficient\n- `selfFill` - The order was not placed because it would be filled against an existing order belonging to the same account\n- `tooManySmallOrders` - The order was not placed because the number of small open orders would exceed the permissible limit\n- `outsidePriceCollar` - The limit order crosses the spread but is an order of magnitude away from the mark price - fat finger control\n- `postWouldExecute` - The post-only order would be filled upon placement, thus is cancelled\n- `wouldNotReducePosition` - The edit cannot be applied because the reduce only policy is violated. (Only for reduceOnly orders)\n- `orderForEditNotFound` - The requested order for edit has not been found\n- `orderForEditNotAStop` - The supplied stopPrice cannot be applied because order is not a stop order"}},"required":["status","orderEvents"]},"Error":{"type":"string","description":"Error description.\n\n  - `accountInactive`: The Futures account the request refers to is inactive\n  - `apiLimitExceeded`: The API limit for the calling IP address has been exceeded\n  - `authenticationError`: The request could not be authenticated\n  - `insufficientFunds`: The amount requested for transfer is below the amount of funds available\n  - `invalidAccount`: The Futures account the transfer request refers to is invalid\n  - `invalidAmount`: The amount the transfer request refers to is invalid\n  - `invalidArgument`: One or more arguments provided are invalid\n  - `invalidUnit`: The unit the transfer request refers to is invalid\n  - `Json Parse Error`: The request failed to pass valid JSON as an argument\n  - `marketUnavailable`: The market is currently unavailable\n  - `nonceBelowThreshold`: The provided nonce is below the threshold\n  - `nonceDuplicate`: The provided nonce is a duplicate as it has been used in a previous request\n  - `notFound`: The requested information could not be found\n  - `requiredArgumentMissing`: One or more required arguments are missing\n  - `Server Error`: There was an error processing the request\n  - `Unavailable`: The endpoint being called is unavailable\n  - `unknownError`: An unknown error has occurred","enum":["accountInactive","apiLimitExceeded","authenticationError","insufficientFunds","invalidAccount","invalidAmount","invalidArgument","invalidUnit","Json Parse Error","marketUnavailable","nonceBelowThreshold","nonceDuplicate","notFound","requiredArgumentMissing","Server Error","Unavailable","unknownError"]},"ErrorResponse":{"allOf":[{"title":"Errors","type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}},"error":{"$ref":"#/components/schemas/Error"}},"required":["error"]},{"$ref":"#/components/schemas/ResultError"},{"$ref":"#/components/schemas/ServerTime"}]},"ExecuteEvent":{"type":"object","properties":{"type":{"description":"Always `EXECUTION`.","type":"string","enum":["EXECUTION"]},"executionId":{"type":"string","format":"uuid","description":"The UID associated with the execution."},"price":{"type":"number","description":"The price of the execution."},"amount":{"type":"number","description":"The executed amount."},"orderPriorEdit":{"oneOf":[{"$ref":"#/components/schemas/OrderJson","description":"The order before the edit was applied (if the execution is a result of an order\nedit)."},{"type":"null"}]},"orderPriorExecution":{"$ref":"#/components/schemas/OrderJson","description":"The order before it executes."},"takerReducedQuantity":{"type":["number","null"],"description":"The amount of quantity that was removed from the order before execution or null if the\norder is not a reduce only."}},"required":["type","executionId","price","amount","orderPriorEdit","orderPriorExecution","takerReducedQuantity"]},"FeeSchedule":{"type":"object","deprecated":true,"description":"**DEPRECATED** — Effective 2026-06-22, fee schedules are no longer\nauthoritative for fees charged on Futures trades. Futures fee\ncalculation has been migrated to a centralised Kraken fee service.\nTo determine the fee rate applied to your trades, use the Spot\n[`GetTradeVolume`](https://docs.kraken.com/api/docs/rest-api/get-trade-volume)\nendpoint authenticated with a Spot API key.","properties":{"tiers":{"type":"array","items":{"$ref":"#/components/schemas/FeeTier"},"description":"A list containing a structures for each fee tier, see below."},"name":{"type":"string","description":"Name of schedule.","example":"PGTMainFees"},"uid":{"type":"string","description":"Unique identifier of fee schedule.","example":"7fc4d7c0-464f-4029-a9bb-55856d0c5247"}},"required":["tiers","name","uid"],"example":{"uid":"7fc4d7c0-464f-4029-a9bb-55856d0c5247","name":"PGTMainFees","tiers":[{"makerFee":0.02,"takerFee":0.05,"usdVolume":0},{"makerFee":0.015,"takerFee":0.04,"usdVolume":100000},{"makerFee":0.0125,"takerFee":0.03,"usdVolume":1000000},{"makerFee":0.01,"takerFee":0.025,"usdVolume":5000000},{"makerFee":0.0075,"takerFee":0.02,"usdVolume":10000000},{"makerFee":0.005,"takerFee":0.015,"usdVolume":20000000},{"makerFee":0.0025,"takerFee":0.0125,"usdVolume":50000000},{"makerFee":0,"takerFee":0.01,"usdVolume":100000000}]}},"FeeScheduleVolumes":{"type":"object","deprecated":true,"description":"**DEPRECATED** — Effective 2026-06-22, fee schedule volumes are no\nlonger authoritative for fees charged on Futures trades. See the Spot\n[`GetTradeVolume`](https://docs.kraken.com/api/docs/rest-api/get-trade-volume)\nendpoint.\n\nThe 30-day volume for your account.","additionalProperties":{"type":"number"},"example":{"d46c2190-81e3-4370-a333-424f24387829":10,"7fc4d7c0-464f-4029-a9bb-55856d0c5247":10}},"FeeTier":{"type":"object","deprecated":true,"description":"**DEPRECATED** — Effective 2026-06-22, fee tier information is no\nlonger authoritative for fees charged on Futures trades. See the Spot\n[`GetTradeVolume`](https://docs.kraken.com/api/docs/rest-api/get-trade-volume)\nendpoint.","properties":{"makerFee":{"type":"number","description":"Percentage value of maker fee in the tier.","example":0.015},"takerFee":{"type":"number","description":"Percentage value of taker fee in the tier.","example":0.04},"usdVolume":{"type":"number","description":"Minimum 30-day USD volume for fee tier to be applicable.","example":100000}},"required":["makerFee","takerFee","usdVolume"]},"FillJson":{"type":"object","properties":{"cliOrdId":{"type":["string","null"],"description":"The unique client order identifier.\n\nThis field is returned only if the order has a client order ID."},"fillTime":{"type":"string","description":"The date and time the order was filled.","example":"2021-11-18T02:39:41.826Z"},"fillType":{"type":"string","enum":["maker","taker","liquidation","partialLiquidation","assignor","assignee","takerAfterEdit","unwindBankrupt","unwindCounterparty"],"description":"The classification of the fill:\n\n- `maker` - user has a limit order that gets filled\n- `taker` - the user makes an execution that crosses the spread\n- `liquidation` - execution is result of a liquidation\n- `partialLiquidation` - execution is part of a partial liquidation to gradually reduce a position before full liquidation\n- `assignee` - execution is a result of a counterparty receiving an Assignment in PAS\n- `assignor` - execution is a result of user assigning their position due to failed liquidation","example":"maker"},"fill_id":{"type":"string","format":"uuid","description":"The unique identifier of the fill. Note that several `fill_id` can pertain to one\n`order_id` (but not vice versa)"},"order_id":{"type":"string","format":"uuid","description":"The unique identifier of the order."},"price":{"type":"number","description":"The price of the fill.","example":47000},"side":{"type":"string","enum":["buy","sell"],"description":"The direction of the order.","example":"buy"},"size":{"type":"number","description":"The size of the fill.","example":10},"symbol":{"type":"string","description":"The symbol of the futures the fill occurred in.","example":"PI_XBTUSD"},"realized_pnl":{"type":["number","null"],"description":"Realised PnL for this fill, signed from the requesting account's perspective\n(positive = gain, negative = loss). `0` when the fill opens or increases a position.\n\nNull when the fill was recorded before this field was introduced, or when the request\nuses `lastFillTime` (the historical query path does not currently carry realised PnL).","example":12.5}},"required":["fill_id","symbol","side","order_id","size","price","fillTime","fillType"],"example":{"fill_id":"98e3deeb-0385-4b25-b15e-7e8453512cb2","fillTime":"2021-11-18T02:39:41.826Z","fillType":"maker","order_id":"06b9d509-965c-4788-b317-0e5ca11d56fb","price":47000,"side":"buy","size":10,"symbol":"PI_XBTUSD","realized_pnl":12.5}},"FlexAccountBalance":{"x-kfOnly":true,"type":"object","properties":{"currencies":{"type":"array","items":{"$ref":"#/components/schemas/FlexCurrencyBalance"}},"initialMargin":{"type":"number","description":"The total initial margin for the multi-collateral account in USD."},"initialMarginWithOrders":{"type":"number","description":"The total initial margin of open positions without the margin held by open orders for\nthe multi-collateral account in USD."},"maintenanceMargin":{"type":"number","description":"The total maintenance margin for the multi-collateral account in USD."},"balanceValue":{"type":"number","description":"The total balance value for the multi-collateral account in USD."},"portfolioValue":{"type":"number","description":"The total value of the portfolio in USD (Balance Value + Total Unrealised Profit/Loss)."},"collateralValue":{"type":"number","description":"The USD value of balances in account usable for margin [(Balance Value * (1-Haircut)]."},"pnl":{"type":"number","description":"The unrealised pnl for the multi-collateral account."},"unrealizedFunding":{"type":"number","description":"The total unrealised funding for the multi-collateral account in USD."},"totalUnrealized":{"type":"number","description":"Total unrealised Profit/Loss and unrealised funding of open positions in USD `(Unrealised\nPosition(s) Profit/Loss + Unrealised Funding Rate Profit/Loss) * USD rate`."},"totalUnrealizedAsMargin":{"type":"number","description":"Unrealised Profit/Loss and unrealised funding that is usable as margin `(Unrealised\nProfit/Loss + Unrealised Funding Rate) * Haircut - Conversion Fee`."},"availableMargin":{"type":"number","description":"Account-wide margin available to create new orders (Margin Equity - Total Initial\nMargin)."},"marginEquity":{"type":"number","description":"The Balance Value multiplied by the dollar rate and with haircuts applied to non-USD currencies, plus unrealised profit or loss as Margin.\n\n`[Balance Value in USD * (1-Haircut)] + (Total Unrealised Profit/Loss as Margin in USD)`"},"portfolioMarginBreakdown":{"$ref":"#/components/schemas/PortfolioMarginBreakdown","description":"Breakdown of portfolio margin components."}},"required":["currencies","initialMargin","initialMarginWithOrders","maintenanceMargin","balanceValue","portfolioValue","collateralValue","pnl","unrealizedFunding","totalUnrealized","totalUnrealizedAsMargin","availableMargin","marginEquity"]},"FlexBalanceSummary":{"x-kfOnly":true,"type":"object","properties":{"type":{"type":"string","enum":["multiCollateralMarginAccount"],"description":"The type of the account (always multiCollateralMarginAccount)"},"currencies":{"$ref":"#/components/schemas/FlexCurrencies","description":"Structure with collateral currency details."},"initialMargin":{"type":"number","description":"Total initial margin held for open positions (USD)."},"initialMarginWithOrders":{"type":"number","description":"Total initial margin held for open positions and open orders (USD)."},"maintenanceMargin":{"type":"number","description":"Total maintenance margin held for open positions (USD)."},"balanceValue":{"type":"number","description":"USD value of all collateral in multi-collateral wallet."},"portfolioValue":{"type":"number","description":"Balance value plus unrealised PnL in USD."},"collateralValue":{"type":"number","description":"USD value of balances in account usable for margin (Balance Value * Haircut)."},"pnl":{"type":"number","description":"Unrealised PnL in USD."},"unrealizedFunding":{"type":"number","description":"Unrealised funding from funding rate (USD)."},"totalUnrealized":{"type":"number","description":"Total USD value of unrealised funding and unrealised PnL."},"totalUnrealizedAsMargin":{"type":"number","description":"Unrealised pnl and unrealised funding that is usable as margin `[(Unrealised Profit/Loss\n+ Unrealised Funding Rate) * Haircut - Conversion Fee]`."},"availableMargin":{"type":"number","description":"Margin Equity - Total Initial Margin."},"marginEquity":{"type":"number","description":"`[Balance Value in USD * (1-Haircut)] + (Total Unrealised Profit/Loss as Margin in USD)`"},"portfolioMarginBreakdown":{"$ref":"#/components/schemas/PortfolioMarginBreakdown","description":"Breakdown of portfolio margin components."},"upnlInterestRate":{"type":["number","null"],"description":"Interest rate applied to unrealized profit/loss."}},"required":["currencies","initialMargin","initialMarginWithOrders","maintenanceMargin","balanceValue","portfolioValue","collateralValue","pnl","unrealizedFunding","totalUnrealized","totalUnrealizedAsMargin","availableMargin","marginEquity"]},"FlexCurrencies":{"x-kfOnly":true,"type":"object","additionalProperties":{"$ref":"#/components/schemas/FlexCurrencySummary"}},"FlexCurrencyBalance":{"x-kfOnly":true,"type":"object","properties":{"currency":{"type":"string","description":"The name of the currency."},"quantity":{"type":"number","description":"The amount of currency in the multi-collateral account."},"value":{"type":"number","description":"The value of the currency quantity."},"collateral":{"type":"number","description":"The collateral value of the currency quantity (value * haircut)."},"available":{"type":"number","description":"The available currency (quantity - margin requirement)"}},"required":["currency","quantity","value","collateral","available"]},"FlexCurrencySummary":{"x-kfOnly":true,"type":"object","properties":{"quantity":{"type":"number","description":"Quantity of asset."},"value":{"type":"number","description":"USD value of asset."},"collateral":{"type":"number","description":"USD value of the asset usable for margin (Asset Value * Haircut)."},"available":{"type":"number","description":"Margin (in base currency) available for trading."}},"required":["quantity","value","collateral","available"]},"FutureAccountBalance":{"type":"object","properties":{"name":{"type":"string","description":"The name of the futures account as the account pair."},"availableMargin":{"type":"number","description":"The amount of currency in the holding account in the quote currency of the name pair."}},"required":["name","availableMargin"]},"HistoricalFundingRateJson":{"type":"object","properties":{"fundingRate":{"description":"The absolute funding rate for the listed time period","$ref":"#/components/schemas/DecimalDouble"},"relativeFundingRate":{"description":"The relative funding rate for the listed time period","$ref":"#/components/schemas/DecimalDouble"},"timestamp":{"description":"Start of the period to which the funding rate applies.","type":"string","format":"date-time"}},"required":["fundingRate","relativeFundingRate","timestamp"]},"HistoryJson":{"type":"object","properties":{"price":{"type":"number","description":"For futures: The price of a fill\n\nFor indices: The calculated value"},"side":{"type":"string","description":"The classification of the taker side in the matched trade: \"buy\" if the taker is a buyer, \"sell\" if the taker is a seller."},"size":{"type":"string","description":"For futures: The size of a fill\nFor indices: Not returned because N/A"},"time":{"type":"string","description":"The date and time of a trade or an index computation\n\nFor futures: The date and time of a trade. Data is not aggregated\nFor indices: The date and time of an index computation. For real-time indices, data is aggregated to the last computation of each full hour. For reference rates, data is not aggregated"},"trade_id":{"type":"integer","format":"int32","description":"For futures: A continuous index starting at 1 for the first fill in a Futures contract maturity\nFor indices: Not returned because N/A"},"type":{"type":"string","enum":["fill","liquidation","assignment","termination","block"],"description":"The classification of the matched trade in an orderbook:\n\n- `fill` - it is a normal buyer and seller\n- `liquidation` - it is a result of a user being liquidated from their position\n- `assignment` - the fill is the result of a users position being assigned to a marketmaker\n- `termination` - it is a result of a user being terminated\n- `block` - it is an element of a block trade"},"uid":{"type":"string"},"instrument_identification_type":{"type":"string"},"isin":{"type":"string"},"execution_venue":{"type":"string"},"price_notation":{"type":"string"},"price_currency":{"type":"string"},"notional_amount":{"type":"number"},"notional_currency":{"type":"string"},"publication_time":{"type":"string"},"publication_venue":{"type":"string"
[...]
