{"openapi":"3.0.0","info":{"title":"Insto Custody External REST API","version":"1.0.0","description":""},"servers":[{"url":"https://api.kraken.com","description":"Production Server"}],"security":[{"API-Key":[],"API-Sign":[]}],"tags":[{"name":"Custody External API"},{"name":"apiFormat:kraken2025"}],"paths":{"/v0/insto/custody/vaults":{"get":{"tags":["Custody External API","apiFormat:kraken2025"],"description":"Returns the vaults the authenticated user can access within an organization, each valued in the quote asset. Initiator and Reviewer API users see only the vaults they are a member of.\n\n**Rate limit:** 200 requests per 30 seconds per IP.","operationId":"getV0InstoCustodyVaults","parameters":[{"in":"query","name":"org_iiban","description":"Restrict the result set to vaults owned by the specified organization, identified by its 16-char IIBAN. Defaults to the caller's organization when omitted.","schema":{"type":"string"},"example":"ABCD EFGH IJKL MNOP","style":"form"},{"in":"query","name":"quote_asset","description":"Asset code used to value each vault's fiat balance (e.g. USD, EUR). Defaults to USD when omitted.","schema":{"type":"string"},"example":"USD","style":"form"},{"in":"query","name":"limit","description":"Maximum number of vaults to return in the page. Defaults to 100 when omitted.","schema":{"type":"integer","format":"int32"},"example":100,"style":"form"},{"in":"query","name":"offset","description":"Number of vaults to skip before the page begins, used together with `limit` for offset-based pagination. Defaults to 0 when omitted.","schema":{"type":"integer","format":"int32"},"example":0,"style":"form"},{"in":"query","name":"id","description":"Restrict the result set to the supplied vault IDs. Each value is a `V`-prefixed 14-char base32 identifier with a final check character.","schema":{"type":"array","items":{"type":"string"}},"style":"form"},{"in":"query","name":"iiban","description":"Restrict the result set to vaults whose IIBAN matches one of the supplied values. Each value is a 16-char alphanumeric IIBAN in 4x4 groups.","schema":{"type":"array","items":{"type":"string"}},"style":"form"},{"in":"query","name":"member","description":"Restrict the result set to vaults that include the supplied member(s), each identified by their 16-char user IIBAN.","schema":{"type":"array","items":{"type":"string"}},"style":"form"},{"in":"query","name":"name","description":"Filter vaults by name. Combined with `name_match` and `name_case` to control how the term is matched.","schema":{"type":"string"},"example":"My Vault 1","style":"form"},{"in":"query","name":"name_match","description":"How the `name` term is matched against vault names. One of `equals`, `starts_with`, `contains`.","schema":{"type":"string"},"example":"contains","style":"form"},{"in":"query","name":"name_case","description":"Case sensitivity of the `name` match. One of `sensitive`, `insensitive`.","schema":{"type":"string"},"example":"insensitive","style":"form"},{"in":"query","name":"default_approvals_left","description":"Lower bound (inclusive) for the vault's default required-approvals count.","schema":{"type":"integer","format":"int32"},"example":1,"style":"form"},{"in":"query","name":"default_approvals_right","description":"Upper bound (inclusive) for the vault's default required-approvals count.","schema":{"type":"integer","format":"int32"},"example":3,"style":"form"},{"in":"query","name":"created_at_from","description":"Include only vaults created at or after this RFC 3339 UTC timestamp (inclusive), e.g. 2026-01-15T12:34:56Z; the Z (UTC) offset is required.","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"example":"2026-01-15T12:34:56Z","style":"form"},{"in":"query","name":"created_at_to","description":"Include only vaults created at or before this RFC 3339 UTC timestamp (inclusive), e.g. 2026-01-15T12:34:56Z; the Z (UTC) offset is required.","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"example":"2026-01-15T12:34:56Z","style":"form"},{"in":"query","name":"updated_at_from","description":"Include only vaults last updated at or after this RFC 3339 UTC timestamp (inclusive), e.g. 2026-01-15T12:34:56Z; the Z (UTC) offset is required.","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"example":"2026-01-15T12:34:56Z","style":"form"},{"in":"query","name":"updated_at_to","description":"Include only vaults last updated at or before this RFC 3339 UTC timestamp (inclusive), e.g. 2026-01-15T12:34:56Z; the Z (UTC) offset is required.","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"example":"2026-01-15T12:34:56Z","style":"form"},{"in":"query","name":"sort","description":"Ordering as a comma-separated list of `field:direction` tokens (direction optional, defaults to `desc`). Multiple columns are applied in order. Allowed fields: `id`, `name`, `created_at`, `updated_at`. Defaults to `id:desc`.","schema":{"type":"string"},"example":"name:asc,created_at:desc","style":"form"},{"in":"query","name":"resolve_policies","description":"When set to `true`, include each vault's `otc_enabled` policy flag in the response. Omitted otherwise.","schema":{"type":"string"},"example":"true","style":"form"}],"responses":{"200":{"description":"OK. Returns the page of vaults the caller can access, with pagination total and the resolved quote asset.","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"description":"Page of vaults matching the request filters.","type":"array","items":{"type":"object","properties":{"id":{"description":"Vault identifier, a `V`-prefixed 14-char base32 string with a final check character. This is the canonical ID used in vault-scoped endpoints (the `{vault_id}` path parameter); store this to address the vault in subsequent API calls.","type":"string","example":"VW44KPQC4C62K6"},"iiban":{"description":"Vault IIBAN, 16-char alphanumeric in 4x4 groups. A funding account number for the same vault as `id`, used for deposit/withdrawal routing and references — not interchangeable with `id` in path parameters.","type":"string","example":"AA88 N84G AET3 RAOA"},"name":{"description":"Human-readable vault name.","type":"string","example":"My Vault 1"},"status":{"description":"Vault lifecycle status.","type":"string","example":"created"},"quote_value":{"description":"Total vault balance valued in the quote asset, as a fixed-precision decimal string. Null when no balance is available.","nullable":true,"type":"string","example":"1000.0000"},"quote_value_change_24h":{"description":"24h percentage change of the vault's quote-valued spot balance versus the prior day, as a percentage string (not a quote-currency amount).","type":"string","example":"1.50"},"missing_rates":{"description":"Assets the service could not price into the quote asset. Empty when every held asset was priced.","type":"array","items":{"type":"object","properties":{"asset":{"description":"Code of the asset that could not be priced.","type":"string","example":"XBT"},"asset_class":{"description":"Class of the asset that could not be priced.","type":"string","example":"currency"}},"required":["asset","asset_class"]}},"deposit_lock_rekeying_only":{"description":"Whether the vault's deposits are restricted to rekeying only. Null when not set.","nullable":true,"type":"boolean","example":false},"attributes":{"description":"Vault attribute labels (e.g. `token_vesting`).","type":"array","items":{"type":"string"},"example":["token_vesting"]},"otc_enabled":{"description":"Whether OTC trading is enabled for the vault. Present only when `resolve_policies=true`.","type":"boolean","example":true}},"required":["id","iiban","name","status","quote_value_change_24h","missing_rates","attributes"]}},"total":{"description":"Total number of vaults matching the filters, ignoring pagination.","type":"integer","format":"int32","example":1},"quote_asset":{"description":"Quote asset code used to value the fiat balances.","type":"string","example":"USD"}},"required":["result","total","quote_asset"]}}}},"400":{"description":"Bad Request. One or more query parameters failed validation.","content":{"application/problem+json":{"schema":{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:BadRequest"],"example":"tag:kraken.com,2025:BadRequest"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":400},"title":{"description":"Short human-readable summary","type":"string","example":"Bad Request"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Request failed validation."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Error-specific payload.","type":"object","properties":{"message":{"description":"Human-readable description of the validation failure.","type":"string","example":"Request failed validation."}},"required":["message"]}},"required":["data","status","title","type"]}}}},"403":{"description":"Forbidden. The caller is not authorized to list vaults for the requested organization.","content":{"application/problem+json":{"schema":{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:PermissionDenied"],"example":"tag:kraken.com,2025:PermissionDenied"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":403},"title":{"description":"Short human-readable summary","type":"string","example":"Forbidden"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"The caller is not authorized to perform this action."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Error-specific payload.","type":"object","properties":{"message":{"description":"Human-readable description of why access was denied.","type":"string","example":"Permission denied."}},"required":["message"]}},"required":["data","status","title","type"]}}}},"500":{"description":"Internal Server Error. An unhandled exception occurred while serving the request.","content":{"application/problem+json":{"schema":{"oneOf":[{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/WriteResponse"],"example":"tag:kraken.com,2025:gateway/WriteResponse"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to write response to the client."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Connect"],"example":"tag:kraken.com,2025:gateway/Connect"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to connect to upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/WriteResponse"],"example":"tag:kraken.com,2025:gateway/WriteResponse"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to write response to the client."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Fatal"],"example":"tag:kraken.com,2025:gateway/Fatal"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Fatal error encountered while processing the request."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:Unknown"],"example":"tag:kraken.com,2025:Unknown"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"An unexpected error occurred."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Error-specific payload.","type":"object","properties":{"message":{"description":"Human-readable description of the unexpected error.","type":"string","example":"An unexpected error occurred."},"core_error":{"description":"Internal error identifier captured at the source.","type":"string","example":"internal_error"}},"required":["message","core_error"]}},"required":["data","status","title","type"]}]}}}},"503":{"description":"Service Unavailable. The custody service could not connect to a downstream dependency.","content":{"application/problem+json":{"schema":{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Connect"],"example":"tag:kraken.com,2025:gateway/Connect"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":503},"title":{"description":"Short human-readable summary","type":"string","example":"Service Unavailable"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Downstream custody service is temporarily unreachable; retry with backoff."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]}}}}},"security":[{"API Key Auth (key)":[],"API Key Auth (signature)":[],"API Key Auth (nonce)":[]}],"x-stability":{"version":"v1","level":"draft","since":null},"x-spec-source":["InstoCustodyExternalService-1.0.0"],"summary":"List vaults"}},"/v0/insto/custody/organizations":{"get":{"tags":["Custody External API","apiFormat:kraken2025"],"description":"Returns the organizations the authenticated user belongs to. Each entry carries the organization identifier, display name, and lifecycle status.\n\n**Rate limit:** 200 requests per 30 seconds per IP.","operationId":"getV0InstoCustodyOrganizations","responses":{"200":{"description":"OK. Returns the organizations the authenticated user belongs to.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"iiban":{"description":"Organization identifier, 16-char alphanumeric in 4x4 groups (IIBAN).","type":"string","example":"ABCD EFGH IJKL MNOP"},"name":{"description":"Display name of the organization, 5 to 128 characters.","type":"string","example":"Acme Corp"},"status":{"description":"Organization lifecycle status. One of: active, onboarding, disabled, closed.","type":"string","example":"active"}},"required":["iiban","name","status"]}}}}},"400":{"description":"Bad Request. The request failed validation.","content":{"application/problem+json":{"schema":{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:BadRequest"],"example":"tag:kraken.com,2025:BadRequest"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":400},"title":{"description":"Short human-readable summary","type":"string","example":"Bad Request"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Request failed validation."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Error-specific payload.","type":"object","properties":{"message":{"description":"Human-readable description of the validation failure.","type":"string","example":"Request failed validation."}},"required":["message"]}},"required":["data","status","title","type"]}}}},"403":{"description":"Forbidden. The caller is not authorized to list organizations.","content":{"application/problem+json":{"schema":{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:PermissionDenied"],"example":"tag:kraken.com,2025:PermissionDenied"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":403},"title":{"description":"Short human-readable summary","type":"string","example":"Forbidden"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"The caller is not authorized to perform this action."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Error-specific payload.","type":"object","properties":{"message":{"description":"Human-readable description of why access was denied.","type":"string","example":"Permission denied."}},"required":["message"]}},"required":["data","status","title","type"]}}}},"500":{"description":"Internal Server Error. An unhandled exception occurred while serving the request.","content":{"application/problem+json":{"schema":{"oneOf":[{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/WriteResponse"],"example":"tag:kraken.com,2025:gateway/WriteResponse"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to write response to the client."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Connect"],"example":"tag:kraken.com,2025:gateway/Connect"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to connect to upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/WriteResponse"],"example":"tag:kraken.com,2025:gateway/WriteResponse"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to write response to the client."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Fatal"],"example":"tag:kraken.com,2025:gateway/Fatal"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Fatal error encountered while processing the request."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:Unknown"],"example":"tag:kraken.com,2025:Unknown"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"An unexpected error occurred."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Error-specific payload.","type":"object","properties":{"message":{"description":"Human-readable description of the unexpected error.","type":"string","example":"An unexpected error occurred."},"core_error":{"description":"Internal error identifier captured at the source.","type":"string","example":"internal_error"}},"required":["message","core_error"]}},"required":["data","status","title","type"]}]}}}},"503":{"description":"Service Unavailable. The custody service could not connect to a downstream dependency.","content":{"application/problem+json":{"schema":{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Connect"],"example":"tag:kraken.com,2025:gateway/Connect"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":503},"title":{"description":"Short human-readable summary","type":"string","example":"Service Unavailable"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Downstream custody service is temporarily unreachable; retry with backoff."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]}}}}},"security":[{"API Key Auth (key)":[],"API Key Auth (signature)":[],"API Key Auth (nonce)":[]}],"x-stability":{"version":"v1","level":"draft","since":null},"x-spec-source":["InstoCustodyExternalService-1.0.0"],"summary":"List organizations"}},"/v0/insto/custody/organizations/{org_iiban}/balances":{"get":{"tags":["Custody External API","apiFormat:kraken2025"],"description":"Returns the aggregated balance for an organization across all of its vaults, valued in the requested quote currency. The response breaks the total down into spot, staked, and pledged components.\n\n**Rate limit:** 200 requests per 30 seconds per IP.","operationId":"getV0InstoCustodyOrganizationsOrgIibanBalances","parameters":[{"in":"path","name":"org_iiban","required":true,"description":"Organization identifier, 16-char alphanumeric in 4x4 groups (IIBAN).","schema":{"type":"string","example":"ABCD EFGH IJKL MNOP"},"style":"simple"},{"in":"query","name":"quote_asset","description":"Currency code used to value the aggregated balance. Defaults to USD when omitted; only USD is currently accepted.","schema":{"type":"string","example":"USD"},"style":"form"}],"responses":{"200":{"description":"OK. Returns the aggregated balance for the organization.","content":{"application/json":{"schema":{"type":"object","properties":{"quote_asset":{"description":"Currency code in which the balance values are denominated.","type":"string","example":"USD"},"quote_value":{"description":"Total balance — sum of spot, staked, and pledged balances, valued in the quote currency.","type":"string","example":"12345.6789"},"quote_spot_value":{"description":"Total spot balance across all vaults, valued in the quote currency.","type":"string","example":"10000.0000"},"quote_staked_value":{"description":"Total staked balance across all vaults, valued in the quote currency.","type":"string","example":"1500.0000"},"quote_pledged_value":{"description":"Total pledged balance across all vaults, valued in the quote currency.","type":"string","example":"845.6789"}},"required":["quote_asset","quote_value","quote_spot_value","quote_staked_value","quote_pledged_value"]}}}},"400":{"description":"Bad Request. The request failed validation, or quote_asset is not a supported quote currency.","content":{"application/problem+json":{"schema":{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:BadRequest"],"example":"tag:kraken.com,2025:BadRequest"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":400},"title":{"description":"Short human-readable summary","type":"string","example":"Bad Request"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Invalid quote_asset parameter."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Error-specific payload.","type":"object","properties":{"message":{"description":"Human-readable description of the validation failure.","type":"string","example":"Invalid quote_asset parameter."}},"required":["message"]}},"required":["data","status","title","type"]}}}},"403":{"description":"Forbidden. The caller is not authorized to view balances for this organization.","content":{"application/problem+json":{"schema":{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:PermissionDenied"],"example":"tag:kraken.com,2025:PermissionDenied"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":403},"title":{"description":"Short human-readable summary","type":"string","example":"Forbidden"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"The caller is not authorized to perform this action."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Error-specific payload.","type":"object","properties":{"message":{"description":"Human-readable description of why access was denied.","type":"string","example":"Permission denied."}},"required":["message"]}},"required":["data","status","title","type"]}}}},"500":{"description":"Internal Server Error. An unhandled exception occurred while serving the request.","content":{"application/problem+json":{"schema":{"oneOf":[{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/WriteResponse"],"example":"tag:kraken.com,2025:gateway/WriteResponse"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to write response to upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Connect"],"example":"tag:kraken.com,2025:gateway/Connect"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to connect to upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/WriteResponse"],"example":"tag:kraken.com,2025:gateway/WriteResponse"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to write response to upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Fatal"],"example":"tag:kraken.com,2025:gateway/Fatal"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"A fatal gateway error occurred while serving the request."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:Unknown"],"example":"tag:kraken.com,2025:Unknown"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"An unexpected error occurred while serving the request."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable description of the underlying failure.","example":"Unhandled exception while servicing the request."},"core_error":{"type":"string","description":"Identifier for the originating error.","example":"InternalError"}},"required":["message","core_error"],"description":"Error-specific payload returned for an unhandled exception."}},"required":["data","status","title","type"]}]}}}},"503":{"description":"Service Unavailable. The custody service could not connect to a downstream dependency.","content":{"application/problem+json":{"schema":{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Connect"],"example":"tag:kraken.com,2025:gateway/Connect"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":503},"title":{"description":"Short human-readable summary","type":"string","example":"Service Unavailable"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Downstream custody service is temporarily unreachable; retry with backoff."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem","example":{}}},"required":["data","status","title","type"]}}}}},"security":[{"API Key Auth (key)":[],"API Key Auth (signature)":[],"API Key Auth (nonce)":[]}],"x-stability":{"version":"v1","level":"draft","since":null},"x-spec-source":["InstoCustodyExternalService-1.0.0"],"summary":"List balances"}},"/v0/insto/custody/assets":{"get":{"tags":["Custody External API","apiFormat:kraken2025"],"description":"Lists custody assets that support inbound funding via on-chain deposit or spot-to-vault transfer. Withdraw-only assets are omitted.\n\nEach entry includes the currency code, display metadata, network, and supported actions (`deposit`, `withdraw`, `transfer_to_spot`, `transfer_to_vault`, `stake`).\n\nNo authentication is required.\n\n**Rate limit:** 200 requests per 30 seconds per IP.","operationId":"getV0InstoCustodyAssets","responses":{"200":{"description":"Custody assets available for inbound funding, with display metadata and supported actions.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Localized asset name (e.g. `Bitcoin`, `Ethereum`, `US Dollar`).","example":"Bitcoin"},"asset":{"type":"string","description":"Asset currency code (e.g. `BTC`, `ETH`, `USD`).","example":"BTC"},"asset_class":{"type":"string","description":"Asset class label, one of: `currency`, `equity`, `nft`, `tokenized_asset`, `futures_contract`.","example":"currency"},"symbol":{"type":"string","description":"Visual symbol or glyph for the asset (e.g. `$`). Empty when the catalog has no glyph.","example":"₿"},"decimals":{"type":"integer","format":"int32","description":"Number of decimal places used to record amounts of the asset.","example":8},"display_decimals":{"type":"integer","format":"int32","description":"Number of decimal places shown when displaying amounts in a UI.","example":5},"withdraw":{"type":"boolean","description":"Whether the asset supports withdrawal.","example":true},"deposit":{"type":"boolean","description":"Whether the asset supports deposit.","example":true},"transfer_to_spot":{"type":"boolean","description":"Whether the asset can be transferred from a custody vault to a spot account.","example":true},"transfer_to_vault":{"type":"boolean","description":"Whether the asset can be transferred from a spot account to a custody vault.","example":true},"stake":{"type":"boolean","description":"Whether the asset supports staking.","example":false},"network":{"type":"string","description":"Blockchain network name (e.g. `Bitcoin`, `Ethereum`, `Solana`). Omitted for non-crypto assets.","example":"Bitcoin"},"full_name":{"type":"string","description":"Localized asset name followed by the asset code in parentheses (e.g. `Bitcoin (BTC)`).","example":"Bitcoin (BTC)"}},"required":["name","asset","asset_class","symbol","decimals","display_decimals","withdraw","deposit","transfer_to_spot","transfer_to_vault","stake","full_name"]}}}}},"500":{"description":"Internal Server Error. An unhandled exception occurred while serving the request.","content":{"application/problem+json":{"schema":{"oneOf":[{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZ"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZ"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZ"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/WriteResponse"],"example":"tag:kraken.com,2025:gateway/WriteResponse"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to write response to client."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZ"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Connect"],"example":"tag:kraken.com,2025:gateway/Connect"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to connect to upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZ"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZ"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZ"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZ"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/WriteResponse"],"example":"tag:kraken.com,2025:gateway/WriteResponse"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to write response to client."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZ"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Fatal"],"example":"tag:kraken.com,2025:gateway/Fatal"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Fatal error in gateway processing."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZ"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:Unknown"],"example":"tag:kraken.com,2025:Unknown"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"An unexpected error occurred."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZ"},"data":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable description of the underlying failure.","example":"unexpected error processing request"},"core_error":{"type":"string","description":"Identifier for the originating error.","example":"core_error_unknown"}},"required":["message","core_error"]}},"required":["data","status","title","type"]}]}}}},"503":{"description":"Service Unavailable. The upstream custody service could not be reached.","content":{"application/problem+json":{"schema":{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Connect"],"example":"tag:kraken.com,2025:gateway/Connect"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":503},"title":{"description":"Short human-readable summary","type":"string","example":"Service Unavailable"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Downstream custody service is temporarily unreachable; retry with backoff."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZ"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]}}}}},"x-stability":{"version":"v1","level":"draft","since":null},"x-spec-source":["InstoCustodyExternalService-1.0.0"],"summary":"List assets"}},"/v0/insto/custody/tasks":{"get":{"tags":["Custody External API","apiFormat:kraken2025"],"description":"Returns a paginated list of custody tasks (approval requests) visible to the authenticated user, filtered by the supplied query parameters and ordered by the requested column. Multi-valued filters are OR-ed within a field and AND-ed across fields.\n\n**Rate limit:** 200 requests per 30 seconds per IP.","operationId":"getV0InstoCustodyTasks","parameters":[{"in":"query","name":"org_iiban","description":"Restrict the result set to tasks owned by the specified organization, identified by its 16-char IIBAN. Defaults to the caller's organization when omitted.","schema":{"type":"string","example":"ABCD EFGH IJKL MNOP"},"style":"form"},{"in":"query","name":"limit","description":"Maximum number of tasks to return in the page. Defaults to 100 when omitted.","schema":{"type":"integer","format":"int32","example":100},"style":"form"},{"in":"query","name":"offset","description":"Number of tasks to skip before the page begins, used together with `limit` for offset-based pagination. Defaults to 0 when omitted.","schema":{"type":"integer","format":"int32","example":0},"style":"form"},{"in":"query","name":"state","description":"Restrict the result set to tasks in one or more lifecycle states. Allowed values: `pending`, `approved`, `rejected`, `denied` (alias of `rejected`), `canceled`, `expired`, `failed`, `executed`.","schema":{"type":"array","items":{"type":"string","example":"pending"}},"style":"form"},{"in":"query","name":"current_user_decision","description":"Restrict the result set to tasks for which the caller has made the specified decision. One of `undecided`, `approved`, `denied`.","schema":{"type":"string","example":"undecided"},"style":"form"},{"in":"query","name":"task_id","description":"Restrict the result set to the supplied task IDs. Each value is a `T`-prefixed 14-char base32 identifier.","schema":{"type":"array","items":{"type":"string","example":"TABCDEF234567A"}},"style":"form"},{"in":"query","name":"approval_id","description":"Restrict the result set to tasks linked to the supplied approval UUIDs.","schema":{"type":"array","items":{"type":"string","example":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"}},"style":"form"},{"in":"query","name":"vault_id","description":"Restrict the result set to tasks scoped to the supplied vault IDs. Each value is a `V`-prefixed 14-char base32 identifier with a final check character.","schema":{"type":"array","items":{"type":"string","example":"VABCDEF234567A"}},"style":"form"},{"in":"query","name":"action","description":"Restrict the result set to tasks that contain one of the supplied action types. Accepts only the singular action names listed below (for example `request_withdrawal`, `create_vault`, `update_subquorum`). Multiple values are OR-ed.","schema":{"type":"array","items":{"type":"string","example":"request_withdrawal","enum":["update_subquorum","update_vault_user","update_vault_policy","request_withdrawal","remove_org_user","create_user","request_staking_allocation","update_withdrawal_address","update_user_permission","create_vault","update_vault","update_domain_policy","update_user_status","request_transfer_to_spot","create_api_user","update_api_user","request_staking_deallocation","request_custody_transfer_to_spot","request_pledge","request_pledge_release"]}},"style":"form"},{"in":"query","name":"created_at_from","description":"Include only tasks created at or after this RFC 3339 UTC timestamp (inclusive), e.g. 2026-01-15T12:34:56Z; the Z (UTC) offset is required.","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"example":"2026-01-15T12:34:56Z","style":"form"},{"in":"query","name":"created_at_to","description":"Include only tasks created at or before this RFC 3339 UTC timestamp (inclusive), e.g. 2026-01-15T12:34:56Z; the Z (UTC) offset is required.","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"example":"2026-01-15T12:34:56Z","style":"form"},{"in":"query","name":"updated_at_from","description":"Include only tasks last updated at or after this RFC 3339 UTC timestamp (inclusive), e.g. 2026-01-15T12:34:56Z; the Z (UTC) offset is required.","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"example":"2026-01-15T12:34:56Z","style":"form"},{"in":"query","name":"updated_at_to","description":"Include only tasks last updated at or before this RFC 3339 UTC timestamp (inclusive), e.g. 2026-01-15T12:34:56Z; the Z (UTC) offset is required.","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"example":"2026-01-15T12:34:56Z","style":"form"},{"in":"query","name":"expires_at_from","description":"Include only tasks expiring at or after this RFC 3339 UTC timestamp (inclusive), e.g. 2026-01-15T12:34:56Z; the Z (UTC) offset is required.","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"example":"2026-01-15T12:34:56Z","style":"form"},{"in":"query","name":"expires_at_to","description":"Include only tasks expiring at or before this RFC 3339 UTC timestamp (inclusive), e.g. 2026-01-15T12:34:56Z; the Z (UTC) offset is required.","schema":{"$ref":"#/components/schemas/google.protobuf.Timestamp"},"example":"2026-01-15T12:34:56Z","style":"form"},{"in":"query","name":"sort","description":"Ordering as a single `field:direction` token (direction optional, defaults to `desc`). Only one column is supported. Allowed fields: `id`, `state`, `vault_id`, `created_at`, `updated_at`, `expires_at`. Defaults to `created_at:desc`.","schema":{"type":"string","example":"created_at:desc"},"style":"form"}],"responses":{"200":{"description":"Page of task summaries matching the requested filters.","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"description":"Page of task summaries matching the requested filters, ordered by the requested column.","type":"array","items":{"type":"object","properties":{"task_id":{"description":"Task identifier, a `T`-prefixed 14-char base32 string.","type":"string","example":"TABCDEF234567A"},"approval_id":{"description":"Approval UUID, when the task is part of an approval flow.","type":"string","example":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"},"type":{"description":"Coarse task-level discriminator. Every task is exposed in the instruction-normalized model, so this is always `normalized_task`. Use `instruction_types` for the specific actions the task performs.","type":"string","example":"normalized_task"},"state":{"description":"Lifecycle state of the task. One of `pending`, `approved`, `rejected`, `canceled`, `expired`, `failed`, `executed`.","type":"string","example":"pending"},"created_at":{"description":"RFC 3339 UTC timestamp when the task was created.","type":"string","format":"date-time","example":"2026-01-15T12:34:56Z"},"updated_at":{"description":"RFC 3339 UTC timestamp when the task was last updated.","type":"string","format":"date-time","example":"2026-01-15T12:35:56Z"},"expires_at":{"description":"RFC 3339 UTC timestamp when the task expires if no decision is reached.","type":"string","format":"date-time","example":"2026-01-16T12:34:56Z"},"initiator":{"description":"User or API key that initiated the task.","type":"object","properties":{"full_name":{"description":"Display name of the initiator at the time the task was created.","type":"string","example":"Jane Doe"},"role":{"description":"Role assigned to the initiator at the time the task was created.","type":"string","example":"admin"},"ip_address":{"description":"Source IP address recorded when the task was initiated.","type":"string","example":"203.0.113.42"},"iiban":{"description":"16-char IIBAN identifying the initiating user or API key.","type":"string","example":"ABCD EFGH IJKL MNOP"}}},"quorum_type":{"description":"Scope of the quorum required to advance the task. `domain` for org-wide quorum, `vault` for vault-scoped quorum.","type":"string","example":"vault"},"can_review":{"description":"True if the caller may still cast a review decision on this task.","type":"boolean","example":true},"reviewer_statistics":{"description":"Tally of reviewer decisions for single-quorum tasks. Omitted for multi-quorum tasks. Use `subquorum_approvals` when `reviewer_statistics_label` is `multiquorum`.","type":"object","properties":{"current_count":{"description":"Total number of reviewers currently assigned to the task.","type":"integer","format":"int32","example":3},"approved":{"description":"Number of reviewers who have approved.","type":"integer","format":"int32","example":1},"denied":{"description":"Number of reviewers who have denied.","type":"integer","format":"int32","example":0},"undecided":{"description":"Number of assigned reviewers who have not yet cast a decision.","type":"integer","format":"int32","example":2},"required_quorum":{"description":"Number of approving reviewers required for the task to advance.","type":"integer","format":"int32","example":2}},"required":["approved","denied","undecided"]},"current_user_decision":{"description":"The caller's own decision on this task. One of `undecided`, `approved`, `denied`.","type":"string","example":"undecided"},"vault_info":{"description":"Vault the task is scoped to. Omitted for domain-level tasks that do not target a specific vault.","type":"object","properties":{"id":{"description":"Vault identifier, a `V`-prefixed 14-char base32 string with a final check character.","type":"string","example":"VABCDEF234567A"},"name":{"description":"Display name of the vault.","type":"string","example":"Treasury Vault"},"status":{"description":"Current vault lifecycle status (lowercase, e.g. `active`, `archived`).","type":"string","example":"active"},"subquorum_config":{"description":"Vault's current subquorum policy, the group structure used to compute approvals on multi-quorum tasks.","type":"object","properties":{"groups":{"description":"Subquorum groups defined on the vault. A multi-quorum task advances when each group's `required` count of approvals is met.","type":"array","items":{"type":"object","properties":{"id":{"description":"Subquorum group identifier (UUID v4).","type":"string","example":"11111111-2222-4333-8444-555555555555"},"required":{"description":"Number of group members whose approval is needed to satisfy this group's quorum.","type":"integer","format":"int32","example":2},"members":{"description":"Members of the subquorum group.","type":"array","items":{"type":"object","properties":{"iiban":{"description":"16-char IIBAN of the group member.","type":"string","example":"ABCD EFGH IJKL MNOP"},"full_name":{"description":"Display name of the member, when resolvable at read time.","type":"string","example":"Jane Doe"},"email":{"description":"Email address of the member, when resolvable at read time.","type":"string","example":"jane.doe@example.com"},"role":{"description":"Role of the member at read time (lowercase).","type":"string","example":"admin"}},"required":["iiban"]}}},"required":["id","required","members"]}}},"required":["groups"]}},"required":["id"]},"reviewer_statistics_label":{"description":"Indicates which reviewer-tally field to consult. `standard` means use `reviewer_statistics`; `multiquorum` means use `subquorum_approvals`.","type":"string","example":"standard"},"instruction_types":{"description":"The set of action types bundled into the task. These are the same singular action names accepted by the `action` query filter, so a value here can be passed straight back as a filter.","type":"array","items":{"type":"string","enum":["update_subquorum","update_vault_user","update_vault_policy","request_withdrawal","remove_org_user","create_user","request_staking_allocation","update_withdrawal_address","update_user_permission","create_vault","update_vault","update_domain_policy","update_user_status","request_transfer_to_spot","create_api_user","update_api_user","request_staking_deallocation","request_custody_transfer_to_spot","request_pledge","request_pledge_release"],"description":"Action type of one instruction in the task.","example":"request_withdrawal"}},"subquorum_snapshot":{"description":"Subquorum policy snapshot taken when the task was created. Approvals are evaluated against this snapshot so a later policy change cannot retroactively invalidate decisions already cast.","type":"object","properties":{"groups":{"description":"Subquorum groups captured in the snapshot.","type":"array","items":{"type":"object","properties":{"id":{"description":"Subquorum group identifier (UUID v4).","type":"string","example":"11111111-2222-4333-8444-555555555555"},"required":{"description":"Number of group members whose approval is needed to satisfy this group's quorum.","type":"integer","format":"int32","example":2},"members":{"description":"Members of the subquorum group as captured at task-creation time.","type":"array","items":{"type":"object","properties":{"iiban":{"description":"16-char IIBAN of the group member.","type":"string","example":"ABCD EFGH IJKL MNOP"},"full_name":{"description":"Display name of the member, when resolvable at read time.","type":"string","example":"Jane Doe"},"email":{"description":"Email address of the member, when resolvable at read time.","type":"string","example":"jane.doe@example.com"},"role":{"description":"Role of the member at read time (lowercase).","type":"string","example":"admin"}},"required":["iiban"]}}},"required":["id","required","members"]}}},"required":["groups"]},"subquorum_approvals":{"description":"Per-group approval tally for multi-quorum tasks. Each entry lists a group's ID and the IIBANs of members in that group who have approved so far.","type":"array","items":{"type":"object","properties":{"group_id":{"description":"Subquorum group identifier (UUID v4) matching an entry in `subquorum_snapshot.groups`.","type":"string","example":"11111111-2222-4333-8444-555555555555"},"approved_iibans":{"description":"IIBANs of group members who have approved the task.","type":"array","items":{"type":"string","example":"ABCD EFGH IJKL MNOP"}}},"required":["group_id","approved_iibans"]}}},"required":["task_id","type","state","created_at","updated_at","expires_at","initiator","quorum_type","can_review","current_user_decision","reviewer_statistics_label","instruction_types"]}},"total":{"description":"Total number of tasks matching the filters, prior to pagination.","type":"integer","format":"int32","example":42}},"required":["result","total"]}}}},"400":{"description":"Bad Request. The request failed validation. Examples: unknown filter value, malformed ID, or invalid date range.","content":{"application/problem+json":{"schema":{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:BadRequest"],"example":"tag:kraken.com,2025:BadRequest"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":400},"title":{"description":"Short human-readable summary","type":"string","example":"Bad Request"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Request failed validation."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"type":"object","properties":{"message":{"type":"string","example":"Unknown filter value for state: 'archived'."}},"required":["message"]}},"required":["data","status","title","type"]}}}},"403":{"description":"Forbidden. The caller lacks access to the requested task, vault, or organization scope.","content":{"application/problem+json":{"schema":{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:PermissionDenied"],"example":"tag:kraken.com,2025:PermissionDenied"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":403},"title":{"description":"Short human-readable summary","type":"string","example":"Forbidden"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"The caller is not authorized to perform this action."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"type":"object","properties":{"message":{"type":"string","example":"Caller lacks access to the requested task, vault, or organization scope."}},"required":["message"]}},"required":["data","status","title","type"]}}}},"500":{"description":"Internal Server Error. An unhandled exception occurred while serving the request.","content":{"application/problem+json":{"schema":{"oneOf":[{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/ReadUpstream"],"example":"tag:kraken.com,2025:gateway/ReadUpstream"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to read response from upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/WriteResponse"],"example":"tag:kraken.com,2025:gateway/WriteResponse"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to write response to upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":{"type":{"description":"URL uniquely identifying the error type relative to an operation","type":"string","enum":["tag:kraken.com,2025:gateway/Connect"],"example":"tag:kraken.com,2025:gateway/Connect"},"status":{"description":"HTTP status (provided for convenience)","type":"integer","format":"uint16","minimum":0,"example":500},"title":{"description":"Short human-readable summary","type":"string","example":"Internal Server Error"},"detail":{"nullable":true,"description":"Help to solve the problem","type":"string","example":"Failed to connect to upstream custody service."},"instance":{"nullable":true,"description":"Link to debug data for this particular error","type":"string","example":"https://debug.kraken.com/req/01HXYZABCDEF"},"data":{"description":"Custom data attached to this problem"}},"required":["data","status","title","type"]},{"description":"Type for errors when using the Kraken2025 format.\n\nThis format follows `Problem Details for HTTP APIs` ([rfc7807]).\n\n[rfc7807]: https://datatracker.ietf.org/doc/html/rfc7807","type":"object","properties":
[...]
