{"openapi":"3.0.0","info":{"title":"REST API","version":"1.1.0","description":""},"servers":[{"url":"https://api.kraken.com/0","description":"Production Server"}],"security":[{"API-Key":[],"API-Sign":[]}],"tags":[{"name":"Quotes"}],"paths":{"/private/CreateOtcQuoteRequest":{"post":{"summary":"Create OTC Quote","description":"Creates a new OTC request for quote.\n\n**API Key Permissions Required:** `Orders and trades - Create & modify orders`\n","tags":["Quotes"],"operationId":"createOtcQuoteRequest","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/create-otc-quote-request"}}}},"responses":{"200":{"description":"Create OTC quote result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/create-otc-quote-request-2"}}}},"500":{"$ref":"#/components/responses/500"}}}},"/private/UpdateOtcQuote":{"post":{"summary":"Update OTC Quote","description":"Accepts or rejects an OTC quote.\n\n**API Key Permissions Required:** `Orders and trades - Create & modify orders`\n","tags":["Quotes"],"operationId":"updateOtcQuote","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/update-otc-quote"}}}},"responses":{"200":{"description":"Update OTC quote result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/update-otc-quote-2"}}}},"500":{"$ref":"#/components/responses/500"}}}},"/private/GetOtcPairs":{"post":{"summary":"Get OTC Pairs","description":"Retrieves the list of OTC trading pairs.\n\n**API Key Permissions Required:** `Funds permissions - Query` and `Funds permissions - Deposit`\n","tags":["Quotes"],"operationId":"getOtcPairs","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/get-otc-pairs"}}}},"responses":{"200":{"description":"Available OTC pairs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get-otc-pairs-2"}}}},"500":{"$ref":"#/components/responses/500"}}}},"/private/GetOtcActiveQuotes":{"post":{"summary":"Get OTC Active Quotes","description":"Retrieves a list of active OTC quotes.\n\n**API Key Permissions Required:** `Orders and trades - Query open orders & trades`\n","tags":["Quotes"],"operationId":"getOtcActiveQuotes","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/get-otc-active-quotes"}}}},"responses":{"200":{"description":"Active quotes retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get-otc-active-quotes-2"}}}},"500":{"$ref":"#/components/responses/500"}}}},"/private/GetOtcHistoricalQuotes":{"post":{"summary":"Get OTC Historical Quotes","description":"Retrieves OTC quotes history.\n\n**API Key Permissions Required:** `Orders and trades - Query open orders & trades`\n","tags":["Quotes"],"operationId":"getOtcHistoricalQuotes","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/get-otc-historical-quotes"}}}},"responses":{"200":{"description":"Historical quotes retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get-otc-historical-quotes-2"}}}},"500":{"$ref":"#/components/responses/500"}}}},"/private/GetOtcExposures":{"post":{"summary":"Get OTC Exposures","description":"Retrieves the max and used OTC exposures.\n\n**API Key Permissions Required:** `Orders and trades - Query open orders & trades`\n","tags":["Quotes"],"operationId":"getOtcExposures","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/get-otc-exposures"}}}},"responses":{"200":{"description":"OTC Exposures retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get-otc-exposures-2"}}}},"500":{"$ref":"#/components/responses/500"}}}},"/private/CheckOtcClient":{"post":{"summary":"Check OTC Eligibility","description":"Retrieves the client permissions for the OTC Portal.\n\n**API Key Permissions Required:** `Funds permissions - Query` and `Funds permissions - Deposit`\n","tags":["Quotes"],"operationId":"checkOtcClient","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/check-otc-client"}}}},"responses":{"200":{"description":"OTC client check result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check-otc-client-2"}}}},"500":{"$ref":"#/components/responses/500"}}}}},"components":{"securitySchemes":{"API-Key":{"type":"apiKey","description":"The \"API-Key\" header should contain your API key.","name":"API-Key","in":"header"},"API-Sign":{"type":"apiKey","description":"Authenticated requests should be signed with the \"API-Sign\" header, using a signature generated with your private key, nonce, encoded payload, and URI path.","name":"API-Sign","in":"header"}},"schemas":{"500":{"title":"500 Internal Server Error","description":"Internal error response","type":"object","properties":{"error":{"$ref":"#/components/schemas/error"}}},"KWebErrors":{"type":"array","items":{"description":"General API error.","type":"object","properties":{"severity":{"description":"API error severity.","type":"string","enum":["E","W"]},"errorClass":{"type":"string"},"type":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"}},"required":["errorClass","severity","type"]}},"nonce":{"description":"Nonce used in construction of `API-Sign` header","type":"integer","format":"int64"},"create-otc-quote-request":{"title":"Create OTC Quote Request Body","description":"Request to create a new OTC quote. You must specify either the amount of base asset you want to trade or the total amount of quote asset you want to spend/receive, but not both.","type":"object","properties":{"nonce":{"$ref":"#/components/schemas/nonce"},"base":{"type":"string","description":"The asset you want to buy or sell (e.g., BTC, ETH).","example":"BTC"},"quote":{"type":"string","description":"The asset used to price the base asset (e.g., USD, USDT).","example":"USD"},"amount":{"type":"string","description":"The quantity of base asset you want to trade. Cannot be used together with the total field.","example":"2.5"},"total":{"type":"string","description":"The total amount of quote asset you want to spend (for buy orders) or receive (for sell orders). Cannot be used together with the amount field.","example":"200000.5"},"type":{"type":"string","description":"The direction of the trade. Use 'buy' to purchase the base asset with the quote asset, or 'sell' to sell the base asset for the quote asset.","enum":["buy","sell"]}},"additionalProperties":false,"required":["nonce","base","quote","type"]},"quote-props":{"type":"object","properties":{"quote_id":{"description":"The id of the quote.","type":"string","example":"00001c47-8f59-4099-b6f8-b637437ef1ab"},"client_order_id":{"description":"The client order ID when quote was requested by an external partner client.","type":"string","example":"7264675290025181184","nullable":true},"base":{"description":"Base (amount) asset of the pair.","type":"string","example":"BTC"},"quote":{"description":"Quote asset of the pair.","type":"string","example":"USD"},"price":{"description":"The unit price.","type":"string","example":"100000.25"},"amount":{"description":"Quantity of the base asset.","type":"string","example":"2.5"},"total":{"description":"Quantity of the quote asset.","type":"string","example":"250000.625"},"settlement":{"description":"If the settlement is automated or flexible. Only automated is currently supported through the API.","type":"string","enum":["automated","flexible"]}}},"error":{"type":"array","items":{"description":"Kraken API error","type":"string","example":"EGeneral:Invalid arguments"}},"create-otc-quote-request-2":{"title":"createOtcQuoteRequest","description":"Response schema for creating an OTC quote request.","type":"object","properties":{"result":{"type":"object","title":"OTC Request for Quote","properties":{"quote":{"type":"object","description":"Quote created","$ref":"#/components/schemas/quote-props","required":["base","quote","type","amount","settlement"],"additionalProperties":false}},"required":["quote"],"additionalProperties":false},"error":{"$ref":"#/components/schemas/error"}},"required":["error"],"additionalProperties":false},"update-otc-quote":{"title":"Update OTC Quote Request Body","description":"Request body for updating the status of an existing OTC quote.","type":"object","properties":{"nonce":{"$ref":"#/components/schemas/nonce"},"quote_id":{"type":"string","description":"The unique identifier of the quote to update.","example":"00001c47-8f59-4099-b6f8-b637437ef1ab","format":"uuid"},"status":{"type":"string","description":"The status of the quote, accepted or rejected.","enum":["accepted","rejected"],"example":"accepted"}},"additionalProperties":false,"required":["nonce","quote_id","status"]},"update-otc-quote-2":{"title":"Update OTC Quote Request Body","description":"Response schema for updating an OTC quote. Contains either a successful result with the quote ID or an error object.","type":"object","properties":{"result":{"type":"object","properties":{"quote_id":{"type":"string","description":"The id of the updated quote.","example":"00001c47-8f59-4099-b6f8-b637437ef1ab"}}},"error":{"$ref":"#/components/schemas/error"}},"required":["error"],"additionalProperties":false},"get-otc-pairs":{"title":"Get OTC Pairs Request Body","type":"object","properties":{"nonce":{"$ref":"#/components/schemas/nonce"}},"additionalProperties":false,"required":["nonce"]},"decimals":{"type":"number","description":"Unsigned byte (u8)","minimum":0,"maximum":255},"get-otc-pairs-2":{"description":"Response containing available OTC spot trading pairs and their specifications including decimal precision, size limits, and notional value constraints.","type":"object","properties":{"result":{"type":"object","properties":{"spot_pairs":{"type":"array","title":"OTC Spot pairs","items":{"type":"object","properties":{"base":{"type":"string","description":"Base asset for the pair.","example":"BTC"},"quote":{"type":"string","description":"Quote asset for the pair.","example":"USD"},"pair_name":{"type":"string","description":"Pair name.","example":"BTCUSD"},"pair_decimals":{"$ref":"#/components/schemas/decimals","description":"Decimal precision for this pair.","example":"8"},"lot_decimals":{"$ref":"#/components/schemas/decimals","description":"Decimal precision for the quantity that can be requested for this pair.","example":"8"},"cost_decimals":{"$ref":"#/components/schemas/decimals","description":"Decimal precision for costs related to this pair.","example":"8"},"max_base_amount":{"type":"string","description":"Max size in base asset that a quote can be requested for this pair.","example":"100000"},"max_notional":{"type":"string","description":"Max notional amount that a quote can be requested for this pair.","example":"1000000"},"min_base_amount":{"type":"string","description":"Min size in base asset that a quote can be requested for this pair.","example":"0.1"},"min_notional":{"type":"string","description":"Min notional amount that a quote can be requested for this pair.","example":"100"}},"required":["base","quote","pair_name","pair_decimals","lot_decimals","cost_decimals","max_base_amount"]}}},"required":["spot_pairs"],"additionalProperties":false},"error":{"$ref":"#/components/schemas/error"}},"required":["result","error"],"additionalProperties":false},"get-otc-active-quotes":{"title":"Get OTC Active Quotes Request Body","description":"Request body for retrieving active OTC quotes. This endpoint allows filtering of active quotes\nbased on specific criteria. All parameters are optional and can be used to refine the search results.\n","type":"object","properties":{"nonce":{"$ref":"#/components/schemas/nonce"},"vault_id":{"type":"string","description":"The unique identifier of the vault associated with the OTC trade. This parameter is specifically used\nfor custody OTC trades to filter quotes related to a particular vault.\n","example":"456TR123"}},"additionalProperties":false,"required":["nonce"]},"active-quote":{"type":"object","description":"An active OTC quote.","properties":{"expires":{"description":"Expiration time of the quote.","type":"object","properties":{"time":{"description":"Unix timestamp in milliseconds.","type":"integer","format":"int64","example":1715155200000}},"required":["time"]},"quote_id":{"description":"The id of the quote.","type":"string","example":"00001c47-8f59-4099-b6f8-b637437ef1ab"},"client_order_id":{"description":"The client order ID when quote was requested by an external partner client.","type":"string","example":"7264675290025181184","nullable":true},"base":{"description":"Base (amount) asset of the pair.","type":"string","example":"BTC"},"quote":{"description":"Quote asset of the pair.","type":"string","example":"USD"},"type":{"description":"Buy or sell.","type":"string","enum":["buy","sell"]},"price":{"description":"The unit price.","type":"string","example":"100000.25"},"amount":{"description":"Quantity of the base asset.","type":"string","example":"2.5"},"total":{"description":"Quantity of the quote asset.","type":"string","example":"250000.625"},"settlement":{"description":"If the settlement is automated or flexible. Only automated is currently supported through the API.","type":"string","enum":["automated","flexible"]}},"required":["quote_id","base","quote","type","amount","settlement","expires"],"additionalProperties":false},"get-otc-active-quotes-2":{"description":"Response schema for retrieving active OTC quotes.","type":"object","properties":{"result":{"title":"Active quotes","type":"array","items":{"$ref":"#/components/schemas/active-quote"}},"error":{"$ref":"#/components/schemas/error"}},"required":["error"],"additionalProperties":false},"get-otc-historical-quotes":{"title":"Get OTC Historical Quotes Request Body","description":"Request body schema for retrieving historical quotes for OTC instruments. This endpoint does not require any request body parameters.","type":"object","properties":{"nonce":{"$ref":"#/components/schemas/nonce"}},"additionalProperties":false,"required":["nonce"]},"historical-quote":{"type":"object","description":"A historical OTC quote.","properties":{"trade_id":{"type":"string","description":"The Trade ID of the quote. Only present once the associated trade has been booked for an accepted quote","example":"TR123ABS","nullable":true},"status":{"type":"string","description":"The status of the quote","enum":["Modified","Deleted"],"example":null,"nullable":true},"acceptance":{"description":"Acceptance","type":"object","properties":{"status":{"type":"string","description":"The acceptance status of the quote.","enum":["accepted","rejected","expired"],"example":"accepted"},"time":{"description":"Unix timestamp in milliseconds.","type":"integer","format":"int64","example":1736257135382}},"required":["status","time"]},"settlement_status":{"type":"string","description":"The settlement status of the quote.","enum":["settled","unsettled"],"example":"settled"},"quote_id":{"description":"The id of the quote.","type":"string","example":"00001c47-8f59-4099-b6f8-b637437ef1ab"},"client_order_id":{"description":"The client order ID when quote was requested by an external partner client.","type":"string","example":"7264675290025181184","nullable":true},"base":{"description":"Base (amount) asset of the pair.","type":"string","example":"BTC"},"quote":{"description":"Quote asset of the pair.","type":"string","example":"USD"},"type":{"description":"Buy or sell.","type":"string","enum":["buy","sell"]},"price":{"description":"The unit price.","type":"string","example":"100000.25"},"amount":{"description":"Quantity of the base asset.","type":"string","example":"2.5"},"total":{"description":"Quantity of the quote asset.","type":"string","example":"250000.625"},"settlement":{"description":"If the settlement is automated or flexible. Only automated is currently supported through the API.","type":"string","enum":["automated","flexible"]}},"required":["quote_id","base","quote","type","amount","price","total","acceptance","settlement","settlement_status"],"additionalProperties":false},"get-otc-historical-quotes-2":{"description":"Response schema for retrieving historical OTC quotes.","type":"object","properties":{"result":{"title":"Historical quotes","type":"array","items":{"$ref":"#/components/schemas/historical-quote"}},"error":{"$ref":"#/components/schemas/error"}},"required":["error"],"additionalProperties":false},"get-otc-exposures":{"title":"Get OTC Exposures Request Body","description":"Request schema for retrieving OTC exposures data. This endpoint does not require any request body parameters.","type":"object","properties":{"nonce":{"$ref":"#/components/schemas/nonce"}},"additionalProperties":false,"required":["nonce"]},"get-otc-exposures-2":{"title":"getOtcExposures","description":"Response schema for retrieving OTC exposure limits and usage information for a client.","type":"object","properties":{"result":{"type":"object","properties":{"max_otc":{"type":"string","description":"Max OTC exposure assigned to the client.","example":"1500000"},"max_rfq":{"type":"string","description":"Max RFQ exposure assigned to the client.","example":"1500000"},"used_otc":{"type":"string","description":"Used OTC Exposure (chat + RFQ).","example":"100000"},"used_rfq":{"type":"string","description":"Used RFQ exposure (RFQ only).","example":"50000"}},"required":["max_otc","max_rfq","used_otc","used_rfq"],"additionalProperties":false},"error":{"$ref":"#/components/schemas/error"}},"required":["error"],"additionalProperties":false},"check-otc-client":{"title":"Check OTC Client Request Body","description":"This schema represents the request body for checking an OTC client's status.\nNo request body is required as the client information is typically passed through\nauthentication headers.\n","type":"object","properties":{"nonce":{"$ref":"#/components/schemas/nonce"}},"additionalProperties":false,"required":["nonce"]},"check-otc-client-2":{"type":"object","description":"Response schema for checking OTC client permissions","properties":{"result":{"type":"object","description":"Contains the successful response data","properties":{"permissions":{"type":"array","items":{"type":"string"},"description":"OTC permissions assigned to the client."}},"required":["permissions"],"additionalProperties":false},"error":{"$ref":"#/components/schemas/error"}},"required":["error"],"additionalProperties":false}},"responses":{"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/500"},"example":{"errors":[{"field":null,"value":null,"type":"Internal Error","msg":"Internal error","severity":"E","errorClass":"General"}]}}}}}}}