{"openapi":"3.0.0","info":{"title":"REST API","version":"1.1.0","description":""},"servers":[{"url":"https://api.kraken.com/0","description":"Production Server"}],"security":[{"API-Key":[],"API-Sign":[]}],"tags":[{"name":"Request"},{"name":"Transfer"},{"name":"Paylink"}],"paths":{"/private/Pay/request/create":{"post":{"tags":["Request"],"summary":"Create a payment request","description":"Create a payment request\n\n**API Key Permissions Required:** `Funds permissions - Deposit`\n","operationId":"createPayRequest","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createPayRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createPayRequest-2"}}},"description":""}}}},"/private/Pay/request/cancel":{"post":{"tags":["Request"],"summary":"Cancel a payment request","description":"Cancel a payment request\n\n**API Key Permissions Required:** `Funds permissions - Query`\n","operationId":"cancelPayRequest","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cancelPayRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cancelPayRequest-2"}}},"description":""}}}},"/private/Pay/transfer/create":{"post":{"tags":["Transfer"],"summary":"Create a pay transfer","description":"This method is asynchronous, your callback will be sent the `external_id` and the `status` when it reaches a final state.\n\n**API Key Permissions Required:** `Funds permissions - Query` and `Funds permissions - Withdraw`\n","operationId":"createPayTransfer","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createPayTransfer"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createPayTransfer-2"}}},"description":""}}}},"/private/Pay/transfer/cancel":{"post":{"tags":["Transfer","Paylink"],"summary":"Cancel a pay transfer or an unclaimed paylink","description":"Cancel a pay transfer or an **unclaimed** paylink\n\n**API Key Permissions Required:** `Funds permissions - Query`\n","operationId":"cancelPayTransfer","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cancelPayTransfer"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cancelPayTransfer-2"}}},"description":""}}}},"/private/Pay/paylink/create":{"post":{"tags":["Paylink"],"summary":"Create a paylink code","description":"This method is asynchronous, it will not return the generated code. After calling, the `external_id` must then be used to query the code using `getPaylinkCode`.\n\n**API Key Permissions Required:** `Funds permissions - Query` and `Funds permissions - Withdraw`\n","operationId":"createPaylinkCode","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createPaylinkCode"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createPaylinkCode-2"}}},"description":""}}}},"/private/Pay/paylink/get":{"post":{"tags":["Paylink"],"summary":"Get the generated paylink code","description":"If the code has not been generated yet, this method will return an error indicating this.\n\n**API Key Permissions Required:** `Funds permissions - Query`\n","operationId":"getPaylinkCode","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/getPaylinkCode"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/getPaylinkCode-2"}}},"description":""}}}},"/private/Pay/paylink/config":{"post":{"tags":["Paylink"],"summary":"Get paylink configuration","description":"Get paylink configuration\n\n**API Key Permissions Required:** `Funds permissions - Query`\n","operationId":"getPaylinkConfig","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/getPaylinkConfig"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/getPaylinkConfig-2"}}},"description":""}}}}},"components":{"securitySchemes":{"API-Key":{"type":"apiKey","description":"The \"API-Key\" header should contain your API key.","name":"API-Key","in":"header"},"API-Sign":{"type":"apiKey","description":"Authenticated requests should be signed with the \"API-Sign\" header, using a signature generated with your private key, nonce, encoded payload, and URI path.","name":"API-Sign","in":"header"}},"schemas":{"KWebErrors":{"type":"array","items":{"description":"General API error.","type":"object","properties":{"severity":{"description":"API error severity.","type":"string","enum":["E","W"]},"errorClass":{"type":"string"},"type":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"}},"required":["errorClass","severity","type"]}},"createPayRequest":{"type":"object","required":["nonce","amount","asset","external_id"],"properties":{"nonce":{"description":"Nonce used in construction of `API-Sign` header","type":"string"},"amount":{"description":"The amount to be transferred, denominated in `asset`.","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"}]},"asset":{"description":"The name of the asset to be transferred. It is assumed that this is always a \"currency\" asset.","type":"string"},"expire_after_seconds":{"description":"Optionally expire the request after this many seconds, if not supplied the default is 90 days","format":"uint32","minimum":0,"nullable":true,"type":"integer"},"from":{"description":"The kraktag to request the transfer from. If not supplied the response will contain a link to the pay request.","nullable":true,"type":"string"},"note":{"description":"An optional note which will be viewable by both the sender and recipient.","nullable":true,"type":"string"},"external_id":{"description":"Your (the API user's) unique id to globally identify transfers and requests.\n\nWe will accept anything from 1-16 bytes, the format is base64 without padding ( <https://en.wikipedia.org/wiki/Base64#Decoding_Base64_without_padding> )\n\nThis is the id you will use to identify all transfers and requests in the API and also in the callback we send you.\n\nYou MUST make sure this is commited in your database before calling our API, that way if you don't get a response, you can make the same call again and we'll fail with an error saying your id is already used. (this is the only way to prevent double requests or sends)\n\nWe *highly* recommend you generate and send a UUID here, but if instead you have a database auto-increment id that is 64 bits, just send that, perhaps pre-pended by an application id or something.  The format is completely up to you but keep in mind it must be forever unique across all your transfers and requests.","type":"string"}}},"createPayRequest-2":{"type":"object","required":["error"],"properties":{"error":{"items":{"description":"General API error.","properties":{"errorClass":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"},"severity":{"description":"API error severity.","enum":["E","W"],"type":"string"},"type":{"type":"string"}},"required":["errorClass","severity","type"],"type":"object"},"type":"array"},"result":{"nullable":true,"properties":{"view_link":{"description":"The view link, to be shared to the paying user outside of Kraken as part of a request paylink.\n\nOnly included if the request is not targeted to a specific user. If it is targeted, the request is sent to them directly, so there is no need for a view link.","nullable":true,"type":"string"}},"type":"object"}}},"cancelPayRequest":{"type":"object","required":["nonce","external_id"],"properties":{"nonce":{"description":"Nonce used in construction of `API-Sign` header","type":"string"},"external_id":{"description":"Your (the API user's) unique id to globally identify transfers and requests.\n\nWe will accept anything from 1-16 bytes, the format is base64 without padding ( <https://en.wikipedia.org/wiki/Base64#Decoding_Base64_without_padding> )\n\nThis is the id you will use to identify all transfers and requests in the API and also in the callback we send you.\n\nYou MUST make sure this is commited in your database before calling our API, that way if you don't get a response, you can make the same call again and we'll fail with an error saying your id is already used. (this is the only way to prevent double requests or sends)\n\nWe *highly* recommend you generate and send a UUID here, but if instead you have a database auto-increment id that is 64 bits, just send that, perhaps pre-pended by an application id or something.  The format is completely up to you but keep in mind it must be forever unique across all your transfers and requests.","type":"string"}}},"cancelPayRequest-2":{"type":"object","required":["error"],"properties":{"error":{"items":{"description":"General API error.","properties":{"errorClass":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"},"severity":{"description":"API error severity.","enum":["E","W"],"type":"string"},"type":{"type":"string"}},"required":["errorClass","severity","type"],"type":"object"},"type":"array"},"result":{"nullable":true,"type":"object"}}},"createPayTransfer":{"type":"object","required":["nonce","amount","asset","external_id","to"],"properties":{"nonce":{"description":"Nonce used in construction of `API-Sign` header","type":"string"},"amount":{"description":"The amount to be transferred, denominated in `asset`.","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"}]},"asset":{"description":"The name of the asset to be transferred. It is assumed that this is always a \"currency\" asset.","type":"string"},"note":{"description":"An optional note which will be viewable by both the sender and recipient.","nullable":true,"type":"string"},"return_for":{"description":"An optional external id of another transfer this transfer is a return for.","nullable":true,"type":"string"},"to":{"description":"The kraktag to send the transfer to","type":"string"},"external_id":{"description":"Your (the API user's) unique id to globally identify transfers and requests.\n\nWe will accept anything from 1-16 bytes, the format is base64 without padding ( <https://en.wikipedia.org/wiki/Base64#Decoding_Base64_without_padding> )\n\nThis is the id you will use to identify all transfers and requests in the API and also in the callback we send you.\n\nYou MUST make sure this is commited in your database before calling our API, that way if you don't get a response, you can make the same call again and we'll fail with an error saying your id is already used. (this is the only way to prevent double requests or sends)\n\nWe *highly* recommend you generate and send a UUID here, but if instead you have a database auto-increment id that is 64 bits, just send that, perhaps pre-pended by an application id or something.  The format is completely up to you but keep in mind it must be forever unique across all your transfers and requests.","type":"string"}}},"createPayTransfer-2":{"type":"object","required":["error"],"properties":{"error":{"items":{"description":"General API error.","properties":{"errorClass":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"},"severity":{"description":"API error severity.","enum":["E","W"],"type":"string"},"type":{"type":"string"}},"required":["errorClass","severity","type"],"type":"object"},"type":"array"},"result":{"nullable":true,"type":"object"}}},"cancelPayTransfer":{"type":"object","required":["nonce","external_id"],"properties":{"nonce":{"description":"Nonce used in construction of `API-Sign` header","type":"string"},"external_id":{"description":"Your (the API user's) unique id to globally identify transfers and requests.\n\nWe will accept anything from 1-16 bytes, the format is base64 without padding ( <https://en.wikipedia.org/wiki/Base64#Decoding_Base64_without_padding> )\n\nThis is the id you will use to identify all transfers and requests in the API and also in the callback we send you.\n\nYou MUST make sure this is commited in your database before calling our API, that way if you don't get a response, you can make the same call again and we'll fail with an error saying your id is already used. (this is the only way to prevent double requests or sends)\n\nWe *highly* recommend you generate and send a UUID here, but if instead you have a database auto-increment id that is 64 bits, just send that, perhaps pre-pended by an application id or something.  The format is completely up to you but keep in mind it must be forever unique across all your transfers and requests.","type":"string"}}},"cancelPayTransfer-2":{"type":"object","required":["error"],"properties":{"error":{"items":{"description":"General API error.","properties":{"errorClass":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"},"severity":{"description":"API error severity.","enum":["E","W"],"type":"string"},"type":{"type":"string"}},"required":["errorClass","severity","type"],"type":"object"},"type":"array"},"result":{"nullable":true,"type":"object"}}},"createPaylinkCode":{"required":["nonce","amount","asset","external_id"],"type":"object","properties":{"nonce":{"description":"Nonce used in construction of `API-Sign` header","type":"string"},"amount":{"description":"The amount to be transferred, denominated in `asset`.","oneOf":[{"type":"string"},{"type":"integer"},{"type":"number"}]},"asset":{"description":"The name of the asset to be transferred. It is assumed that this is always a \"currency\" asset.","type":"string"},"note":{"description":"An optional note which will be viewable by both the sender and recipient.","nullable":true,"type":"string"},"external_id":{"description":"Your (the API user's) unique id to globally identify transfers and requests.\n\nWe will accept anything from 1-16 bytes, the format is base64 without padding ( <https://en.wikipedia.org/wiki/Base64#Decoding_Base64_without_padding> )\n\nThis is the id you will use to identify all transfers and requests in the API and also in the callback we send you.\n\nYou MUST make sure this is commited in your database before calling our API, that way if you don't get a response, you can make the same call again and we'll fail with an error saying your id is already used. (this is the only way to prevent double requests or sends)\n\nWe *highly* recommend you generate and send a UUID here, but if instead you have a database auto-increment id that is 64 bits, just send that, perhaps pre-pended by an application id or something.  The format is completely up to you but keep in mind it must be forever unique across all your transfers and requests.","type":"string"}}},"createPaylinkCode-2":{"type":"object","required":["error"],"properties":{"error":{"items":{"description":"General API error.","properties":{"errorClass":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"},"severity":{"description":"API error severity.","enum":["E","W"],"type":"string"},"type":{"type":"string"}},"required":["errorClass","severity","type"],"type":"object"},"type":"array"},"result":{"nullable":true,"type":"object"}}},"getPaylinkCode":{"type":"object","required":["nonce","external_id"],"properties":{"nonce":{"description":"Nonce used in construction of `API-Sign` header","type":"string"},"external_id":{"description":"Your (the API user's) unique id to globally identify transfers and requests.\n\nWe will accept anything from 1-16 bytes, the format is base64 without padding ( <https://en.wikipedia.org/wiki/Base64#Decoding_Base64_without_padding> )\n\nThis is the id you will use to identify all transfers and requests in the API and also in the callback we send you.\n\nYou MUST make sure this is commited in your database before calling our API, that way if you don't get a response, you can make the same call again and we'll fail with an error saying your id is already used. (this is the only way to prevent double requests or sends)\n\nWe *highly* recommend you generate and send a UUID here, but if instead you have a database auto-increment id that is 64 bits, just send that, perhaps pre-pended by an application id or something.  The format is completely up to you but keep in mind it must be forever unique across all your transfers and requests.","type":"string"}}},"getPaylinkCode-2":{"type":"object","required":["error"],"properties":{"error":{"items":{"description":"General API error.","properties":{"errorClass":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"},"severity":{"description":"API error severity.","enum":["E","W"],"type":"string"},"type":{"type":"string"}},"required":["errorClass","severity","type"],"type":"object"},"type":"array"},"result":{"description":"Contains the information about the pending payment that can be shown to the sender.","nullable":true,"properties":{"claim_link":{"description":"The claim link, used to verify and claim the transfer.","type":"string"}},"required":["claim_link"],"type":"object"}}},"getPaylinkConfig":{"type":"object","required":["nonce"],"properties":{"nonce":{"description":"Nonce used in construction of `API-Sign` header","type":"string"}}},"getPaylinkConfig-2":{"type":"object","required":["error"],"properties":{"error":{"items":{"description":"General API error.","properties":{"errorClass":{"type":"string"},"errorMessage":{"nullable":true,"type":"string"},"severity":{"description":"API error severity.","enum":["E","W"],"type":"string"},"type":{"type":"string"}},"required":["errorClass","severity","type"],"type":"object"},"type":"array"},"result":{"nullable":true,"properties":{"expire_time":{"description":"Paylink expiration time (in seconds)","format":"uint64","minimum":0,"type":"integer"}},"required":["expire_time"],"type":"object"}}}}}}